
@{
    ViewBag.Title = "CPL Per Mata Kuliah";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<style>

    .coral {
        color: coral;
    }

    .center {
        align-content: center;
        align-items: center;
        vertical-align: unset;
        align-self: center;
        text-align: center
    }

    .zero-padding {
        padding: 10px 15px !important;
    }

    .vertical-center {
        vertical-align: middle !important;
    }

    .no-border {
        border: 0px !important;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    table.dataTable.no-footer {
        border: none;
    }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 70%;
        left: 50%;
        width: 30%;
        height: 40px;
        margin-left: -20%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background: none;
    }

    thead tr {
        background-color: #FF8A04;
        border: 0;
    }

    .table-spacing {
        border-spacing: 0px 0.5rem !important;
    }

    .body-content {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>

<div class="card center-block" style="background-color: white; margin: 15px;">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
        <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; padding-left: 15px; font-weight: bold; font-size: 20px; color: black; ">
            REPORT CAPAIAN PEMBELAJARAN PER MATA KULIAH
        </h5>
        <hr />
        <div class="container" style="width: 100%; padding-bottom: 15px;">
            <div class="col-md-12">
                <form class="form-horizontal col-md-7">
                    @* batas filter *@

                    <div class="form-group">
                        <label for="inp_tahunAjaran" class="col-sm-3 control-label">Jenjang Studi</label>
                        <div class="col-sm-9">
                            <select name="jenjangStudi" id="jenjangStudi" class="form-control input-md">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fakultas" class="col-sm-3 control-label">Fakultas</label>
                        <div class="col-sm-9">
                            <select name="fakultas" id="fakultas" class="form-control input-md">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="prodi" class="col-sm-3 control-label">Program Studi</label>
                        <div class="col-sm-9">
                            <select name="prodi" id="prodi" class="form-control input-md">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="matkul" class="col-sm-3 control-label">Mata Kuliah (Optional)</label>
                        <div class="col-sm-9">
                            <select name="matkul" id="matkul" class="form-control input-md">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 col-md-offset-10">
                            <button type="button" id="cari" class="btn btn-warning" style="float: right;" title="Mohon untuk melengkapi form pencarian terlebih dahulu!"><span class="fa fa-search"></span> Cari</button>
                        </div>
                    </div>

                    @* batas filter *@
                </form>
            </div>
                @*<table class="table" style="width: auto;">
                    <tr>
                        <td style="text-align: right">Jenjang Studi</td>
                        <td style="width: 400px;">
                            <select name="jenjangStudi" id="jenjangStudi" class="form-control input-md"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Fakultas</td>
                        <td style="width: 400px;">
                            <select name="fakultas" id="fakultas" class="form-control input-md"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Program Studi</td>
                        <td style="width: 400px;">
                            <select name="prodi" id="prodi" class="form-control input-md"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Mata Kuliah<br />(Optional)</td>
                        <td style="width: 400px;">
                            <select name="matkul" id="matkul" class="form-control input-md"></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button id="cari" name="cari" class="btn" style="float: right; background-color: #FF8A04; color: white; padding: 2px 30px; font-weight: bold; font-size: 16px;">CARI</button>
                        </td>
                    </tr>
                </table>*@
                <button id="cetakPDF" name="cetakPDF" class="btn" style="background-color: rgb(209,2,2); padding: 2px 30px; font-weight: bold; color: white; font-size: 16px; ">
                    <i class="fas fa-file-download"></i> CETAK PDF
                </button>
                <button id="cetakExcel" name="cetakExcel" class="btn" style="background-color: rgb(0,166,81); padding: 2px 30px; font-weight: bold; color: white; font-size: 16px; ">
                    <i class="fas fa-file-download"></i>  CETAK EXCEL
                </button>
                <hr />
                <div style="overflow-x: auto;">
                    <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; font-weight: bold; font-size: 18px; color: black; ">
                        DAFTAR MATA KULIAH
                    </h5>
                    <table id="hasilPencarian" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                        <thead>
                            <tr>
                                <th class="zero-padding no-border vertical-center sorting">No.</th>
                                <th class="zero-padding no-border vertical-center sorting">Jenjang Studi</th>
                                <th class="zero-padding no-border vertical-center sorting">Fakultas</th>
                                <th class="zero-padding no-border vertical-center sorting">Program Studi</th>
                                <th class="zero-padding no-border vertical-center sorting">Kode Mata Kuliah</th>
                                <th class="zero-padding no-border vertical-center sorting">Nama Mata Kuliah</th>
                                <th class="zero-padding no-border vertical-center sorting">Kelompok</th>
                                <th class="zero-padding no-border vertical-center sorting">Capaian Pembelajaran</th>
                                <th class="zero-padding no-border vertical-center sorting">Kode</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
@section scripts{
    <script>
        var datatable;
        var role = 0;
        $(document).ready(function () {
            loadJenjangStudi();
            $("#fakultas").select2({
                placeholder: "-- Pilih Fakultas --"
            });
            $("#prodi").select2({
                placeholder: "-- Pilih Program Studi --"
            });
            $("#matkul").select2({
                placeholder: "-- Pilih Matakuliah --"
            });
            datatable = $('#hasilPencarian').DataTable();
        });

        $('#cari').click(function () {
            if (!$('#jenjangStudi').val() || !$('#fakultas').val() || !$('#prodi').val()) {
                alert('Tolong lengkapi data pencarian!');
                return;
            }
            var latest_textMK = $("option:selected:first", "#matkul").text();
            var matkul = latest_textMK;

            if (!$('#matkul').val()) {
                matkul = '';
            }
            datatable.destroy();
            datatable = $('#hasilPencarian').DataTable({
                ajax: {
                    'type': 'POST',

                    'url': '@Url.Action("GetCPLMatkul", "ReportCPLMatkul")',
                    //url: '@Url.Action("GetCPLMatkul", "ReportCPLMatkul")?jenjangStudi=' + $('#jenjangStudi').val() + '&fakultas=' + $('#fakultas').val() + '&prodi=' + $('#prodi').val() + '&matkul=' + matkul,
                    'data': {
                        //strm: $('#tahunSemester').val(),
                        jenjangStudi: $('#jenjangStudi').val(),
                        fakultas: $('#fakultas').select2('data')[0].text,
                        //lokasi: $('#lokasi').select2('data')[0].value,
                        prodi: $('#prodi').val(),
                        matkul: matkul//$('#mataKuliah').select2('data')[0].text
                        //seksi: seksi


                        // etc..
                    },
                    dataSrc: ''
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [
                    [0, 'asc']
                ],
                "columns": [
                    {
                        "data": null
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + $('#jenjangStudi').val() + '</div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + $('#fakultas').select2('data')[0].text + '</div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + $('#prodi').val() + '</div>';
                        }
                    },
                    {
                        "data": "KodeMataKuliah",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "NamaMataKuliah",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "Kelompok",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "MasterCapaianPembelajarans.Capaian",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "MasterCapaianPembelajarans.Kode",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    }
                ]
            });
            datatable.on('order.dt search.dt', function () {
                datatable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
        $('#cetakPDF').click(function () {
            if (!$('#jenjangStudi').val() || !$('#fakultas').val() || !$('#prodi').val()) {
                alert('Tolong lengkapi data pencarian!');
                return;
            }
            //var matkul = $('#matkul').val();
            var latest_textMK = $("option:selected:first", "#matkul").text();
            var latest_textFak = $("option:selected:first", "#fakultas").text();
            var latest_textProd = $("option:selected:first", "#prodi").text();
            var matkul = latest_textMK;
            if (!matkul) {
                matkul = '';
            }
            var url = "@Url.Action("ExportPDF", "ReportCPLMatkul")?jenjangStudi=" + $('#jenjangStudi').val() + '&fakultas=' + latest_textFak + '&prodi=' + latest_textProd + '&matkul=' + encodeURIComponent(matkul);
            var win = window.open(url, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Please allow popups for this website');
            }
        });
        $('#cetakExcel').click(function () {
            if (!$('#jenjangStudi').val() || !$('#fakultas').val() || !$('#prodi').val()) {
                alert('Tolong lengkapi data pencarian!');
                return;
            }
            var latest_textMK = $("option:selected:first", "#matkul").text();
            var latest_textFak = $("option:selected:first", "#fakultas").text();
            var latest_textProd = $("option:selected:first", "#prodi").text();
            var matkul = latest_textMK;
            if (!$('#matkul').val()) {
                matkul = '';
            }
            var url = "@Url.Action("ExportExcel", "ReportCPLMatkul")?jenjangStudi=" + $('#jenjangStudi').val() + '&fakultas=' + latest_textFak + '&prodi=' + latest_textProd + '&matkul=' + encodeURIComponent(matkul);
            var win = window.open(url, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Please allow popups for this website');
            }
        });
        function loadJenjangStudi() {

            $("#fakultas").prop("disabled", true);
            $("#prodi").prop("disabled", true);
            $("#matkul").prop("disabled", true);

            $("#jenjangStudi").select2({
                placeholder: "-- Pilih Jenjang Studi --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("getLookupByTipe", "ReportCPLMatkul")",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Search: params.term || "",
                            Tipe: 'JenjangStudi'
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                        };
                    }
                }
            });
            $("#jenjangStudi").change(function () {
                if ('@HttpContext.Current.Session["RoleName"].ToString()' != 'Admin Fakultas') {

                    $("#fakultas").empty();
                    $("#prodi").empty();
                    $("#matkul").empty();

                    $("#fakultas").prop("disabled", false);
                    $("#prodi").prop("disabled", true);
                    $("#matkul").prop("disabled", true);

                    $("#fakultas").select2({
                        placeholder: "-- Pilih Fakultas --",
                        @*width: "100%",
                        ajax: {
                            url: "@Url.Action("GetFakultasByJenjangStudi", "ReportCPLMatkul")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    JenjangStudi: $('#jenjangStudi').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                };
                            },
                        }*@
                        width: "100%",
                        ajax: {
                            url: "/Admin/ReportCPLMatkul/GetFakultas",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    JenjangStudi: $('#jenjangStudi').val(),
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                                };
                            },
                        }
                    });
                }
                else {
                     //$("#fakultas").empty();
                    $("#prodi").empty();
                    $("#matkul").empty();

                    $("#fakultas").prop("disabled", true);
                    $("#prodi").prop("disabled", false);
                    $("#matkul").prop("disabled", true);

                    $("#prodi").select2({
                        placeholder: "-- Pilih Program Studi --",
                        placeholder: "-- Pilih Program Studi --",
                        width: "100%",
                        ajax: {
                            url: "/Admin/ReportCPLMatkul/GetProdiByFakultas",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    JenjangStudi: $('#jenjangStudi').val(),
                                    IdFakultas: $('#fakultas').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    //results: $.map(data, function (item) { return { id: item.IDProdi, value: item.NamProdi, text: item.NamProdi+' - '+item.Lokasi, lokasi: item.Lokasi } })
                                    results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                };
                            },
                        }
                    });
                    $("#prodi").change(function () {

                        $("#matkul").empty();

                        $("#matkul").prop("disabled", false);
                        var pageLength = 0;
                        $("#matkul").select2({
                             placeholder: "-- Pilih Mata Kuliah --",
                            "proccessing": true,
                            "serverSide": true,
                            //multiple: true,
                            width: "100%",
                            ajax: {
                                url: "/Admin/ReportCPLMatkul/GetMataKuliah",
                                type: 'POST',
                                dataType: 'json',

                                data: function (params) {

                                    return {
                                        take: 10,
                                        searchBy: params.term || "",
                                        skip: params.page || 1,
                                        idProdi: $('#prodi').val(),
                                        idFakultas: $('#fakultas').val()
                                    };
                                },

                                processResults: function (data, params) {

                                    var page = params.page - 1 || 1;
                                    pageLength = pageLength + data.length;

                                    return {
                                        results: $.map(data, function (item) { return { id: item.id, value: item.id, text: item.kode + ' - ' + item.text, name: item.text, kode: item.kode } }),
                                        pagination: {
                                            more: data.length > 0 && data.length == 10
                                        }
                                    }
                                },
                            }

                        });
                    });
                }
                $("#fakultas").change(function () {

                    $("#prodi").empty();
                    $("#matkul").empty();

                    $("#prodi").prop("disabled", false);
                    $("#matkul").prop("disabled", true);

                    $("#prodi").select2({
                        @*placeholder: "-- Pilih Program Studi --",
                        width: "100%",
                        ajax: {
                            url: "@Url.Action("GetProdiByFakultas", "ReportCPLMatkul")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    Fakultas: $('#fakultas').val(),
                                    JenjangStudi: $('#jenjangStudi').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                };
                            },
                        }*@
                        placeholder: "-- Pilih Program Studi --",
                        width: "100%",
                        ajax: {
                            url: "/Admin/ReportCPLMatkul/GetProdiByFakultas",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    JenjangStudi: $('#jenjangStudi').val(),
                                    IdFakultas: $('#fakultas').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    //results: $.map(data, function (item) { return { id: item.IDProdi, value: item.NamProdi, text: item.NamProdi+' - '+item.Lokasi, lokasi: item.Lokasi } })
                                    results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                };
                            },
                        }
                    });
                    $("#prodi").change(function () {

                        $("#matkul").empty();

                        $("#matkul").prop("disabled", false);
                        var pageLength = 0;
                        $("#matkul").select2({
                            @*placeholder: "-- Pilih Mata Kuliah --",
                            width: "100%",
                            ajax: {
                              url: "@Url.Action("GetMatkulByProdi", "ReportCPLMatkul")",

                                dataType: 'json',
                                method: "POST",
                                delay: 250,
                                cache: false,
                                data: function (params) {
                                    return {
                                        Search: params.term || "",
                                        Prodi: $('#prodi').val(),
                                        JenjangStudi: $('#jenjangStudi').val()
                                    };
                                },
                                processResults: function (data, params) {
                                    return {
                                        results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                    };
                                },
                            }*@
                            placeholder: "-- Pilih Mata Kuliah --",
                            "proccessing": true,
                            "serverSide": true,
                            //multiple: true,
                            width: "100%",
                            ajax: {
                                url: "/Admin/ReportCPLMatkul/GetMataKuliah",
                                type: 'POST',
                                dataType: 'json',

                                data: function (params) {

                                    return {
                                        take: 10,
                                        searchBy: params.term || "",
                                        skip: params.page || 1,
                                        idProdi: $('#prodi').val(),
                                        idFakultas: $('#fakultas').val()
                                    };
                                },

                                processResults: function (data, params) {

                                    var page = params.page - 1 || 1;
                                    pageLength = pageLength + data.length;

                                    return {
                                        results: $.map(data, function (item) { return { id: item.id, value: item.id, text: item.kode + ' - ' + item.text, name: item.text, kode: item.kode } }),
                                        pagination: {
                                            more: data.length > 0 && data.length == 10
                                        }
                                    }
                                },
                            }

                        });
                        //$("#matkul").change(function () {

                        //    //$("#matakuliahNamaCari").removeAttr('value');
                        //    var matakuliah = $(this).select2('data')[0].name;
                        //    var matakuliahkode = $(this).select2('data')[0].kode;
                        //    //$("#matakuliahNamaCari").val(matakuliah);

                        //    //$("#matakuliahKodeCari").val(matakuliahkode);
                        //    //$("#matakuliahIdCari").val($(this).val());

                        //    //buttonHandler("open");

                        //});
                    });
                });
            });
            cekRole();
        }
        function appendZero(string, length) {
            string += "";
            while (string.length < length) {
                string = "0" + string;
            }
            return string;
        }
        function cekRole() {
            if ('@HttpContext.Current.Session["RoleName"].ToString()' == 'Admin Fakultas') {
                role = 1;
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetInformasiKampusByFakultas", "ReportCPLMatkul")"
                }).then(function (response) {
                    //var option = $("<option selected='selected'></option>").val(response.JenjangStudi).text(response.JenjangStudi);
                    //$("#jenjangStudi").append(option).trigger('change');
                    //$("#jenjangStudi").prop("disabled", true);
                    var option = $("<option selected='selected'></option>").val('@HttpContext.Current.Session["KodeFakultas"].ToString()').text(response.Fakultas);
                    $("#fakultas").append(option).trigger('change');
                    $("#fakultas").prop("disabled", true);
                    $("#prodi").prop("disabled", false);
                });
            } @*else if (
                '@HttpContext.Current.Session["RoleName"].ToString()' == 'Kepala Program Studi'
                || '@HttpContext.Current.Session["RoleName"].ToString()' == 'Dosen'
            ) {
                role = 2;
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetInformasiKampusByProdi", "ReportCPLMatkul")"
                }).then(function (response) {
                    var option = $("<option selected='selected'></option>").val(response.JenjangStudi).text(response.JenjangStudi);
                    $("#jenjangStudi").append(option).trigger('change');
                    $("#jenjangStudi").prop("disabled", true);
                    option = $("<option selected='selected'></option>").val(response.Fakultas).text(response.Fakultas);
                    $("#fakultas").append(option).trigger('change');
                    $("#fakultas").prop("disabled", true);
                    option = $("<option selected='selected'></option>").val(response.Prodi).text(response.Prodi);
                    $("#prodi").append(option).trigger('change');
                    $("#prodi").prop("disabled", true);
                    $("#matkul").prop("disabled", false);
                });
            }*@
        }
    </script>
}