@{
    ViewBag.Title = "Bap";
}
@model MBKM.Entities.ViewModel.VMListReportBAP
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; padding-left: 0px; font-weight: bold; font-size: 20px; color: black; ">
        FORMULIR




    </h5>
    <h5 class="card-title" style="padding-top: 0px; padding-right: 15px; padding-left: 0px; font-weight: bold; font-size: 20px; color: black; ">



        DOKUMENTASI KEGIATAN PERKULIAHAN ONLINE
        <p style="font-weight: normal; font-size: 15px;font-style:italic; ">Sebagai Pengganti Perkuliahan Tatap Muka</p>
    </h5>
    @*<div style="text-align:right">@Html.ActionLink("Print BAP", "PrintDetail")</div>*@

    <div style="text-align:right">

        @*<button onclick="@Url.Action("PrintDetail", "SummaryPresensi")" ;class="btn btn-success"><i class="fas fa-plus-circle"></i> Download pdf</button>*@
        @*<input type="button" value="Download PDF" onclick="location.href='@Url.Action("PrintDetail", "SummaryPresensi")?id='+ @Model" />*@
        @*<a href="javascript:void(0)" style="color:black" onclick="@Url.Action("PrintDetail", "SummaryPresensi")"><i class="fas fa-edit"></i></a>*@
    </div>

    <table style="width:100%">
        <tr>
            <th>NIM:</th>
            <td id="nim">@Model.NIM</td>

            <th>Program Studi:</th>
            <td id="prodi">@Model.NamaProdi</td>
        </tr>
        <tr>
            <th>Nama Mahasiswa:</th>
            <td id="nama">@Model.Nama</td>

            <th>Nama Mata Kuliah:</th>
            <td id="namaMK">@Model.NamaMatakuliah</td>
        </tr>
        <tr>
            <th>Universitas Asal:</th>
            <td id="univ">@Model.NamaUniversitas</td>

            <th>Kode Mata Kuliah:</th>
            <td id="kodeMK">@Model.KodeMataKuliah</td>
        </tr>
        <tr>
            <th></th>
            <td></td>
            <th>Seksi:</th>
            <td id="seksi">@Model.ClassSection</td>
        </tr>
    </table>
    <br>
    <br>
    <br>

    <table style="width:100%">
        <tr>
            <th hidden>Tanggal Pertemuan</th>
            <th>Tanggal Pertemuan</th>
            <th>Topik Perkuliahan Sesuai RPS</th>
            <th>Penyesuaian Bentuk Pembelajaran dengan online learning (metode dan aktivitas)</th>
            <th>Platform/aplikasi yang digunakan</th>
            <th>Kehadiran Mahasiswa</th>
            @*<th>Evaluasi Perkuliahan online</th>*@
            <th>Dosen</th>
        </tr>
        <tr>
            <td hidden id="tanggal"></td>
            <td id="tanggal2">@Model.TANGGAL</td>
            @*tanggal pertemuan*@
            @{
                //Model.AdminPractice == null || Model.AdminPractice.TimeNotes == null
                if (Model == null || Model.COMMENTS == null)
                {
                    <td id="topik"></td>
                }
                else
                {
                    <td id="topik">@Model.COMMENTS</td>
                }
            }
            @*topik perkuliahan*@
            @{
                //Model.AdminPractice == null || Model.AdminPractice.TimeNotes == null
                if (Model == null || Model.BENTUK == null)
                {
                    <td id="metode"></td>
                }
                else
                {
                    <td id="metode">@Model.BENTUK</td>
                }
            }

            @*metode dan aktivitas*@
            @{
                //Model.AdminPractice == null || Model.AdminPractice.TimeNotes == null
                if (Model == null || Model.PLATFORM == null)
                {
                    <td id="platform"></td>
                }
                else
                {
                    <td id="platform">@Model.PLATFORM</td>
                }
            }

            @*<td id="platform">@Model.PLATFORM</td>*@
            @*platform yangdigunakan*@
            @{
                //Model.AdminPractice == null || Model.AdminPractice.TimeNotes == null
                if (Model.Present == true)
                {
                    <td id="present">Hadir</td>
                }
                else
                {
                    <td id="platform"style="color:red">Tidak Hadir</td>
                }
            }
            
            @*status kehadira*@

            <td id="dosen">@Model.NamaDosen</td>
            @*Dosen pengajar*@
        </tr>
    </table>
    <br />
    <br />
</body>
</html>

@section Scripts{
    <script>
        
    </script>

}
