
@{
    ViewBag.Title = "DHK";
    Layout = "";
    int i = 1;
    var mahasiswas = ((IEnumerable<MBKM.Entities.ViewModel.VMDHK>)ViewData["mahasiswas"]).ToList();
    int index = 0;
    for (int j = 0; j < 40; j++)
    {
        var tmp2 = new MBKM.Entities.ViewModel.VMDHK();
        tmp2.Nama = mahasiswas[0].Nama + index++;
        mahasiswas.Add(tmp2);
    }
    int pageSize = 20;
    decimal tmp = (decimal)(mahasiswas.Count / (decimal)pageSize);
    int page = (int)Math.Ceiling(tmp);
    bool cek = false;
}
<head>


    @Styles.Render("~/Content/css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/modernizr")


</head>
<style>

    .box {
        border: solid 1px black;
        padding: 15px 25px;
        margin: 15px 0px;
    }

    body {
        font-family: 'Roboto';
        padding-top: 0px;
    }

    a:hover {
        cursor: pointer;
    }

    input {
        max-width: 100%;
    }

    select {
        max-width: 100%;
    }

    th {
        background: #B5E0F1;
        font-size: 14px;
    }

    #daga {
        display: inline-block;
    }

        #daga td {
            font-size: 14px;
        }

    .sempit {
        line-height: 10px;
    }

    .mhsList {
        padding: 5px 10px;
        font-size: 14px;
    }
</style>
@{
    for (int j = 0; j < page; j++)
    {
        <div class="container" style="width: 100%; page-break-before: always; padding-top: 25px;">
            @* box orange *@
            <div style="border: solid; padding: 0px 15px;">
                <img src="~/Asset/Lambang_Unika_Atma_Jaya.png" style="max-height: 75px; margin: 15px 25px;float:left" />
                <h4 style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black; text-align:right">
                    DAFTAR HADIR
                    <br />
                </h4>
                <br />
                <br />
                <div id="daga">
                    <table>
                        <tr>
                            <td style="font-weight:bold;">SEMESTER</td>
                            <td style="padding:5px"> : </td>
                            <td style="padding-right: 30px;">@ViewData["semester"].ToString()</td>

                            <td style="font-weight:bold">SEKSI</td>
                            <td style="padding:5px"> : </td>
                            <td id="seksi">@ViewData["seksi"].ToString()</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">PROGRAM STUDI</td>
                            <td style="padding:5px"> : </td>
                            <td id="prodi">@ViewData["prodi"].ToString()</td>

                            <td style="font-weight:bold">KOMPONEN</td>
                            <td style="padding:5px"> : </td>
                            <td>@ViewData["komponen"]</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">KODE MATAKULIAH</td>
                            <td style="padding:5px"> : </td>
                            <td id="kodeMK">@ViewData["kodeMK"].ToString()</td>

                            <td style="font-weight:bold">HARI</td>
                            <td style="padding:5px"> : </td>
                            <td id="hari">@ViewData["hari"].ToString()</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">NAMA MATAKULIAH</td>
                            <td style="padding:5px"> : </td>
                            <td id="namaMK">@ViewData["namaMK"].ToString()</td>

                            <td style="font-weight:bold">JAM</td>
                            <td style="padding:5px"> : </td>
                            <td id="jam">@ViewData["jam"].ToString()</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">SKS</td>
                            <td style="padding:5px"> : </td>
                            <td id="sks">@ViewData["sks"].ToString()</td>

                            <td style="font-weight:bold">RUANG</td>
                            <td style="padding:5px"> : </td>
                            <td id="ruang">@ViewData["ruang"].ToString()</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">DOSEN</td>
                            <td style="padding:5px"> : </td>
                            <td id="dosen">
                                @foreach (var item in (IEnumerable<MBKM.Entities.ViewModel.VMDosenMakulPertemuan>)ViewData["dosens"])
                                {
                                    <div>
                                        @item.Instructor_id - @item.NamaDosen
                                    </div>
                                }
                            </td>

                            <td style="font-weight:bold">HALAMAN</td>
                            <td style="padding:5px"> : </td>
                            <td>@(j+1) dari <a class="page">@page</a> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="container" style="width: 100%;">
            <table width="100%" border="1">
                <tr>
                    <th rowspan="2" width="5%" scope="rowgroup" style="height:48px; text-align:center; vertical-align: middle">NO.</th>
                    <th rowspan="2" width="20%" scope="rowgroup" style="text-align: center; vertical-align: middle">STUDENT ID </th>
                    <th rowspan="2" width="30%" scope="rowgroup" style="text-align: center; vertical-align: middle">NAMA MAHASISWA</th>
                    <th rowspan="2" width="10%" scope="rowgroup" style="text-align: center; vertical-align: middle">CEKAL</th>
                    <th colspan="5" width="35%" scope="colgroup" style="text-align: center; vertical-align: middle">TANGGAL</th>
                </tr>
                <tr style="color: white;">
                    <td style="height: 24px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                @{
                    int n = pageSize * j + pageSize;
                    if (mahasiswas.Count - pageSize * j == mahasiswas.Count % pageSize)
                    {
                        //lastPage
                        n = mahasiswas.Count;
                        if (pageSize - (mahasiswas.Count % pageSize) < 6)
                        {
                            cek = true;
                        }

                    }
                    for (int k = pageSize * j; k < n; k++)
                    {
                        <tr>
                            <td class="mhsList start padding0"><center> @i </center></td>
                            <td class="mhsList">@mahasiswas[k].StudentID</td>
                            <td class="mhsList">@mahasiswas[k].Nama</td>
                            <td class="mhsList"></td>
                            <td class="mhsList"></td>
                            <td class="mhsList"></td>
                            <td class="mhsList"></td>
                            <td class="mhsList"></td>
                            <td class="mhsList"></td>
                        </tr>
                        i++;
                    }
                }
            </table>
        </div>
    }
}
@{
    if (!cek)
    {
        <br />
        <div class="container" style="width: 100%; bottom: 0">
            HANYA DIISI UNTUK ABSENSI UJIAN (<i>ONLY APPLICABLE FOR EXAM ATTENDANCE</i>)
            <table width="100%" border="1">
                <tr>
                    <td width="40%" scope="rowgroup" style="height:30px; text-align:center; vertical-align: middle">BERITA ACARA UJIAN</td>
                    <td width="30%" scope="rowgroup" style="text-align: center; vertical-align: middle">NAMA PENGAWAS UJIAN</td>
                    <td width="30%" scope="rowgroup" style="text-align: center; vertical-align: middle">PARAF</td>
                </tr>
                <tr>
                    <td rowspan="2" scope="rowgroup" style="height: 90px;center; vertical-align: middle"></td>
                    <td scope="rowgroup" style="text-align: center; vertical-align: middle"></td>
                    <td scope="rowgroup" style="text-align: center; vertical-align: middle"></td>
                </tr>
                <tr>
                    <td scope="rowgroup" style="text-align: center; vertical-align: middle"></td>
                    <td scope="rowgroup" style="text-align: center; vertical-align: middle"></td>
                </tr>
            </table>
        </div>
    }
    else
    {
        page++;
        <div class="container" style="width: 100%; page-break-before: always; padding-top: 25px;">
            @* box orange *@
            <div style="border: solid; padding: 0px 15px;">
                <img src="~/Asset/Lambang_Unika_Atma_Jaya.png" style="max-height: 75px; margin: 15px 25px;float:left" />
                <h4 style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black; text-align:right">
                    DAFTAR HADIR
                    <br />
                </h4>
                <br />
                <br />
                <div id="daga">
                    <table>
                        <tr>
                            <td style="font-weight:bold;">SEMESTER</td>
                            <td style="padding:5px"> : </td>
                            <td style="padding-right: 30px;">@ViewData["semester"].ToString()</td>

                            <td style="font-weight:bold">SEKSI</td>
                            <td style="padding:5px"> : </td>
                            <td id="seksi">@ViewData["seksi"].ToString()</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">PROGRAM STUDI</td>
                            <td style="padding:5px"> : </td>
                            <td id="prodi">@ViewData["prodi"].ToString()</td>

                            <td style="font-weight:bold">KOMPONEN</td>
                            <td style="padding:5px"> : </td>
                            <td>@ViewData["komponen"]</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">KODE MATAKULIAH</td>
                            <td style="padding:5px"> : </td>
                            <td id="kodeMK">@ViewData["kodeMK"].ToString()</td>

                            <td style="font-weight:bold">HARI</td>
                            <td style="padding:5px"> : </td>
                            <td id="hari">@ViewData["hari"].ToString()</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">NAMA MATAKULIAH</td>
                            <td style="padding:5px"> : </td>
                            <td id="namaMK">@ViewData["namaMK"].ToString()</td>

                            <td style="font-weight:bold">JAM</td>
                            <td style="padding:5px"> : </td>
                            <td id="jam">@ViewData["jam"].ToString()</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">SKS</td>
                            <td style="padding:5px"> : </td>
                            <td id="sks">@ViewData["sks"].ToString()</td>

                            <td style="font-weight:bold">RUANG</td>
                            <td style="padding:5px"> : </td>
                            <td id="ruang">@ViewData["ruang"].ToString()</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">DOSEN</td>
                            <td style="padding:5px"> : </td>
                            <td id="dosen">
                                @foreach (var item in (IEnumerable<MBKM.Entities.ViewModel.VMDosenMakulPertemuan>)ViewData["dosens"])
                                {
                                    <div>
                                        @item.Instructor_id - @item.NamaDosen
                                    </div>
                                }
                            </td>

                            <td style="font-weight:bold">HALAMAN</td>
                            <td style="padding:5px"> : </td>
                            <td>@page dari <a class="page">@page</a> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="container" style="width: 100%; bottom: 0">
            HANYA DIISI UNTUK ABSENSI UJIAN (<i>ONLY APPLICABLE FOR EXAM ATTENDANCE</i>)
            <table width="100%" border="1">
                <tr>
                    <td width="40%" scope="rowgroup" style="height:30px; text-align:center; vertical-align: middle">BERITA ACARA UJIAN</td>
                    <td width="30%" scope="rowgroup" style="text-align: center; vertical-align: middle">NAMA PENGAWAS UJIAN</td>
                    <td width="30%" scope="rowgroup" style="text-align: center; vertical-align: middle">PARAF</td>
                </tr>
                <tr>
                    <td rowspan="2" scope="rowgroup" style="height: 90px;center; vertical-align: middle"></td>
                    <td scope="rowgroup" style="text-align: center; vertical-align: middle"></td>
                    <td scope="rowgroup" style="text-align: center; vertical-align: middle"></td>
                </tr>
                <tr>
                    <td scope="rowgroup" style="text-align: center; vertical-align: middle"></td>
                    <td scope="rowgroup" style="text-align: center; vertical-align: middle"></td>
                </tr>
            </table>
        </div>
    }
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@*@RenderSection("scripts", required: true)*@
<script src="~/Scripts/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $(".page").html('@page');
        window.print();
    });

</script>