
@{
    ViewBag.Title = "DHK";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

@section css{

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <style>

        .coral {
            color: coral;
        }

        .center {
            align-content: center;
            align-items: center;
            vertical-align: unset;
            align-self: center;
            text-align: center
        }

        .zero-padding {
            padding: 10px 15px !important;
        }

        .vertical-center {
            vertical-align: middle !important;
        }

        .no-border {
            border: 0px !important;
        }

        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        table.dataTable.no-footer {
            border: none;
        }

        .dataTables_wrapper .dataTables_processing {
            position: absolute;
            top: 70%;
            left: 50%;
            width: 30%;
            height: 40px;
            margin-left: -20%;
            margin-top: -25px;
            padding-top: 20px;
            text-align: center;
            font-size: 1.2em;
            background: none;
        }

        thead tr {
            background-color: #FF8A04;
            border: 0;
        }

        .table-spacing {
            border-spacing: 0px 0.5rem !important;
        }

        .body-content {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    </style>
}
@section modal{
    <div class="modal fade" id="TambahMasterMapingCapaianPembelajaran" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="modal-inner">

        </div>
    </div>
}

<div class="container-fluid" style="padding: 0px">
    <div class="card center-block" style="background-color: white; width: 100%; padding: 0px">
        <div class="card-body responsive-content" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 3px solid coral; padding: 15px">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                CETAK DAFTAR HADIR KULIAH (DHK)<br />

            </h4>
            <hr />
                <table class="table" style="width: auto;">
                    <tr>
                        <td style="text-align: right">Tahun Semester</td>
                        <td style="width: 400px;">
                            <select name="tahunSemester" id="tahunSemester" class="form-control input-md"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Jenjang Studi</td>
                        <td style="width: 400px;">
                            <select name="jenjangStudi" id="jenjangStudi" class="form-control input-md"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Fakultas</td>
                        <td style="width: 400px;">
                            <select name="fakultas" id="fakultas" class="form-control input-md">
                                @{
                                    if (ViewData["KodeFakultas"] != "")
                                    {
                                        <option value="@ViewData["KodeFakultas"]" selected>@ViewData["NamaFakultas"]</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Program Studi</td>
                        <td style="width: 400px;">
                            <select name="prodi" id="prodi" class="form-control input-md"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Lokasi</td>
                        <td style="width: 400px;">
                            <select name="lokasi" id="lokasi" class="form-control input-md"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Mata Kuliah</td>
                        <td style="width: 400px;">
                            <select name="mataKuliah" id="mataKuliah" class="form-control input-md"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Seksi (Optional)</td>
                        <td style="width: 400px;">
                            <select name="seksi" id="seksi" class="form-control input-md"></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="button" id="cari" class="btn btn-warning" style="float: right;" title="Mohon untuk melengkapi form pencarian terlebih dahulu!" disabled><span class="fa fa-search"></span> Cari</button>
                        </td>
                    </tr>
                </table>
                <hr />
                <div style="overflow-x: auto;">
                    <table id="table-data-master-mapping-cpl" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                        <thead>
                            <tr>
                                <th class="zero-padding no-border vertical-center sorting">Unduh DHK</th>
                                <th class="zero-padding no-border vertical-center sorting">No.</th>
                                <th class="zero-padding no-border vertical-center sorting">Tahun Semester</th>
                                <th class="zero-padding no-border vertical-center sorting">Jenjang Studi</th>
                                <th class="zero-padding no-border vertical-center sorting">Fakultas</th>
                                <th class="zero-padding no-border vertical-center sorting">Program Studi</th>
                                <th class="zero-padding no-border vertical-center sorting">Kode Mata Kuliah</th>
                                <th class="zero-padding no-border vertical-center sorting">Nama Mata Kuliah</th>
                                <th class="zero-padding no-border vertical-center sorting">SKS</th>
                                <th class="zero-padding no-border vertical-center sorting">Seksi</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Admin/MasterMapingCapaianPembelajaran/main.js"></script>
    <script src="~/Scripts/Admin/LinkFasilitasAdmin/crud.js"></script>
    <script src="~/Scripts/loading/loadingoverlay.min.js"></script>
    <script>
        var datatable = null;
        $(document).ready(function () {
            var getFakultas = $("#fakultas").val();
            if (getFakultas === "") {
                $("#jenjangStudi").select2({
                    placeholder: "-- Pilih Jenjang Studi --",
                    width: "100%"
                });
                $("#fakultas").select2({
                    placeholder: "-- Pilih Fakultas --",
                    width: "100%"
                });
                $("#prodi").select2({
                    placeholder: "-- Pilih Program Studi --",
                    width: "100%"
                });
                $("#lokasi").select2({
                    placeholder: "-- Pilih Lokasi --",
                    width: "100%"
                });
                $("#mataKuliah").select2({
                    placeholder: "-- Pilih Mata Kuliah --",
                    width: "100%"
                });
                $("#seksi").select2({
                    placeholder: "-- Pilih Seksi --",
                    width: "100%"
                });
                datatable = $('#table-data-master-mapping-cpl').DataTable();
                loadJenjangStudi();
            }
            else {
                $("#fakultas").prop("disabled", true);
                $("#jenjangStudi").select2({
                    placeholder: "-- Pilih Jenjang Studi --",
                    width: "100%"
                });
                $("#fakultas").select2({
                    placeholder: "-- Pilih Fakultas --",
                    width: "100%"
                });
                $("#prodi").select2({
                    placeholder: "-- Pilih Program Studi --",
                    width: "100%"
                });
                $("#lokasi").select2({
                    placeholder: "-- Pilih Lokasi --",
                    width: "100%"
                });
                $("#mataKuliah").select2({
                    placeholder: "-- Pilih Mata Kuliah --",
                    width: "100%"
                });
                $("#seksi").select2({
                    placeholder: "-- Pilih Seksi --",
                    width: "100%"
                });
                datatable = $('#table-data-master-mapping-cpl').DataTable();
                loadJenjangStudi();
            }
        });
        function buttonHandler(param) {
            if (param == "open") {
                $('#cari, #add').removeAttr("disabled");
                $('#cari, #add').removeAttr("title");
            } else if (param == "close") {
                $('#cari, #add').attr("disabled", "disabled");
                $('#cari').attr("title", "Mohon untuk melengkapi form pencarian terlebih dahulu!");
                $('#add').attr("title", "Mohon untuk melengkapi form pencarian terlebih dahulu!");
            } else {
                console.log("error : access");
            }

        }
        $('#cari').click(function () {
            reloadDatatable();
        });
        function convertMilisecondToDate(value) {
            var num = parseInt(value.match(/\d+/), 10)
            var date = new Date(num);
            var result = ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + date.getFullYear()
            return result;

        }

        function reloadDatatable() {
            var seksi = $('#seksi').val();
            if (!$('#seksi').val()) {
                seksi = '';
            }
            var param =
                'strm=' + $('#tahunSemester').val() +
                '&jenjangStudi=' + $('#jenjangStudi').val() +
                //'&fakultas=' + $('#fakultas').val() +
                '&fakultas=' + $('#fakultas').select2('data')[0].text +
                '&prodi=' + $('#prodi').val() +
                '&lokasi=' + $('#lokasi').select2('data')[0].value +
                //'&lokasi=' + $('#lokasi').val() +
                //'&matkul=' + $('#mataKuliah').val() +
                '&matkul=' + $('#mataKuliah').select2('data')[0].text +
                '&seksi=' + seksi;

            datatable.destroy();

            datatable = $('#table-data-master-mapping-cpl').DataTable({
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "paging": false,
                    "targets": 0,
                }],
                "order": [[1, 'asc']],
                "ajax": {
                    url: '/Admin/daftarhadir/SearchList?' + param,
                    type: 'POST',
                    dataSrc: ''
                },
                "columns": [
                    {
                        "data": "ID",
                        "render": function (data, type, row, meta) {
                            return `<div class="row justify-content-center">
                                <div class="col" style="text-align:center">
                                    <div class="col" style="text-align:center"><a href="javascript:void(0)" style="color:black" onclick="DetailDHK('${data}')"><i class="fas fa-file-download coral"></i></i></a></div>
                                </div>
                            </div>`;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + $('#tahunSemester').select2('data')[0].text + '</div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + $('#jenjangStudi').val() + '</div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + $('#fakultas').val() + '</div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + $('#prodi').val() + '</div>';
                        }
                    },
                    {
                        "data": "KodeMataKuliah",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "NamaMataKuliah",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "SKS",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "ClassSection",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                ],
                "createdRow": function (row, data, index) {
                    $('td', row).css({
                        'border': '1px solid coral',
                        'border-collapse': 'collapse',
                        'vertical-align': 'center',
                    });

                }
            });
        }


        function loadJenjangStudi() {

            var getFakultas = $("#fakultas").val();
            console.log(getFakultas);

            if (getFakultas == null || getFakultas =="") { //if not admin fakultas
                $("#jenjangStudi").prop("disabled", true);
                $("#fakultas").prop("disabled", true);
                $("#prodi").prop("disabled", true);
                $("#lokasi").prop("disabled", true);
                $("#mataKuliah").prop("disabled", true);
                $("#seksi").prop("disabled", true);

                $("#tahunSemester").select2({
                    placeholder: "-- Pilih Tahun Semester --",
                    width: "100%",
                    ajax: {
                        url: "@Url.Action("GetSemesterAll2", "DaftarHadir")",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                            };
                        }
                    }
                });
                $("#tahunSemester").change(function () {

                    $("#jenjangStudi").empty();
                    $("#fakultas").empty();
                    $("#prodi").empty();
                    $("#lokasi").empty();
                    $("#mataKuliah").empty();
                    $("#seksi").empty();

                    $("#jenjangStudi").prop("disabled", false);
                    $("#fakultas").prop("disabled", true);
                    $("#prodi").prop("disabled", true);
                    $("#lokasi").prop("disabled", true);
                    $("#mataKuliah").prop("disabled", true);
                    $("#seksi").prop("disabled", true);

                    $("#jenjangStudi").select2({
                        placeholder: "-- Pilih Jenjang Studi --",
                        width: "100%",
                        ajax: {
                            url: "@Url.Action("getLookupByTipe", "DaftarHadir")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Tipe: 'JenjangStudi'
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                                };
                            }
                        }
                    });
                    $("#jenjangStudi").change(function () {
                        buttonHandler("close");

                        $("#fakultas").empty();
                        $("#prodi").empty();
                        $("#lokasi").empty();
                        $("#mataKuliah").empty();
                        $("#seksi").empty();

                        $("#fakultas").prop("disabled", false);
                        $("#prodi").prop("disabled", true);
                        $("#lokasi").prop("disabled", true);
                        $("#mataKuliah").prop("disabled", true);
                        $("#seksi").prop("disabled", true);

                        $("#fakultas").select2({
                            placeholder: "-- Pilih Fakultas --",
                            width: "100%",
                            ajax: {
                            @*url: "@Url.Action("GetFakultasByJenjangStudi", "PresensiKelas")",*@
                                url: "/Admin/DaftarHadir/GetFakultas",
                                dataType: 'json',
                                method: "POST",
                                delay: 250,
                                cache: false,
                                data: function (params) {
                                    return {
                                        Search: params.term || "",
                                        JenjangStudi: $('#jenjangStudi').val()
                                    };
                                },
                                processResults: function (data, params) {
                                    return {
                                        results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                                    };
                                },
                            }
                        });
                        $("#fakultas").change(function () {
                            buttonHandler("close");

                            $("#prodi").empty();
                            $("#lokasi").empty();
                            $("#mataKuliah").empty();
                            $("#seksi").empty();

                            $("#prodi").prop("disabled", false);
                            $("#lokasi").prop("disabled", true);
                            $("#mataKuliah").prop("disabled", true);
                            $("#seksi").prop("disabled", true);

                            $("#prodi").select2({
                                placeholder: "-- Pilih Program Studi --",
                                width: "100%",
                                ajax: {
                                    url: "@Url.Action("GetProdiByFakultas", "DaftarHadir")",
                                    dataType: 'json',
                                    method: "POST",
                                    delay: 250,
                                    cache: false,
                                    data: function (params) {
                                        return {
                                            Search: params.term || "",
                                            //Fakultas: $('#fakultas').val(),
                                            Fakultas: $('#fakultas').select2('data')[0].text,
                                            JenjangStudi: $('#jenjangStudi').val()
                                        };
                                    },
                                    processResults: function (data, params) {
                                        return {
                                            results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                        };
                                    },
                                }
                            });
                            $("#prodi").change(function () {
                                buttonHandler("close");

                                $("#lokasi").empty();
                                $("#mataKuliah").empty();
                                $("#seksi").empty();

                                $("#lokasi").prop("disabled", false);
                                $("#mataKuliah").prop("disabled", true);
                                $("#seksi").prop("disabled", true);

                                $("#lokasi").select2({
                                    placeholder: "-- Pilih Lokasi --",
                                    width: "100%",
                                    ajax: {
                                    @*url: "@Url.Action("GetLokasiByProdi", "PresensiKelas")",*@
                                        url: "/Admin/DaftarHadir/GetLokasiByProdi",
                                        dataType: 'json',
                                        method: "POST",
                                        delay: 250,
                                        cache: false,
                                        data: function (params) {
                                            return {
                                                Search: params.term || "",
                                                NamaProdi: $('#prodi').val(),
                                                JenjangStudi: $('#jenjangStudi').val()
                                            };
                                        },
                                        processResults: function (data, params) {
                                            return {
                                                results: $.map(data, function (item) { return { id: item.ID, value: item.Kampus, text: item.Kampus } })
                                            };
                                        },
                                    }
                                });
                                $("#lokasi").change(function () {
                                    buttonHandler("close");

                                    $("#mataKuliah").empty();
                                    $("#seksi").empty();

                                    $("#mataKuliah").prop("disabled", false);
                                    $("#seksi").prop("disabled", true);

                                    //console.log($('#prodi').val());
                                    //    console.log($('#lokasi').val());
                                    console.log($('#fakultas').select2('data')[0].text);
                                    //        console.log($('#jenjangStudi').val());
                                    //                console.log(    $('#tahunSemester').select2('data')[0].id);
                                    //        console.log($('#lokasi').select2('data')[0].value);
                                    var pageLength = 0;
                                    $("#mataKuliah").select2({
                                        placeholder: "-- Pilih Mata Kuliah --",
                                        "proccessing": true,
                                        "serverSide": true,
                                        //multiple: true,
                                        width: "100%",
                                        ajax: {
                                            //url: "/Admin/DaftarHadirUjian/GetMataKuliah",
                                            url: "/Admin/daftarHadir/GetMataKuliahFlag",
                                            type: 'POST',
                                            dataType: 'json',

                                            data: function (params) {
                                                // console.log('page : ' + params.page);
                                                // console.log('p number : ' + (params.page - 1) * 10);

                                                return {
                                                    take: 10,
                                                    searchBy: params.term || "",
                                                    skip: params.page || 0,
                                                    //idProdi: $('#lokasiCari').select2('data')[0].id,
                                                    idProdi: $('#prodi').val(),
                                                    idProdi: $('#lokasi').val(),
                                                    idFakultas: $('#fakultas').val(),
                                                    jenjangStudi: $('#jenjangStudi').val(),
                                                    strm: $('#tahunSemester').select2('data')[0].id,
                                                    lokasi: $('#lokasi').select2('data')[0].value

                                                    // Search: params.term || "",
                                                    //STRM: $('#tahunSemester').val(),
                                                    //Prodi: $('#prodi').val(),
                                                    //Lokasi: $('#lokasi').val(),
                                                    //JenjangStudi: $('#jenjangStudi').val()
                                                };
                                            },

                                            processResults: function (data, params) {

                                                var page = params.page - 1 || 1;
                                                pageLength = pageLength + data.length;



                                                return {
                                                    results: $.map(data, function (item) { return { id: item.MataKuliahID, value: item.MataKuliahID, text: item.KodeMataKuliah + ' - ' + item.NamaMataKuliah, name: item.NamaMataKuliah, kode: item.KodeMataKuliah } }),
                                                    pagination: {
                                                        more: data.length > 0 && data.length == 10
                                                    }
                                                }
                                            },

                                            /*
                                               data: function (params) {


                                                params.length = 10;
                                                if (params.page > 1) {
                                                    params.skip = params.page * params.length - (params.length - 1);
                                                    start = params.skip - 1;
                                                    end = params.skip - 1 + params.length;
                                                } else {
                                                    start = 0;
                                                    end = 10;
                                                }

                                                return {

                                                    //search: params.term,
                                                    //instansi: $('#namaUniversitas').val(),
                                                    //length: params.length || 10,
                                                    //skip: params.skip || 0


                                                     page: params.page || 0,
                                                     skip: params.skip || 10,
                                                     take: params.length || 10,
                                                     searchBy: params.term,
                                                     idProdi: $('#prodiIdCari').val(),
                                                     idFakultas: $('#fakultasCari').val()

                                                };
                                            },
                                            processResults: function (data, page) {


                                                //console.log(data);
                                                //console.log(data[0]);
                                                //console.log(data.slice(start, end));
                                                //console.log("st"+start);
                                                //console.log("ed"+end);
                                                //console.log(data.slice(start, end));

                                                return {
                                                    results: $.map(data.slice(start, end), function (item) { return { id: item.id, value: item.id, text: item.text, title: item.kode } }),
                                                    pagination: {
                                                        more: true
                                                    }
                                                }

                                            },*/
                                        }
                                    });
                                    //console.log($('#mataKuliah').select2('data')[0].name);

                                    @*placeholder: "-- Pilih Mata Kuliah --",
                                    width: "100%",
                                    ajax: {
                                        url: "@Url.Action("GetMatkulByLokasi", "DaftarHadir")",
                                        dataType: 'json',
                                        method: "POST",
                                        delay: 250,
                                        cache: false,
                                        data: function (params) {
                                            return {
                                                Search: params.term || "",
                                                STRM: $('#tahunSemester').val(),
                                                Prodi: $('#prodi').val(),
                                                Lokasi: $('#lokasi').val(),
                                                JenjangStudi: $('#jenjangStudi').val()
                                            };
                                        },
                                        processResults: function (data, params) {
                                            return {
                                                results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                            };
                                        },
                                    }
                                });*@
                                    $("#mataKuliah").change(function () {
                                        //buttonHandler("close");
                                        buttonHandler("open");

                                        $("#seksi").empty();

                                        $("#seksi").prop("disabled", false);
                                        var mk = $('#mataKuliah').select2('data')[0].text;
                                        var potongMK = mk.substring(mk.indexOf('-') + 2);
                                        //console.log(potongMK);
                                        //console.log($('#prodi').val());
                                        //console.log(mk);
                                        //console.log($('#lokasi').select2('data')[0].value);
                                        $("#seksi").select2({

                                            placeholder: "-- Pilih Seksi --",
                                            width: "100%",
                                            ajax: {
                                                url: "@Url.Action("GetSeksiByMatkul", "DaftarHadir")",
                                                dataType: 'json',
                                                method: "POST",
                                                delay: 250,
                                                cache: false,
                                                data: function (params) {
                                                    return {
                                                        Search: params.term || "",
                                                        Matkul: mk,
                                                        // Lokasi: $('#lokasi').val(),
                                                        Lokasi: $('#lokasi').select2('data')[0].value,
                                                        Prodi: $('#prodi').val(),
                                                        JenjangStudi: $('#jenjangStudi').val()
                                                    };
                                                },
                                                processResults: function (data, params) {
                                                    return {
                                                        results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                                    };
                                                },
                                            }
                                        });
                                        $("#seksi").change(function () {
                                            buttonHandler("open");
                                        });
                                    });
                                });
                            });
                        });
                    });
                });
            }
            else {
                $("#jenjangStudi").prop("disabled", true);
                $("#fakultas").prop("disabled", true);
                $("#prodi").prop("disabled", true);
                $("#lokasi").prop("disabled", true);
                $("#mataKuliah").prop("disabled", true);
                $("#seksi").prop("disabled", true);

                $("#tahunSemester").select2({
                    placeholder: "-- Pilih Tahun Semester --",
                    width: "100%",
                    ajax: {
                        url: "@Url.Action("GetSemesterAll2", "DaftarHadir")",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                            };
                        }
                    }
                });
                $("#tahunSemester").change(function () {

                    $("#jenjangStudi").empty();
                    //$("#fakultas").empty();
                    $("#prodi").empty();
                    $("#lokasi").empty();
                    $("#mataKuliah").empty();
                    $("#seksi").empty();

                    $("#jenjangStudi").prop("disabled", false);
                    $("#fakultas").prop("disabled", true);
                    $("#prodi").prop("disabled", true);
                    $("#lokasi").prop("disabled", true);
                    $("#mataKuliah").prop("disabled", true);
                    $("#seksi").prop("disabled", true);

                    $("#jenjangStudi").select2({
                        placeholder: "-- Pilih Jenjang Studi --",
                        width: "100%",
                        ajax: {
                            url: "@Url.Action("getLookupByTipe", "DaftarHadir")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Tipe: 'JenjangStudi'
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                                };
                            }
                        }
                    });
                    $("#jenjangStudi").change(function () {
                        buttonHandler("close");

                        //$("#fakultas").empty();
                        $("#prodi").empty();
                        $("#lokasi").empty();
                        $("#mataKuliah").empty();
                        $("#seksi").empty();

                        //$("#fakultas").prop("disabled", false);
                        $("#prodi").prop("disabled", true);
                        $("#lokasi").prop("disabled", true);
                        $("#mataKuliah").prop("disabled", true);
                        $("#seksi").prop("disabled", true);

                        $("#fakultas").select2({
                            placeholder: "-- Pilih Fakultas --",
                            width: "100%",
                            ajax: {
                            @*url: "@Url.Action("GetFakultasByJenjangStudi", "PresensiKelas")",*@
                                url: "/Admin/DaftarHadir/GetFakultas",
                                dataType: 'json',
                                method: "POST",
                                delay: 250,
                                cache: false,
                                data: function (params) {
                                    return {
                                        Search: params.term || "",
                                        JenjangStudi: $('#jenjangStudi').val()
                                    };
                                },
                                processResults: function (data, params) {
                                    return {
                                        results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                                    };
                                },
                            }
                        });
                       // $("#fakultas").change(function () {
                            buttonHandler("close");

                            $("#prodi").empty();
                            $("#lokasi").empty();
                            $("#mataKuliah").empty();
                            $("#seksi").empty();

                            $("#prodi").prop("disabled", false);
                            $("#lokasi").prop("disabled", true);
                            $("#mataKuliah").prop("disabled", true);
                            $("#seksi").prop("disabled", true);

                            $("#prodi").select2({
                                placeholder: "-- Pilih Program Studi --",
                                width: "100%",
                                ajax: {
                                    url: "@Url.Action("GetProdiByFakultas", "DaftarHadir")",
                                    dataType: 'json',
                                    method: "POST",
                                    delay: 250,
                                    cache: false,
                                    data: function (params) {
                                        return {
                                            Search: params.term || "",
                                            //Fakultas: $('#fakultas').val(),
                                            Fakultas: $('#fakultas').select2('data')[0].text,
                                            JenjangStudi: $('#jenjangStudi').val()
                                        };
                                    },
                                    processResults: function (data, params) {
                                        return {
                                            results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                        };
                                    },
                                }
                            });
                            $("#prodi").change(function () {
                                buttonHandler("close");

                                $("#lokasi").empty();
                                $("#mataKuliah").empty();
                                $("#seksi").empty();

                                $("#lokasi").prop("disabled", false);
                                $("#mataKuliah").prop("disabled", true);
                                $("#seksi").prop("disabled", true);

                                $("#lokasi").select2({
                                    placeholder: "-- Pilih Lokasi --",
                                    width: "100%",
                                    ajax: {
                                    @*url: "@Url.Action("GetLokasiByProdi", "PresensiKelas")",*@
                                        url: "/Admin/DaftarHadir/GetLokasiByProdi",
                                        dataType: 'json',
                                        method: "POST",
                                        delay: 250,
                                        cache: false,
                                        data: function (params) {
                                            return {
                                                Search: params.term || "",
                                                NamaProdi: $('#prodi').val(),
                                                JenjangStudi: $('#jenjangStudi').val()
                                            };
                                        },
                                        processResults: function (data, params) {
                                            return {
                                                results: $.map(data, function (item) { return { id: item.ID, value: item.Kampus, text: item.Kampus } })
                                            };
                                        },
                                    }
                                });
                                $("#lokasi").change(function () {
                                    buttonHandler("close");

                                    $("#mataKuliah").empty();
                                    $("#seksi").empty();

                                    $("#mataKuliah").prop("disabled", false);
                                    $("#seksi").prop("disabled", true);

                                    //console.log($('#prodi').val());
                                    //    console.log($('#lokasi').val());
                                    console.log($('#fakultas').select2('data')[0].text);
                                    //        console.log($('#jenjangStudi').val());
                                    //                console.log(    $('#tahunSemester').select2('data')[0].id);
                                    //        console.log($('#lokasi').select2('data')[0].value);
                                    var pageLength = 0;
                                    $("#mataKuliah").select2({
                                        placeholder: "-- Pilih Mata Kuliah --",
                                        "proccessing": true,
                                        "serverSide": true,
                                        //multiple: true,
                                        width: "100%",
                                        ajax: {
                                            //url: "/Admin/DaftarHadirUjian/GetMataKuliah",
                                            url: "/Admin/daftarHadir/GetMataKuliahFlag",
                                            type: 'POST',
                                            dataType: 'json',

                                            data: function (params) {
                                                // console.log('page : ' + params.page);
                                                // console.log('p number : ' + (params.page - 1) * 10);

                                                return {
                                                    take: 10,
                                                    searchBy: params.term || "",
                                                    skip: params.page || 0,
                                                    //idProdi: $('#lokasiCari').select2('data')[0].id,
                                                    idProdi: $('#prodi').val(),
                                                    idProdi: $('#lokasi').val(),
                                                    idFakultas: $('#fakultas').val(),
                                                    jenjangStudi: $('#jenjangStudi').val(),
                                                    strm: $('#tahunSemester').select2('data')[0].id,
                                                    lokasi: $('#lokasi').select2('data')[0].value

                                                    // Search: params.term || "",
                                                    //STRM: $('#tahunSemester').val(),
                                                    //Prodi: $('#prodi').val(),
                                                    //Lokasi: $('#lokasi').val(),
                                                    //JenjangStudi: $('#jenjangStudi').val()
                                                };
                                            },

                                            processResults: function (data, params) {

                                                var page = params.page - 1 || 1;
                                                pageLength = pageLength + data.length;



                                                return {
                                                    results: $.map(data, function (item) { return { id: item.MataKuliahID, value: item.MataKuliahID, text: item.KodeMataKuliah + ' - ' + item.NamaMataKuliah, name: item.NamaMataKuliah, kode: item.KodeMataKuliah } }),
                                                    pagination: {
                                                        more: data.length > 0 && data.length == 10
                                                    }
                                                }
                                            },

                                            /*
                                               data: function (params) {


                                                params.length = 10;
                                                if (params.page > 1) {
                                                    params.skip = params.page * params.length - (params.length - 1);
                                                    start = params.skip - 1;
                                                    end = params.skip - 1 + params.length;
                                                } else {
                                                    start = 0;
                                                    end = 10;
                                                }

                                                return {

                                                    //search: params.term,
                                                    //instansi: $('#namaUniversitas').val(),
                                                    //length: params.length || 10,
                                                    //skip: params.skip || 0


                                                     page: params.page || 0,
                                                     skip: params.skip || 10,
                                                     take: params.length || 10,
                                                     searchBy: params.term,
                                                     idProdi: $('#prodiIdCari').val(),
                                                     idFakultas: $('#fakultasCari').val()

                                                };
                                            },
                                            processResults: function (data, page) {


                                                //console.log(data);
                                                //console.log(data[0]);
                                                //console.log(data.slice(start, end));
                                                //console.log("st"+start);
                                                //console.log("ed"+end);
                                                //console.log(data.slice(start, end));

                                                return {
                                                    results: $.map(data.slice(start, end), function (item) { return { id: item.id, value: item.id, text: item.text, title: item.kode } }),
                                                    pagination: {
                                                        more: true
                                                    }
                                                }

                                            },*/
                                        }
                                    });
                                    //console.log($('#mataKuliah').select2('data')[0].name);

                                    @*placeholder: "-- Pilih Mata Kuliah --",
                                    width: "100%",
                                    ajax: {
                                        url: "@Url.Action("GetMatkulByLokasi", "DaftarHadir")",
                                        dataType: 'json',
                                        method: "POST",
                                        delay: 250,
                                        cache: false,
                                        data: function (params) {
                                            return {
                                                Search: params.term || "",
                                                STRM: $('#tahunSemester').val(),
                                                Prodi: $('#prodi').val(),
                                                Lokasi: $('#lokasi').val(),
                                                JenjangStudi: $('#jenjangStudi').val()
                                            };
                                        },
                                        processResults: function (data, params) {
                                            return {
                                                results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                            };
                                        },
                                    }
                                });*@
                                    $("#mataKuliah").change(function () {
                                        //buttonHandler("close");
                                        buttonHandler("open");

                                        $("#seksi").empty();

                                        $("#seksi").prop("disabled", false);
                                        var mk = $('#mataKuliah').select2('data')[0].text;
                                        var potongMK = mk.substring(mk.indexOf('-') + 2);
                                        //console.log(potongMK);
                                        //console.log($('#prodi').val());
                                        //console.log(mk);
                                        //console.log($('#lokasi').select2('data')[0].value);
                                        $("#seksi").select2({

                                            placeholder: "-- Pilih Seksi --",
                                            width: "100%",
                                            ajax: {
                                                url: "@Url.Action("GetSeksiByMatkul", "DaftarHadir")",
                                                dataType: 'json',
                                                method: "POST",
                                                delay: 250,
                                                cache: false,
                                                data: function (params) {
                                                    return {
                                                        Search: params.term || "",
                                                        Matkul: mk,
                                                        // Lokasi: $('#lokasi').val(),
                                                        Lokasi: $('#lokasi').select2('data')[0].value,
                                                        Prodi: $('#prodi').val(),
                                                        JenjangStudi: $('#jenjangStudi').val()
                                                    };
                                                },
                                                processResults: function (data, params) {
                                                    return {
                                                        results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                                    };
                                                },
                                            }
                                        });
                                        $("#seksi").change(function () {
                                            buttonHandler("open");
                                        });
                                    });
                                });
                            });
                       /* });*///fakultas change function
                    });
                });
            }


        }


        function getLocationByPodiID() {
            //console.log("ajax");
            var dataParam = {};
            dataParam.NamaProdi = $('#prodi').val();
            dataParam.JenjangStudi = $('#jenjangStudi').val();
            dataParam.Search = "";

            //console.log(dataParam);

            $.ajax({
                url: "/Admin/LinkFasilitasAdmin/GetLokasiByProdi",
                dataType: 'json',
                method: "POST",
                //delay: 250,
                //cache: false,
                contentType: 'application/json',
                data: JSON.stringify(dataParam),
                success: function (e) {
                    //console.log(e[0]);
                    $("#prodiIdCari").val(e[0].ID);
                    //console.log("Lokasi");
                }
            });
        }

        $(document).ready(function () {
            isZooming();
        });


        $(window).resize(function () {
            isZooming();
        });

        function DetailDHK(id) {
            var url = '@Url.Action("DHK", "DaftarHadir")?id=' + id
            var win = window.open(url, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Please allow popups for this website');
            }

        }
        function isZooming() {
            var defaultH = 700;
            var square = $('.responsive-content');
            var screenH = $(document).height();
            //console.log("dfH :"+defaultH);
            //console.log("wnH :"+screenH);


            if (defaultH < screenH) {

                var footer = 39;
                var header = 105;
                var contentHeight = screenH - header - footer;

                if (defaultH < contentHeight) {
                    square.css('min-height', contentHeight);
                } else {
                    square.css('min-height', defaultH);
                }


            } else {
                square.css('min-height', defaultH);
            }
        }


    </script>

}
