
@{
    Layout = null;
}

@model MBKM.Entities.Models.MenuRole

<div class="modal-content data-content-modal" id="update-MenuRole">
    <div class="modal-header" style="background-color: #FF8A04; ">
        <input type="hidden" id="id_MenuRole" value="@Model.ID" />
        <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;text-align:center;">
            UPDATE MENU ROLE
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group" id="frmAddUser">
                <label for="MenuRole" class="col-sm-3 control-label">Menu Role</label>
                <div class="col-sm-9">
                    <select name="MenuID" id="MenuID" class="form-control input-data" required>
                        <option value="@Model.MenuID" selected>@Model.Menus.MenuName</option>
                        @{
                            foreach (var data in ViewData["listMenu"] as IEnumerable<MBKM.Entities.ViewModel.VMMenu>)
                            {
                                <option value="@data.Nilai">@data.Nama</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="MenuRole" class="col-sm-3 control-label">Role</label>
                <div class="col-sm-9">
                    <select name="RoleID" id="RoleID" class="form-control input-data" required>
                        <option value="@Model.RoleID" selected>@Model.Roles.RoleName</option>
                        @{
                            foreach (var data in ViewData["listRole"] as IEnumerable<MBKM.Entities.ViewModel.VMLookup>)
                            {
                                <option value="@data.Nilai">@data.Nama</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inp_status" class="col-sm-3 control-label">Status</label>
                <div class="col-sm-9">
                    @{
                        if (Model.IsActive)
                        {
                            <label class="radio-inline input-pendaftaran">
                                <input type="radio" name="IsActive" id="IsActive" value="1" class="input-data" checked> Aktif
                            </label>
                            <label class="radio-inline input-pendaftaran">
                                <input type="radio" name="IsActive" id="IsActive" value="0" class="input-data"> Tidak Aktif
                            </label>

                        }
                        else
                        {
                            <label class="radio-inline input-pendaftaran">
                                <input type="radio" name="IsActive" id="IsActive" value="1" class="input-data"> Aktif
                            </label>
                            <label class="radio-inline input-pendaftaran">
                                <input type="radio" name="IsActive" id="IsActive" value="0" checked class="input-data"> Tidak Aktif
                            </label>
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <label for="Action" class="col-sm-3 control-label">Action</label>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                        @{
                            if (Model.IsCreate)
                            {

                                <input class="form-check-input input-data" type="checkbox" id="IsCreate" name="IsCreate" value="1" checked>
                                <label class="form-check-label" for="inlineCheckbox1">Create</label>
                            }
                            else
                            {
                                <input class="form-check-input input-data" type="checkbox" id="IsCreate" name="IsCreate" value="1">
                                <label class="form-check-label" for="inlineCheckbox1">Create</label>
                            }
                        }
                    </div>
                    <div class="form-check form-check-inline">
                        @{
                            if (Model.IsView)
                            {
                                <input class="form-check-input input-data" type="checkbox" id="IsView" name="IsView" value="1" checked>
                                <label class="form-check-label" for="inlineCheckbox1">View</label>
                            }
                            else
                            {
                                <input class="form-check-input input-data" type="checkbox" id="IsView" name="IsView" value="1">
                                <label class="form-check-label" for="inlineCheckbox1">View</label>
                            }
                        }
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                        @{
                            if (Model.IsUpdate)
                            {

                                <input class="form-check-input input-data" type="checkbox" id="IsUpdate" name="IsUpdate" value="1" checked>
                                <label class="form-check-label" for="inlineCheckbox1">Edit</label>
                            }
                            else
                            {
                                <input class="form-check-input input-data" type="checkbox" id="IsUpdate" name="IsUpdate" value="1">
                                <label class="form-check-label" for="inlineCheckbox1">Edit</label>
                            }
                        }
                    </div>
                    <div class="form-check form-check-inline">
                        @{
                            if (Model.IsDelete)
                            {
                                <input class="form-check-input input-data" type="checkbox" id="IsDelete" name="IsDelete" value="1" checked>
                                <label class="form-check-label" for="inlineCheckbox1">Delete</label>
                            }
                            else
                            {
                                <input class="form-check-input input-data" type="checkbox" id="IsDelete" name="IsDelete" value="1">
                                <label class="form-check-label" for="inlineCheckbox1">Delete</label>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-md-offset-10">
                    <button type="button" onclick="PostUpdateMenuRole()" class="btn btn-warning">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>
