
@{
    ViewBag.Title = "IndexDetailMahasiswa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}
@model MBKM.Entities.Models.MBKM.Mahasiswa

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
}


<div class="card center-block" style="background-color: white; width: 90%; margin-top: 50px; margin-bottom: 50px;">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
        <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
            DETAIL DATA DIRI MAHASISWA
        </h4>
        <hr />
        <div class="container" style="width: 100%; padding-bottom: 15px;">
            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">DATA DIRI</h5>
                <div class="container" style="width: 100%;">
                    <table class="table">
                        <tr>
                            <td style="width: 20%;">Nama Lengkap</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="namaLengkap" value="@Model.Nama" id="namaLengkap" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Jenis Kelamin</td>
                            <td>
                                <input type="text" name="jenisKelamin" value="@Model.Gender" id="jenisKelamin" class="form-control input-md input-data" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Tempat Lahir</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="tempatLahir" value="@Model.TempatLahir" id="tempatLahir" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Tanggal Lahir</td>
                            <td>
                                <input type="date" name="tanggalLahir" value="@Model.TanggalLahir" id="tanggalLahir" class="form-control input-md input-data" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Kewarganegaraan</td>
                            <td>
                                <input type="text" name="kewarganegaraan" value="@Model.WargaNegara" id="kewarganegaraan" class="form-control input-md input-data" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">No. KTP</td>
                            <td>
                                <input type="text" name="noKtp" id="noKtp" value="@Model.NoKTP" class="form-control input-md input-data" disabled />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">INFORMASI KONTAK</h5>
                <div class="container" style="width: 100%;">
                    <table class="table">
                        <tr>
                            <td style="width: 20%;">Alamat Email</td>
                            <td>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" value="@Model.Email" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">No. Handphone</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="noHP" id="noHP" value="@Model.NoHp" placeholder="+62xxxxxxxxxxx" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">No. Telepon</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="noTelp" id="noTelp" value="@Model.Telepon" placeholder="+62xxxxxxxxxxx" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Alamat Rumah</td>
                            <td>
                                <div class="form-group">
                                    <textarea name="alamat" id="alamat" value="@Model.Alamat" class="form-control input-data" style="width: 100%;" rows="5" disabled></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">
                    KONTAK DARURAT
                    <p style="font-weight: normal; font-size: 16px;">(Kontak yang akan dihubungi dalam kondisi darurat)</p>
                </h5>
                <div class="container" style="width: 100%;">
                    <table class="table">
                        <tr>
                            <td style="width: 20%;">Nama</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="namaDarurat" id="namaDarurat" value="@Model.NamaDarurat" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Hubungan</td>
                            <td>
                                <div class="form-group">
                                    <input name="hubungan" id="hubungan" value="@Model.HubunganDarurat" class="form-control input-md input-data" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">No. Handphone</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="noHPDarurat" id="noHPDarurat" value="@Model.NoHPDarurat" placeholder="+62xxxxxxxxxxx" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">No. Telepon</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="noTelpDarurat" id="noTelpDarurat" value="@Model.TeleponDarurat" placeholder="+62xxxxxxxxxxx" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Alamat Email</td>
                            <td>
                                <input type="email" name="emailDarurat" id="emailDarurat" value="@Model.EmailDarurat" class="form-control input-md input-data" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Alamat Rumah</td>
                            <td>
                                <textarea name="alamatDarurat" id="alamatDarurat" value="@Model.AlamatDarurat" class="form-control input-data" style="width: 100%;" rows="5" disabled></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">
                    INFORMASI AKADEMIK
                </h5>
                <div class="container" style="width: 100%;">
                    <table class="table">
                        <tr>
                            <td style="width: 20%;">Universitas Asal</td>
                            <td>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="text" name="jenjangStudi" value="@Model.NamaUniversitas" id="jenjangStudi" class="form-control input-md input-data" disabled />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Jenjang Studi</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="jenjangStudi" value="@Model.JenjangStudi" id="jenjangStudi" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;">Program Studi</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="programStudi" value="@Model.ProdiAsal" id="programStudi" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 20%;">NIM Asal</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="nimAsal" id="nimAsal" value="@Model.NIMAsal" class="form-control input-md input-data" disabled />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">
                    DOKUMEN PENDUKUNG
                </h5>
                <div class="container" style="width: 70%;">
                    <div class="card center-block" style="background-color: white; width: 100%; margin-top: 50px; margin-bottom: 50px;">
                        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
                            <div class="container" style="width: 100%;">
                                <table id="table-data-email-template" class="table row-border hover dt-responsive responsive" style="border-spacing: 0 15px; border:0">
                                    <thead class="text-center">
                                        <tr style="background-color: #FF8A04; border: 0 ">
                                            <th style="text-align:center">No.</th>
                                            <th style="text-align:center">Tipe File</th>
                                            <th style="text-align:center">Nama File</th>
                                            <th style="text-align:center">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border: 0 solid coral">
                                            <th style="text-align:center">1</th>
                                            <th style="text-align:center">LOREM</th>
                                            <th style="text-align:center">lOREM</th>
                                            <th style="text-align:center; color:coral"><i class="fas fa-file-download"></i></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <div class="card center-block" style="background-color: white; width: 100%; margin-top: 50px; margin-bottom: 50px;">
                <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                    VERIFIKASI BAA
                </h4>
                <hr />
                <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
                    <div class="container" style="width: 100%;">
                        <form class="form-horizontal" style="margin-top:50px; margin-left:20px">
                            <div class="form-group">
                                <label for="inp_statusKerjaSama" class="col-sm-3 control-label">Status Kerjasama</label>
                                <div class="col-sm-7">
                                    <select class="form-control input-data" name="inp_statusKerjaSama" id="inp_statusKerjaSama">
                                        <option value="" selected disabled>-- Pilih Status Kerjasama --</option>
                                        <option value="1">Ada Kerjasama</option>
                                        <option value="2">Tidak Ada Kerjasama</option>
                                        <option value="3">Kerja Sama Dalam Proses</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inp_noKerjaSama" class="col-sm-3 control-label">No. Kerjasama</label>
                                <div class="col-sm-7">
                                    <select class="form-control input-data" name="inp_noKerjaSama" id="inp_noKerjaSama" disabled>
                                        <option value="" selected disabled>-- Pilih No. Kerjasama --</option>
                                        <option value="1">02116468421</option>
                                        <option value="0">21658465165</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inp_biaya" class="col-sm-3 control-label">Biaya</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control input-data" name="inp_biaya" id="inp_biaya" placeholder="0" disabled >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inp_verifikasi" class="col-sm-3 control-label">Verifikasi</label>
                                <div class="col-sm-7">
                                    <label class="radio-inline input-pendaftaran">
                                        <input type="radio" name="inp_verifikasi" id="inp_verifikasi" value="true"> Terima
                                    </label>
                                    <label class="radio-inline input-pendaftaran">
                                        <input type="radio" name="inp_verifikasi" id="inp_verifikasi" value="false"> Tolak
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inp_approval" class="col-sm-3 control-label">Approval Ke </label>
                                <div class="col-sm-7">
                                    <select class="form-control input-data" name="inp_approval" id="inp_approval">
                                        <option value="" selected disabled>-- Pilih Authority Approval --</option>
                                        <option value="1">Kepala Program Studi</option>
                                        <option value="0">Wakil Rektor 1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inp_catatan" class="col-sm-3 control-label">Catatan</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control input-data" name="inp_catatan" rows="5" id="inp_catatan" placeholder="Masukkan Catatan Jika Ada"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 col-sm-offset-7" style="padding-left:50px">
                                    <button type="button" class="btn btn-danger">Edit</button>
                                    <button type="button" class="btn btn-warning">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

