@{
    Layout = null;
    //var ip = ViewData["infoPertukaran"];
}
@model MBKM.Entities.Models.MBKM.Mahasiswa
<style>
    div[disabled] {
        pointer-events: none;
        opacity: 0.7;
    }
</style>

<div class="modal-content data-content-modal" id="detail-seluruhMHS-template">
    <div class="modal-header" style="background-color: #FF8A04; ">
        <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black; text-align: center;">
            DETAIL MAHASISWA
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">

            <div class="form-group" hidden>
                <label for="inp_MapingCPLID" class="col-sm-3 control-label">ROLENAME</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control input-md" name="inp_id_mapping_capaian_pembelajaran" id="txtRole" value="@{@ViewData["role"]}" placeholder="Pilih Mata Kuliah" disabled>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Universitas Asal: </label>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.NamaUniversitas, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none", @id = "namaUniversitas" } })

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Jenjang Studi: </label>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.JenjangStudi, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none" } })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Program Studi Asal: </label>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ProdiAsal, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none" } })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Nama Mahasiswa: </label>
                <div class="col-sm-8">

                    @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none" } })

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">NIM Asal: </label>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.NIMAsal, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none" } })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Jenis Kelamin: </label>
                <div class="col-sm-8">
                    @{ if (Model.Gender == "P")
                        {

                            <input type="text" value="Perempuan" class="form-control input-pendaftaran input-data" style="border:none" disabled="disabled" id="genderp" name="gp">
                        }
                        else
                        {
                            <input type="text" value="Laki-Laki" class="form-control input-pendaftaran input-data" style="border:none" disabled="disabled" id="genderl" name="gl">
                        }
                    }
                    @*@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none" } })*@
                </div>
            </div>
            <div id="univAsal">
                <div class='form-group'>
                    <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">No. Handphone: </label>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.NoHp, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none" } })
                    </div>
                </div>
                <div id="noKS">
                    <div class='form-group'>
                        <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">No. Telephone: </label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Telepon, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Alamat Email: </label>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none" } })
                </div>
            </div>

            <div id="eksternal">
                <div class='form-group'>
                    <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Status Kerjasama: </label>
                    <div class="col-sm-8" id="sKerjaSama1" hidden>
                        <select name="skj" id="skj" disabled="disabled" class="form-control input-md" hidden required></select>

                        @*@Html.EditorFor(model => model.NoKerjasama, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled", @id = "noKJs" } })*@
                    </div>
                    <div class="col-sm-8" id="sKerjaSama2">
                        @*<select name="noKJ" id="noKJ" disabled="disabled" class="form-control input-md" hidden required></select>*@

                        @Html.EditorFor(model => model.StatusKerjasama, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @id = "statusKJ", @style = "border: none" } })
                    </div>
                </div>
                <div class='form-group'>
                    <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">No. Kerjasama: </label>
                    <div class="col-sm-8" id="noKerjaSama1" hidden>
                        <select name="noKJ" id="noKJ" disabled="disabled" class="form-control input-md" hidden required></select>

                        @*@Html.EditorFor(model => model.NoKerjasama, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled", @id = "noKJs" } })*@
                    </div>
                    <div class="col-sm-8" id="noKerjaSama2">
                        @*<select name="noKJ" id="noKJ" disabled="disabled" class="form-control input-md" hidden required></select>*@

                        @Html.EditorFor(model => model.NoKerjasama, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @id = "noKJs", @style = "border: none" } })
                    </div>
                </div>
            </div>


            <div id="internal">
                <div hidden>
                    @* persiapan nempel data *@
                    <table>
                        <tr>
                            <td style="font-weight:bold;">SEMESTER</td>
                            <td style="padding:5px"> : </td>
                            <td style="padding-right: 30px;">asd</td>

                            <td style="font-weight:bold">SEKSI</td>
                            <td style="padding:5px"> : </td>
                            @{if (@ViewData.ContainsKey("infoPertukaran"))
                                {
                                    <td id="seksi">@ViewData["infoPertukaran"].ToString()</td>
                                }
                                else
                                {
                                    <td id="seksi">asd</td>

                                }


                            }
                        </tr>
                    </table>
                </div> @* batas tes tempel data internal *@



                <div class='form-group'>
                    <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Status Kerjasama: </label>
                    <div class="col-sm-8">
                        <select name="statusKerjasamaInternal" id="statusKerjasamaInternal" disabled="disabled" class="form-control input-md" required></select>
                    </div>
                </div>
                <div class='form-group'>
                    <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Jenis Program MBKM: </label>
                    <div class="col-sm-8">
                        <select name="jenisProgramMBKM" id="jenisProgramMBKM" class="form-control input-md" disabled></select>
                    </div>
                </div>
                <div class='form-group'>
                    <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Jenis Kegiatan MBKM: </label>
                    <div class="col-sm-8">
                        <select name="jenisKegiatanMBKM" id="jenisKegiatanMBKM" class="form-control input-md"></select>
                    </div>
                </div>

                <div class='form-group' id="trNoSKTugas" hidden>
                    <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">No. SK Tugas: </label>
                    <div class="col-sm-8">
                        <input type="text" name="noSKTugas" id="noSKTugas" class="form-control input-md" />
                    </div>
                </div>
                <div class='form-group' id="trTanggalSKTugas" hidden>
                    <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Tanggal SK Tugas: </label>
                    <div class="col-sm-8">
                        <input type="date" name="tanggalSKTugas" id="tanggalSKTugas" class="form-control input-md" />
                    </div>
                </div>
                <div class='form-group' id="trJudulAktivitas" hidden>
                    <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Judul Aktivitas: </label>
                    <div class="col-sm-8">
                        <input type="text" name="judulAktivitas" id="judulAktivitas" class="form-control input-md" />
                    </div>
                </div>
                <div class='form-group' id="trLokasi" hidden>
                    <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Lokasi: </label>
                    <div class="col-sm-8">
                        <input type="text" name="lokasiTugas" id="lokasiTugas" class="form-control input-md" />
                    </div>
                </div>
            </div>

            <div disabled id="statusBayarDiv" class="form-group">
                <label for="inp_status" class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Status Pembayaran: </label>

                @if (Model.FlagBayar == true)
                {


                    <div class="col-sm-8">

                        <label class="radio-inline input-pendaftaran">
                            <input type="radio" name="inpStatus" id="inp_status" value="1" checked> Lunas
                        </label>
                        <label class="radio-inline input-pendaftaran">
                            <input type="radio" name="inpStatus" id="inp_status" value="0"> Belum Lunas
                        </label>
                    </div>

                }
                @if (Model.FlagBayar == false)
                {
                    <div class="col-sm-8">

                        <label class="radio-inline input-pendaftaran">
                            <input type="radio" name="inpStatus" id="inp_status" value="1"> Lunas
                        </label>
                        <label class="radio-inline input-pendaftaran">
                            <input type="radio" name="inpStatus" id="inp_status" value="0" checked> Belum Lunas
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Status Pendaftaran: </label>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.StatusVerifikasi, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none" } })

                </div>
            </div>
            <div class="form-group">
                <label for="emailRegistrasi" class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">NIM MBKM: </label>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.NIM, new { htmlAttributes = new { @class = "form-control input-md", maxlength = 100, disabled = "disabled", @style = "border: none" } })
                </div>
            </div>
            <div class="form-group">
                <label for="inp_bodyEmail" class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Catatan Verifikasi BAA: </label>
                <div class="col-sm-8">
                    <textarea class="form-control input-pendaftaran summernote" name="inp_bodyEmail" rows="5" id="inp_bodyEmail" placeholder="Catatan Verifikasi BAA" disabled>@Model.Catatan</textarea>
                </div>
            </div>

            <div class="form-group" hidden>
                <label for="biaya" class="col-sm-4 control-label" style="font-size: 14px; font-weight: normal">Biaya: </label>
                <div class="col-sm-8">
                    <input type="text" value="" class="form-control input-pendaftaran input-data" disabled="disabled" id="biaya" name="biaya" hidden>
                    @*@Html.EditorFor(model => model.BiayaKuliah, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled", @id = "biaya" } })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-md-offset-10">
                    <button id="Edit" onclick="" type="button" value="Edit" class="btn" style="float: right; background-color: #FF8A04; color: black; padding: 5px 30px; font-weight: bold; font-size: 20px;">Edit</button>
                    <button id="Update" onclick="" type="button" value="Update" class="btn" style="float: right; background-color: #FF8A04; color: black; padding: 5px 30px; font-weight: bold; font-size: 20px;">Update</button>
                </div>
            </div>

        </form>
    </div>
</div>
