
@{
    ViewBag.Title = "MANAGE JADWAL UJIAN";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
}

@section modal{
    <div class="modal fade" id="TambahMasterLookUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" id="modal-inner">

        </div>
    </div>
}

<div class="container-fluid" style="padding: 0px">
    <div class="card center-block" style="background-color: white; width: 100%; padding: 0px">
        <div class="card-body responsive-content" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 3px solid coral; padding: 0px">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                MANAGE UJIAN MBKM <br />
                <small class="describe">Manage Ujian Mahasiswa Program MBKM</small>
            </h4>
            <hr />
            <div class="container" style="width: 100%;">
                <div class="col-md-12">
                    <form class="form-horizontal col-md-7">
                        <div class="form-group">
                            <label for="inp_semester" class="col-sm-3 control-label">Tahun Semester</label>
                            <div class="col-sm-7">
                                <select name="inp_semester" id="inp_semester" class="form-control input-md input-data">
                                    <option value="" selected disabled>-- Pilih Tahun Semester --</option>
                                    @{
                                        foreach (var dt in ViewData["semester"] as IEnumerable<MBKM.Entities.ViewModel.VMSemester>)
                                        {
                                            <option value="@dt.Nilai">@dt.Nama</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inp_jenjang" class="col-sm-3 control-label">Jenjang Studi</label>
                            <div class="col-sm-7">
                                <select name="inp_jenjang" id="inp_jenjang" class="form-control input-md input-data">
                                    <option value="" selected disabled>-- Pilih Jenjang Studi --</option>
                                    @{
                                        foreach (var d in ViewData["Jenjang"] as IEnumerable<MBKM.Entities.ViewModel.VMLookup>)
                                        {
                                            <option value="@d.Nilai">@d.Nama</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inp_fakultas" class="col-sm-3 control-label">Fakultas</label>
                            <div class="col-sm-7">
                                <select name="inp_fakultas" id="inp_fakultas" class="form-control input-md input-data">
                                    <option value="" selected disabled>-- Pilih Fakultas --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inp_jenis" class="col-sm-3 control-label">Jenis Ujian</label>
                            <div class="col-sm-7">
                                <select name="inp_jenis" id="inp_jenis" class="form-control input-md input-data">
                                    <option value="" selected disabled>-- Pilih Jenis Ujian --</option>
                                    @{
                                        foreach (var d in ViewData["JenisUjian"] as IEnumerable<MBKM.Entities.ViewModel.VMLookup>)
                                        {
                                            <option value="@d.Nilai">@d.Nama</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-md-offset-8">
                                <button type="button" id="cari" class="btn btn-warning" style="float: right;" onclick="GenerateDataTable()"><span class="fa fa-search"></span> Cari</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--table-responsive-->
                <table id="table-data-manage-ujian-mahasiswa" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                    <thead>
                        <tr>
                            <th class="zero-padding no-border vertical-center center sorting">Action</th>
                            <th class="zero-padding no-border vertical-center center sorting">Jenis Ujian</th>
                            <th class="zero-padding no-border vertical-center center sorting">Kode Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center center sorting">Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center center sorting">Seksi</th>
                            <th class="zero-padding no-border vertical-center center sorting">Tanggal</th>
                            <th class="zero-padding no-border vertical-center center sorting">Jam</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Admin/ManageUjian/main.js"></script>
    <script src="~/Scripts/loading/loadingoverlay.min.js"></script>
}