@{
    Layout = null;
}
@model MBKM.Entities.Models.MBKM.PerjanjianKerjasama

<div class="modal-content data-content-modal" id="update-Kerjasama">
    <div class="modal-header" style="background-color: #FF8A04; ">

        <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
            EDIT PERJANJIAN KERJASAMA
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" enctype=multipart/form-data id="UpdatePerjanjian">
            <input type="text" id="idKerjasama" value="@Model.ID" hidden />
            <div class="form-group row">
                <label for="no" class="col-md-4 col-form-label">No. Kerjasama</label>
                <div class="col-md-8">
                    <input id="NoPerjanjian" type="text" name="NoPerjanjian" class="form-control" value="@Model.NoPerjanjian" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="tanggalKerjasama" class="col-md-4 col-form-label">Tanggal Kerjasama</label>
                <div class="col-md-8">
                    @Html.TextBox("tanggalMulai", Model.TanggalMulai, "{0:yyyy-MM-dd}", new { @style = "width:100%", type = "date" })
                </div>
            </div>
            <div class="form-group row">
                <label for="tanggalBerakhir" class="col-md-4 col-form-label">Tanggal Berakhir</label>
                <div class="col-md-8">
                    @Html.TextBox("tanggalAKhir", Model.TanggalAkhir, "{0:yyyy-MM-dd}", new { @style = "width:100%", type = "date" })
                </div>
            </div>
            <div class="form-group row">
                <label for="Instansi" class="col-md-4 col-form-label">Instansi</label>
                <div class="col-md-8">
                    <select name="Instansi" id="instansi" class="form-control" value="@Model.Instansi" required>
                        @*<option value="@Model.Instansi" selected>@Model.Instansi</option>*@
                        <option value="Perusahaan">Perusahaan</option>
                        <option value="Universitas">Universitas</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="Namainstansi" class="col-md-4 col-form-label">Nama</label>
                <div class="col-md-8">
                    <input id="NamaUniversitas" type="text" name="NamaInstansi" class="form-control" value="@Model.NamaInstansi" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Namaunit" class="col-md-4 col-form-label">Nama Unit/Program Studi</label>
                <div class="col-md-8">
                    <input id="Namaunit" type="text" name="NamaUnit" class="form-control" value="@Model.NamaUnit" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="pertukaran" class="col-md-4 col-form-label">
                    Jenis Program MBKM
                </label>
                <div class="col-md-8">
                    <select name="JenisPertukaran" id="JenisPertukaran" class="form-control" required>

                        @{
                            foreach (var data in ViewData["listPerjanjian"] as IEnumerable<MBKM.Entities.ViewModel.VMJenisPertukaran>)
                            {
                                if (@Model.JenisPertukaran.Replace("Program","") == @data.JenisPertukaran.Replace("Program ",""))
                                {
                                    <option value="@data.JenisPertukaran" selected>@data.JenisPertukaran</option>
                                }
                                else
                                {
                                    <option value="@data.JenisPertukaran">@data.JenisPertukaran</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="pertukaran" class="col-md-4 col-form-label">
                    Jenis Kegiatan MBKM
                </label>
                <div class="col-md-8">
                    <select name="JenisKerjasama" id="JenisKerjasama" class="form-control" required>
                        <option value="@Model.JenisKerjasama" selected>@Model.JenisKerjasama</option>
                        @{
                            foreach (var data in ViewData["listKerjasama"] as IEnumerable<MBKM.Entities.ViewModel.VMJenisKerjasama>)
                            {
                                <option value="@data.ID" class="@data.JenisPertukaran">@data.Nama</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputer" class="col-md-4 col-form-label">Inputer</label>
                <div class="col-md-8">
                    <input id="inputer" type="text" name="UpdatedBy" class="form-control" value="@Model.CreatedBy" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="biaya" class="col-md-4 col-form-label">Biaya</label>
                <div class="col-md-8">
                    <input id="biaya" class="form-control number-separator" value="@Model.BiayaKuliah" required>
                    <input id='text' type="hidden" name="BiayaKuliah" class="form-control input-data" value="@Model.BiayaKuliah">
                </div>
            </div>
            <div class="form-group row">
                <label for="Upload" class="col-md-4 col-form-label">Upload Dokumen Pendukung</label>
                <div class="col-md-8">
                    <input id="file" type="file" name="inputer" class="form-control input-data" multiple="multiple" accept=".pdf,.doc,.docx,.xlsx">
                </div>
            </div>
            <div class="form-group row">
                <label for="Upload" class="col-md-4 col-form-label"> </label>
                <div class="col-md-8">
                    <table id="table-data-attachment" class="table row-border hover dt-responsive responsive" width="50%">
                        <thead>
                            <tr>
                                <th>File</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewData["listFile"] as IEnumerable<MBKM.Entities.Models.MBKM.AttachmentPerjanjianKerjasama>)
                            {
                                <tr>
                                    <td>@item.FileName</td>
                                    <td><a href="@Url.Action("DeleteFile",new { item.ID, item.PerjanjianKerjasamaID})"><i class="fas fa-trash-alt coral"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <input onclick="UpdatePerjanjian()" type="button" value="Simpan" class="btn" style="float: right; background-color: #FF8A04; color: black; padding: 5px 30px; font-weight: bold; font-size: 20px;" />
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/easy-number-separator.js"></script>
<script src="~/Scripts/scriptDropdown.js"></script>
<script src="~/Scripts/script.js"></script>
<script>
    $("#biaya").keyup(function () {
        $("#text").val($("#biaya").val().replace(/,/g, ''));
    })
</script>