
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}



<div id="hiddenField">
    <input type="hidden" id="id" />
</div>

<div class="card center-block" style="background-color: white; width: 90%; margin-top: 50px; margin-bottom: 50px;">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
        <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; padding-left: 15px; font-weight: bold; font-size: 20px; color: black; ">
            REGISTRASI MAHASISWA MBKM <br />
            <p style="font-weight: normal; font-size: 15px; color: #c1baba;">Registrasi Mahasiswa Oleh Admin atau Staf</p>
        </h5>
        <hr />
        <div class="container" style="width: 100%; padding-bottom: 15px;">

            @*<div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">*@
            @*<h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">DATA DIRI</h5>*@

            <div class="container" style="width: 100%;">
                <table class="table">
                    <tr>
                        <td style="width: 20%;">Nama Lengkap</td>
                        <td>
                            <div class="form-group">
                                <input type="text" name="namaLengkap" id="namaLengkap" class="form-control input-md" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Tempat Lahir</td>
                        <td>
                            <div class="form-group">
                                <input type="text" name="tempatLahir" id="tempatLahir" class="form-control input-md" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Tanggal Lahir</td>
                        <td>
                            <input type="date" name="tanggalLahir" id="tanggalLahir" class="form-control input-md" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Jenis Kelamin</td>
                        <td>
                            <select name="Gender" id="gender" class="form-control input-md">

                                <option value="L">Laki - Laki</option>
                                <option value="P">Perempuan</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Agama</td>
                        <td>
                            <select name="agama" id="agama" class="form-control input-md" required>
                                <option value="Islam">Islam</option>
                                <option value="Kristen">Kristen</option>
                                <option value="Katholik">Katholik</option>
                                <option value="Buddha">Buddha</option>
                                <option value="Hindu">Hindu</option>
                            </select>
                        </td>
                    </tr>
                   
                    <tr>
                        <td style="width: 20%;">Memiliki Kerjasama?</td>
                        <td>
                            <select name="kerjasama" id="kerjasama" class="form-control input-md">
                                <option>-- Pilih Opsi --</option>
                                <option value="y">Ya</option>
                                <option value="t">Tidak</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Universitas Asal</td>
                        <td>
                            <div class="form-group" id="univAsal">
                                <select name="NamaUniversitas" id="namaUniversitas" class="form-control input-md" required>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">No. Kerjasama</td>
                        <td>
                            <div class="form-group" id="noKS">
                                <select name="noKerjasama" id="noKerjasama" class="form-control input-md" required>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Program Studi Universitas Asal</td>
                        <td>
                            <input type="text" name="prodiAsal" id="prodiAsal" class="form-control input-md" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Nomor Induk Mahasiswa Asal</td>
                        <td>
                            <input type="text" name="nimAsal" id="nimAsal" class="form-control input-md" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Tahun Semester</td>
                        <td>
                            <div class="form-group" id="thnSemester">
                                <select name="tahunSemester" id="tahunSemester" class="form-control input-md" required>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">No. Handphone</td>
                        <td>
                            <div class="form-group">
                                <input type="text" name="noHp" id="noHp" placeholder="+62xxxxxxxxxxx" class="form-control input-md" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Alamat Email</td>
                        <td>
                            <div class="form-group">
                                <input type="email" name="email" id="emailRegistrasi" class="form-control input-md" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Password</td>
                        <td>
                            <div class="form-group">
                                <input type="password" name="password" id="passwordRegistrasi" class="form-control input-md" />
                            </div>
                        </td>
                    </tr>
                </table>
                <button id="edit" class="btn" style="margin: 15px; margin-bottom: 0px; margin-right: 0px; float: right; background-color: #FF8A04; color: black; padding: 5px 30px; font-weight: bold; font-size: 16px;">Registrasi</button>
            </div>
        </div>





    </div>

</div>

@*</div>*@

@section Scripts{
    <script>
          
            $(document).ready(function () {
                var alertMessage = '@TempData["alertMessage"]';
                if (alertMessage.length != 0) {
                    alert(alertMessage);
                }
                loadNamaUniversitas();
                namaUnivOnChange();
                loadFromLookup("TahunSemester", "tahunSemester");
            });

            $("#kerjasama").change(function () {
                if ($("#kerjasama").val() == "y") {
                    $("#univAsal").html(`<select name="NamaUniversitas" id="namaUniversitas" class="form-control input-md" required>
            </select>
    <div id='noKS'><div class='form-group'><label>No. Kerjasama</label>
    <select name='noKerjasama' id='noKerjasama' class='form-control input-lg' required><option>-- Pilih Nomor Kerjasama --</option>
    </select></div></div>`);
                    loadNamaUniversitas();
                    namaUnivOnChange();
                } else {
                    $("#univAsal").html("<div class= 'form-group'><label>Universitas Asal</label><input type='text' name='NamaUniversitas' id='NamaUniversitas' placeholder='Nama Universitas' class='form-control input-lg' /></div>");
                }
            });

            function namaUnivOnChange() {
                $("#namaUniversitas").change(function () {
                    if ($("#kerjasama").val() == "y") {
                        $("#noKS").html("<div class='form-group'><label>No. Kerjasama</label><select name='noKerjasama' id='noKerjasama' class='form-control input-lg' required></select></div>");
                        loadNoKerjasama();
                    }
                });
            }
            function submitRegistrasi() {
                mahasiswa = new Object;
                mahasiswa.Nama = $("#nama").val();
                mahasiswa.TempatLahir = $("#tempatLahir").val();
                mahasiswa.TanggalLahir = $("#tanggalLahir").val();
                mahasiswa.Gender = $("#gender").val();
                if ($("#kerjasama").val() == "y") {
                    mahasiswa.BiayaKuliah = $("#namaUniversitas").find(':selected').data('biaya');
                    mahasiswa.NoKerjasama = $("#namaUniversitas").val();
                    mahasiswa.NamaUniversitas = $("#namaUniversitas").find(':selected').data('nama');
                } else {
                    mahasiswa.NamaUniversitas = $("#namaUniversitas").val();
                }
                mahasiswa.ProdiAsal = $("#prodiAsal").val();
                mahasiswa.NIMAsal = $("#nimAsal").val();
                mahasiswa.Semester = $("#tahunSemester").val();
                mahasiswa.NoHp = $("#noHp").val();
                mahasiswa.Email = $("#emailRegistrasi").val();
                mahasiswa.Password = $("#passwordRegistrasi").val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("registerExternal", "Home")",
                    data: mahasiswa
                }).then(function (response) {
                    alert(response.message);
                });
            }
            function loadNamaUniversitas() {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetNamaInstansi", "RegisMhsByAdmin")?Skip=" + 0 + "&Length=" + 10000 + "&Search="
                }).then(function (response) {
                    $("#namaUniversitas").append("<option>-- Pilih Universitas --</option>");
                    for (var i = 0; i < response.length; i++) {
                        $("#namaUniversitas").append("<option value='" + response[i].NoKerjasama + "' data-biaya='" + response[i].Biaya + "' data-nama='" + response[i].NamaInstansi + "' >" + response[i].NamaInstansi + "</option>");
                    }
                });
            }
            function loadNoKerjasama() {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetNoKerjasama", "Home")?Skip=" + 0 + "&Length=" + 10000 + "&Search=" + "&NamaInstansi=" + $("#namaUniversitas").find(':selected').data('nama')
                }).then(function (response) {
                    $("#noKerjasama").append("<option>-- Pilih Nomor Kerjasama --</option>");
                    for (var i = 0; i < response.length; i++) {
                        $("#noKerjasama").append("<option value='" + response[i].NoKerjasama + "'>" + response[i].NoKerjasama + "</option>");
                    }
                });
            }
            function loadFromLookup(tipe, id) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("getLookupByTipe", "Home")?Tipe=" + tipe
                }).then(function (response) {
                    for (var i = 0; i < response.length; i++) {
                        $("#" + id).append("<option value='" + response[i].Nilai + "'>" + response[i].Nama + "</option>");
                    }
                });
            }
        </script>
      
}

