
@{
    Layout = "~/Areas/Admin/Views/shared/_Layout2.cshtml";
    ViewBag.Title = "MBKM";
}


<style>
    .coral {
        color: coral;
    }

    .center {
        align-content: center;
        align-items: center;
        vertical-align: unset;
        align-self: center;
        text-align: center
    }

    .zero-padding {
        padding: 10px 15px !important;
    }

    .vertical-center {
        vertical-align: middle !important;
    }

    .no-border {
        border: 0px !important;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    table.dataTable.no-footer {
        border: none;
    }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 70%;
        left: 50%;
        width: 30%;
        height: 40px;
        margin-left: -20%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background: none;
    }

    thead tr {
        background-color: #FF8A04;
        border: 0;
    }

    .table-spacing {
        border-spacing: 0px 0.5rem !important;
    }

    .body-content {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
    }
    /* The container */
    .container2 {
        left: 40%;
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container2 input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        align-content: center;
        position: absolute;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border: solid;
        border-width: 1px;
    }

    /* On mouse-over, add a grey background color */
    .container2:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container2 input:checked ~ .checkmark {
        background-color: #FF8A04;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container2 input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container2 .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .disable {
        background-color: #ccc;
        pointer-events: none;
    }
</style>

<div class="card center-block" style="background-color: white; margin: 15px;">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
        <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; padding-left: 15px; font-weight: bold; font-size: 20px; color: black; ">
            PENILAIAN MATA KULIAH MBKM
        </h5>
        <hr />
        <div class="container" style="width: 100%; padding-bottom: 15px;">
            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: solid; border-width: 1px; border-color: #FF8A04; padding-top: 15px;">
                <div class="container" style="width: 100%;">
                    <table class="table table-borderless" style="width: auto;">
                        <tr>
                            <td style="text-align: right; font-weight: bold;">Tahun Semester</td>
                            <td style="text-align: center;">:</td>
                            <td id="strm"></td>

                            <td style="text-align: right; font-weight: bold;">Seksi</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.ClassSection</td>

                            <td style="text-align: right; font-weight: bold;">Bobot MT & CW</td>
                            <td style="text-align: center;">:</td>
                            <td id="mtcw"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; font-weight: bold;">Kode Mata Kuliah</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.KodeMataKuliah</td>

                            <td style="text-align: right; font-weight: bold;">SKS</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.SKS</td>

                            <td style="text-align: right; font-weight: bold;">Bobot Final Exam</td>
                            <td style="text-align: center;">:</td>
                            <td id="fe"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; font-weight: bold;">Nama Mata Kuliah</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.NamaMataKuliah</td>

                            <td style="text-align: right; font-weight: bold;">Jenjang Studi</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.JenjangStudi</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 18px; color: black;">KRITERIA KOMPONEN</h5>
                <div class="container" style="width: 100%;">
                    <table class="table">
                        <tr>
                            <td style="font-weight: bold;">Komponen</td>
                            <td style="text-align: center; font-weight: bold;">MT</td>
                            <td style="text-align: center; font-weight: bold;">CW1</td>
                            <td style="text-align: center; font-weight: bold;">CW2</td>
                            <td style="text-align: center; font-weight: bold;">CW3</td>
                            <td style="text-align: center; font-weight: bold;">CW4</td>
                            <td style="text-align: center; font-weight: bold;">CW5</td>
                            <td style="text-align: center; font-weight: bold;">FINAL EXAM</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Bobot(%)</td>
                            <td style="text-align: center;" id="MT"></td>
                            <td style="text-align: center;" id="CW1"></td>
                            <td style="text-align: center;" id="CW2"></td>
                            <td style="text-align: center;" id="CW3"></td>
                            <td style="text-align: center;" id="CW4"></td>
                            <td style="text-align: center;" id="CW5"></td>
                            <td style="text-align: center;" id="FE"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Nilai Maksimal</td>
                            <td style="text-align: center;" id="maxMT"></td>
                            <td style="text-align: center;" id="maxCW1"></td>
                            <td style="text-align: center;" id="maxCW2"></td>
                            <td style="text-align: center;" id="maxCW3"></td>
                            <td style="text-align: center;" id="maxCW4"></td>
                            <td style="text-align: center;" id="maxCW5"></td>
                            <td style="text-align: center;" id="maxFE"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Pilih Komponen</td>
                            <td style="text-align: center;"><input type="radio" name="jenisNilai" value="MT" /></td>
                            <td style="text-align: center;"><input type="radio" name="jenisNilai" value="CW1" /></td>
                            <td style="text-align: center;"><input type="radio" name="jenisNilai" value="CW2" /></td>
                            <td style="text-align: center;"><input type="radio" name="jenisNilai" value="CW3" /></td>
                            <td style="text-align: center;"><input type="radio" name="jenisNilai" value="CW4" /></td>
                            <td style="text-align: center;"><input type="radio" name="jenisNilai" value="CW5" /></td>
                            <td style="text-align: center;"><input type="radio" name="jenisNilai" value="FE" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />
            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding: 15px;">
                <div style="overflow-x: auto;">
                    <h5 class="card-title" style="padding-right: 15px; font-weight: bold; font-size: 18px; color: black; ">
                        DAFTAR MAHASISWA
                    </h5>
                    <div id="divDataNilai" class="divNilai">
                        <table id="dataNilai" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                            <thead>
                                <tr id="headers">
                                    <th class="zero-padding center no-border vertical-center sorting">No.</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nomor Induk Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nama Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">MT</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Final Exam</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nilai Total</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Grade</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="divCW1" class="divNilai" hidden>
                        <table id="dataCW1" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                            <thead>
                                <tr id="headers">
                                    <th class="zero-padding center no-border vertical-center sorting">No.</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nomor Induk Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nama Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1.1</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1.2</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1.3</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1.4</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1.5</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1.6</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1.7</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1.8</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1.9</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW1.10</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nilai Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="divCW2" class="divNilai" hidden>
                        <table id="dataCW2" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                            <thead>
                                <tr id="headers">
                                    <th class="zero-padding center no-border vertical-center sorting">No.</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nomor Induk Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nama Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2.1</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2.2</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2.3</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2.4</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2.5</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2.6</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2.7</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2.8</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2.9</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW2.10</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nilai Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="divCW3" class="divNilai" hidden>
                        <table id="dataCW3" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                            <thead>
                                <tr id="headers">
                                    <th class="zero-padding center no-border vertical-center sorting">No.</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nomor Induk Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nama Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3.1</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3.2</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3.3</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3.4</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3.5</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3.6</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3.7</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3.8</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3.9</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW3.10</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nilai Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="divCW4" class="divNilai" hidden>
                        <table id="dataCW4" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                            <thead>
                                <tr id="headers">
                                    <th class="zero-padding center no-border vertical-center sorting">No.</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nomor Induk Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nama Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4.1</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4.2</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4.3</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4.4</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4.5</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4.6</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4.7</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4.8</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4.9</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW4.10</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nilai Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="divCW5" class="divNilai" hidden>
                        <table id="dataCW5" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                            <thead>
                                <tr id="headers">
                                    <th class="zero-padding center no-border vertical-center sorting">No.</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nomor Induk Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nama Mahasiswa</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5.1</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5.2</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5.3</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5.4</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5.5</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5.6</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5.7</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5.8</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5.9</th>
                                    <th class="zero-padding center no-border vertical-center sorting">CW5.10</th>
                                    <th class="zero-padding center no-border vertical-center sorting">Nilai Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <button id="reset" class="btn" style="margin: 30px; margin-bottom: 0px; margin-right: 0px; float: right; background-color: rgb(209,2,2); color: white; padding: 5px 30px; font-weight: bold; font-size: 16px; ">RESET</button>
                    <button id="simpan" class="btn" style="margin: 30px; margin-bottom: 0px; margin-right: 0px; float: right; background-color: #FF8A04; color: white; padding: 5px 30px; font-weight: bold; font-size: 16px; ">SIMPAN</button>
                    <button id="submit" class="btn" style="margin: 30px; margin-bottom: 0px; margin-right: 0px; float: right; background-color: rgb(0,166,81); color: white; padding: 5px 30px; font-weight: bold; font-size: 16px; ">SUBMIT</button>
                </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var mahasiswa;
        var ids = [];
        var subTables = [];
        var bobot;
        var subBobot;
        var tmpMain;
        var tmpSub = {};

        $(document).ready(function () {
            getSemester();
            getBobot();
            getSubBobot();
            loadTable();
        });
        function loadTmpMainTable() {
            var data = new Object();
            data.ids = ids;
            data.idJadwalKuliah = @Model.ID;
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetNilai", "Penilaian")",
                data: data
            }).then(function (response) {
                if (!response) return;
                tmpMain = response;
                for (var i = 0; i < response.length; i++) {
                    $('#MT' + response[i].MahasiswaID).val(response[i].UTS);
                    $('#CW1' + response[i].MahasiswaID).val(response[i].CW1);
                    $('#CW2' + response[i].MahasiswaID).val(response[i].CW2);
                    $('#CW3' + response[i].MahasiswaID).val(response[i].CW3);
                    $('#CW4' + response[i].MahasiswaID).val(response[i].CW4);
                    $('#CW5' + response[i].MahasiswaID).val(response[i].CW5);
                    $('#FE' + response[i].MahasiswaID).val(response[i].Final);
                    $('#Total' + response[i].MahasiswaID).html(response[i].NilaiTotal);
                    $('#Grade' + response[i].MahasiswaID).html(response[i].Grade);
                }
            })
        }
        function loadTmpSubTable(flag) {
            var data = new Object();
            data.ids = ids;
            data.idJadwalKuliah = @Model.ID;
            data.headCW = flag;
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetNilaiSubCW", "Penilaian")",
                data: data
            }).then(function (response) {
                if (!response) return;
                tmpSub[flag] = response;
                for (var i = 0; i < response.length; i++) {
                    $('#' + flag + '1' + response[i].NilaiKuliahs.MahasiswaID).val(response[i].CWSub1);
                    $('#' + flag + '2' + response[i].NilaiKuliahs.MahasiswaID).val(response[i].CWSub2);
                    $('#' + flag + '3' + response[i].NilaiKuliahs.MahasiswaID).val(response[i].CWSub3);
                    $('#' + flag + '4' + response[i].NilaiKuliahs.MahasiswaID).val(response[i].CWSub4);
                    $('#' + flag + '5' + response[i].NilaiKuliahs.MahasiswaID).val(response[i].CWSub5);
                    $('#' + flag + '6' + response[i].NilaiKuliahs.MahasiswaID).val(response[i].CWSub6);
                    $('#' + flag + '7' + response[i].NilaiKuliahs.MahasiswaID).val(response[i].CWSub7);
                    $('#' + flag + '8' + response[i].NilaiKuliahs.MahasiswaID).val(response[i].CWSub8);
                    $('#' + flag + '9' + response[i].NilaiKuliahs.MahasiswaID).val(response[i].CWSub9);
                    $('#' + flag + '10' + response[i].NilaiKuliahs.MahasiswaID).val(response[i].CWSub10);
                    $('#Total' + flag + response[i].NilaiKuliahs.MahasiswaID).val(response[i].NilaiTotal);
                }
            });
        }
        function getSemester() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetSemester", "Penilaian")?strm=" + @Model.STRM
            }).then(function (response) {
                $('#strm').html(response);
            });
        }
        function getBobot() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("getBobot", "Penilaian")?idMatkul=" + @Model.MataKuliahID
            }).then(function (response) {
                if (response.CW1 != null) response.fCW1 = parseFloat(response.CW1); else response.fCW1 = 0;
                if (response.CW2 != null) response.fCW2 = parseFloat(response.CW2); else response.fCW2 = 0;
                if (response.CW3 != null) response.fCW3 = parseFloat(response.CW3); else response.fCW3 = 0;
                if (response.CW4 != null) response.fCW4 = parseFloat(response.CW4); else response.fCW4 = 0;
                if (response.CW5 != null) response.fCW5 = parseFloat(response.CW5); else response.fCW5 = 0;
                response.fMT = parseFloat(response.MT)
                response.fFinal = parseFloat(response.Final)
                bobot = response;
                $('#mtcw').html((response.fMT + response.fCW1 + response.fCW2 + response.fCW3 + response.fCW4 + response.fCW5).toFixed(2));
                $('#fe').html(response.fFinal.toFixed(2));

                $('#MT').html(response.MT);
                $('#FE').html(response.Final);
                $('#maxMT').html('100.00');
                $('#maxFE').html('100.00');

                $('#CW1').html(response.fCW1.toFixed(2));
                $('#CW2').html(response.fCW2.toFixed(2));
                $('#CW3').html(response.fCW3.toFixed(2));
                $('#CW4').html(response.fCW4.toFixed(2));
                $('#CW5').html(response.fCW5.toFixed(2));
                if (response.fCW1 == 0) {
                    $('#maxCW1').html('0.00');
                } else {
                    $('#maxCW1').html('100.00');
                }
                if (response.fCW2 == 0) {
                    $('#maxCW2').html('0.00');
                } else {
                    $('#maxCW2').html('100.00');
                }
                if (response.fCW3 == 0) {
                    $('#maxCW3').html('0.00');
                } else {
                    $('#maxCW3').html('100.00');
                }
                if (response.fCW4 == 0) {
                    $('#maxCW4').html('0.00');
                } else {
                    $('#maxCW4').html('100.00');
                }
                if (response.fCW5 == 0) {
                    $('#maxCW5').html('0.00');
                } else {
                    $('#maxCW5').html('100.00');
                }

            });
        }
        function getSubBobot() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetSubBobot", "Penilaian")?idMatkul=" + @Model.MataKuliahID
            }).then(function (response) {
                subBobot = response;
                if (response.length > 0) {
                    loadTableSub('CW1');
                    loadTableSub('CW2');
                    loadTableSub('CW3');
                    loadTableSub('CW4');
                    loadTableSub('CW5');
                }
            });
        }
        function loadTable() {
            $('#dataNilai').DataTable({
                ajax: {
                    url: '@Url.Action("GetMahasiswa", "Penilaian")?idJadwalKuliah=' + @Model.ID,
                    dataSrc: function (json) {
                        mahasiswa = json;
                        for (var i = 0; i < json.length; i++) {
                            ids.push(json[i].MahasiswaID);
                        }
                        loadTmpMainTable();
                        return json;
                    }
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [
                    [0, 'asc']
                ],
                "columns": [
                    {
                        "data": null
                    },
                    {
                        "data": "mahasiswas.NIM",
                        "render": function (data, type, row, meta) {
                            if (data == null) {
                                data = '-';
                            }
                            return '<div style="vertical-align: middle;">' + data + '</div>';
                        }
                    },
                    {
                        "data": "mahasiswas.Nama",
                        "render": function (data, type, row, meta) {
                            return '<div style="vertical-align: middle;">' + data + '</div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai" type="text" id="MT' + row.MahasiswaID + '" disabled></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai" type="text" id="CW1' + row.MahasiswaID + '" disabled></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai" type="text" id="CW2' + row.MahasiswaID + '" disabled></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai" type="text" id="CW3' + row.MahasiswaID + '" disabled></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai" type="text" id="CW4' + row.MahasiswaID + '" disabled></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai" type="text" id="CW5' + row.MahasiswaID + '" disabled></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai" type="text" id="FE' + row.MahasiswaID + '" disabled></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center; vertical-align: middle;" id="Total' + row.MahasiswaID + '">0</div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center; vertical-align: middle;" id="Grade' + row.MahasiswaID + '">E</div>';
                        }
                    }
                ]
            });
            $('#dataNilai').DataTable().on('order.dt search.dt', function () {
                $('#dataNilai').DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = '<div style="text-align:center;">' + (i + 1) + '</div>';
                });
            }).draw();
        }
        function loadTableSub(flag) {
            $('#data' + flag).DataTable({
                ajax: {
                    url: '@Url.Action("GetMahasiswa", "Penilaian")?idJadwalKuliah=' + @Model.ID,
                    dataSrc: function (json) {
                        setTimeout(() => {
                            loadTmpSubTable(flag);
                        }, 1000);
                        return json;
                    }
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [
                    [0, 'asc']
                ],
                "columns": [
                    {
                        "data": null
                    },
                    {
                        "data": "mahasiswas.NIM",
                        "render": function (data, type, row, meta) {
                            if (data == null) {
                                data = '-';
                            }
                            return '<div style="vertical-align: middle;">' + data + '</div>';
                        }
                    },
                    {
                        "data": "mahasiswas.Nama",
                        "render": function (data, type, row, meta) {
                            return '<div style="vertical-align: middle;">' + data + '</div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai2" type="text" id="' + flag + '1' + row.MahasiswaID + '"></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai2" type="text" id="' + flag + '2' + row.MahasiswaID + '"></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai2" type="text" id="' + flag + '3' + row.MahasiswaID + '"></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai2" type="text" id="' + flag + '4' + row.MahasiswaID + '"></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai2" type="text" id="' + flag + '5' + row.MahasiswaID + '"></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai2" type="text" id="' + flag + '6' + row.MahasiswaID + '"></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai2" type="text" id="' + flag + '7' + row.MahasiswaID + '"></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai2" type="text" id="' + flag + '8' + row.MahasiswaID + '"></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai2" type="text" id="' + flag + '9' + row.MahasiswaID + '"></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center;"><input size=2 class="inputNilai2" type="text" id="' + flag + '10' + row.MahasiswaID + '"></div>';
                        }
                    },
                    {
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center; vertical-align: middle;" id="Total' + flag + row.MahasiswaID + '">0</div>';
                        }
                    }
                ]
            });
            $('#data' + flag).DataTable().on('order.dt search.dt', function () {
                $('#data' + flag).DataTable().column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = '<div style="text-align:center;">' + (i + 1) + '</div>';
                });
            }).draw();
        }
        $('input[type=radio][name=jenisNilai]').change(function () {
            $('.divNilai').hide();
            if (this.value == 'MT' || this.value == 'FE' || subBobot.length == 0) {
                $('#divDataNilai').show();
                $(".inputNilai").attr("disabled", true);
                if (!mahasiswa && '@Model.IsActive'.toLowerCase == 'false') return;
                for (var i = 0; i < mahasiswa.length; i++) {
                    $('#' + this.value + mahasiswa[i].MahasiswaID).attr("disabled", false);
                }
            } else {
                if ('@Model.IsActive'.toLowerCase == 'false') $(".inputNilai2").attr("disabled", true);
                $('#div' + this.value).show();
            }
        });
        $('#submit').click(function () {
            var data = new Object();
            var list = [];
            for (var i = 0; i < mahasiswaCount; i++) {
                if (!$('#checkDosen' + i).is(':checked')) {
                    continue;
                }
                list.push($('#checkDosen' + i).val());
            }
            data.idAbsensis = list;
            $.ajax({
                type: "POST",
                url: "@Url.Action("SubmitCheckDosen", "PresensiKelas")",
                data: data
            }).then(function (response) {
                alert(response.message);
                if (response.status == 200) {
                    window.history.back();
                }
            });
        });
        $('#reset').click(function () {
            if (!mahasiswa) return;
            var data = new Object();
            data.ids = ids;
            data.idJadwalKuliah = @Model.ID;
                data.flag = $('input[name=jenisNilai]:checked').val();
            if ($('input[name=jenisNilai]:checked').val() == 'MT' || $('input[name=jenisNilai]:checked').val() == 'FE' || subBobot.length == 0) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ResetNilaiMahasiswa", "Penilaian")",
                    data: data
                }).then(function (response) {
                    if (response.status == 200) {
                        for (var i = 0; i < mahasiswa.length; i++) {
                            $('#' + $('input[name=jenisNilai]:checked').val() + mahasiswa[i].MahasiswaID).val('');
                        }
                    }
                    alert(response.message);
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ResetSubNilaiMahasiswa", "Penilaian")",
                    data: data
                }).then(function (response) {
                    if (response.status == 200) {
                        for (var j = 0; j < mahasiswa.length; j++) {
                            for (var i = 1; i <= 10; i++) {
                                $('#' + $('input[name=jenisNilai]:checked').val() + i + '' + mahasiswa[j].MahasiswaID).val('');
                            }
                        }
                    }
                    alert(response.message);
                });
            }
        })
        $('#simpan').click(function () {
            if (!mahasiswa) return;
            var data = new Object();
            var listNilai = [];
            var CW1 = [];
            var CW2 = [];
            var CW3 = [];
            var CW4 = [];
            var CW5 = [];
            var isSub = subBobot.length > 0;

            for (var i = 0; i < mahasiswa.length; i++) {
                var tmp = new Object();
                tmp.MahasiswaID = mahasiswa[i].MahasiswaID;
                tmp.JadwalKuliahID = @Model.ID;
                tmp.NamaMatakuliah = '@Model.NamaMataKuliah';
                tmp.UTS = $('#MT' + mahasiswa[i].MahasiswaID).val();
                tmp.CW1 = $('#CW1' + mahasiswa[i].MahasiswaID).val();
                tmp.CW2 = $('#CW2' + mahasiswa[i].MahasiswaID).val();
                tmp.CW3 = $('#CW3' + mahasiswa[i].MahasiswaID).val();
                tmp.CW4 = $('#CW4' + mahasiswa[i].MahasiswaID).val();
                tmp.CW5 = $('#CW5' + mahasiswa[i].MahasiswaID).val();
                tmp.Final = $('#FE' + mahasiswa[i].MahasiswaID).val();
                tmp.NilaiTotal = $('#Total' + mahasiswa[i].MahasiswaID).html();
                tmp.Grade = $('#Grade' + mahasiswa[i].MahasiswaID).html();
                listNilai.push(tmp);
                if (isSub) {
                    var tmp2 = new Object();
                    tmp2.CWSub1 = $('#CW11' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub2 = $('#CW12' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub3 = $('#CW13' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub4 = $('#CW14' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub5 = $('#CW15' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub6 = $('#CW16' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub7 = $('#CW17' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub8 = $('#CW18' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub9 = $('#CW19' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub10 = $('#CW110' + mahasiswa[i].MahasiswaID).val();
                    tmp2.NilaiTotal = $('#TotalCW1' + mahasiswa[i].MahasiswaID).html();
                    tmp2.HeadCW = 'CW1';
                    CW1.push(tmp2);

                    tmp2 = new Object();
                    tmp2.CWSub1 = $('#CW21' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub2 = $('#CW22' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub3 = $('#CW23' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub4 = $('#CW24' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub5 = $('#CW25' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub6 = $('#CW26' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub7 = $('#CW27' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub8 = $('#CW28' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub9 = $('#CW29' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub10 = $('#CW210' + mahasiswa[i].MahasiswaID).val();
                    tmp2.NilaiTotal = $('#TotalCW2' + mahasiswa[i].MahasiswaID).html();
                    tmp2.HeadCW = 'CW2';
                    CW2.push(tmp2);

                    tmp2 = new Object();
                    tmp2.CWSub1 = $('#CW31' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub2 = $('#CW32' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub3 = $('#CW33' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub4 = $('#CW34' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub5 = $('#CW35' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub6 = $('#CW36' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub7 = $('#CW37' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub8 = $('#CW38' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub9 = $('#CW39' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub10 = $('#CW310' + mahasiswa[i].MahasiswaID).val();
                    tmp2.NilaiTotal = $('#TotalCW3' + mahasiswa[i].MahasiswaID).html();
                    tmp2.HeadCW = 'CW3';
                    CW3.push(tmp2);

                    tmp2 = new Object();
                    tmp2.CWSub1 = $('#CW41' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub2 = $('#CW42' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub3 = $('#CW43' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub4 = $('#CW44' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub5 = $('#CW45' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub6 = $('#CW46' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub7 = $('#CW47' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub8 = $('#CW48' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub9 = $('#CW49' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub10 = $('#CW410' + mahasiswa[i].MahasiswaID).val();
                    tmp2.NilaiTotal = $('#TotalCW4' + mahasiswa[i].MahasiswaID).html();
                    tmp2.HeadCW = 'CW4';
                    CW4.push(tmp2);

                    tmp2 = new Object();
                    tmp2.CWSub1 = $('#CW51' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub2 = $('#CW52' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub3 = $('#CW53' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub4 = $('#CW54' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub5 = $('#CW55' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub6 = $('#CW56' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub7 = $('#CW57' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub8 = $('#CW58' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub9 = $('#CW59' + mahasiswa[i].MahasiswaID).val();
                    tmp2.CWSub10 = $('#CW510' + mahasiswa[i].MahasiswaID).val();
                    tmp2.NilaiTotal = $('#TotalCW5' + mahasiswa[i].MahasiswaID).html();
                    tmp2.HeadCW = 'CW5';
                    CW5.push(tmp2);

                }
            }
            data.listNilai = listNilai;
            data.CW1 = CW1;
            data.CW2 = CW2;
            data.CW3 = CW3;
            data.CW4 = CW4;
            data.CW5 = CW5;
            data.isSub = isSub;
            console.log(data);
            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertNilai", "Penilaian")",
                dataType: "json",
                data: data
            }).then(function (response) {
                alert(response.message);
            });
        })
        $('#submit').click(function () {
            if (!mahasiswa) return;

        });
    </script>
}
