@{
    Layout = "~/Areas/Portal/Views/shared/_LayoutHome.cshtml";
    ViewBag.Title = "SIMBKM";
}

<input type="hidden" id="namaDosen" value="@Model.NamaDosen" />
<input type="hidden" id="idDosen" value="@Model.DosenID" />
<input type="hidden" id="idMatkul" value="@Model.ID" />

<div class="card center-block" style="background-color: white; margin-bottom: 15px;">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
        <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; padding-left: 15px; font-weight: bold; font-size: 20px; color: black; ">
            ISI FORM PENDAFTARAN MATA KULIAH
        </h5>
        <hr />
        <div class="container" style="width: 100%; padding-bottom: 15px;">

            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 18px; color: black;">MATA KULIAH TUJUAN</h5>

                <div class="container" style="width: 100%;">
                    <table class="table">
                        <tr>
                            <td style="text-align: right; width: 40%;">Fakultas</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.NamaFakultas</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Program Studi</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.NamaProdi</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Lokasi</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.Lokasi</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Kode Mata Kuliah</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.KodeMataKuliah</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Nama Mata Kuliah</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.NamaMataKuliah</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">SKS</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.SKS</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Seksi</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.ClassSection</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Hari</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.Hari</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Waktu</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.JamMasuk - @Model.JamSelesai</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Nama Dosen</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.NamaDosen</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Jenis Program MBKM</td>
                            <td style="text-align: center;">:</td>
                            <td id="jenisProgramMBKM"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Jenis Kegiatan MBKM</td>
                            <td style="text-align: center;">:</td>
                            <td id="jenisKegiatanMBKM"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">No. Kerjasama</td>
                            <td style="text-align: center;">:</td>
                            <td>@Model.NoKerjasama</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="matkulAsal">
                <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                    <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 18px; color: black;">MATA KULIAH ASAL</h5>

                    <div class="container" style="width: 100%;">
                        <table class="table">
                            <tr>
                                <td style="text-align: right; width: 40%;">Mata Kuliah</td>
                                <td style="text-align: center;">:</td>
                                <td>
                                    <div class="form-group">
                                        <select name="mataKuliahAsal" id="mataKuliahAsal" class="form-control input-md"></select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <button id="simpan" class="btn" style="margin: 15px; margin-bottom: 0px; margin-right: 0px; float: right; background-color: #FF8A04; color: white; padding: 5px 30px; font-weight: bold; font-size: 16px; ">SUBMIT</button>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            getJenisKerjasama();
            if ($('#jenisProgramMBKM').html() == 'Non Pertukaran') {
                $('#matkulAsal').hide();
            } else {
                loadMataKuliahAsal();
            }
        });
        $('#simpan').click(function () {
            if (!confirm("Apakah anda yakin akan mendaftar mata kuliah ini?")) {
                return;
            }
            var data = new Object();
            data.DosenPembimbing = $('#namaDosen').val();
            data.DosenID = $('#idDosen').val();
            data.JadwalKuliahID = $('#idMatkul').val();
            if ($('#jenisProgramMBKM').html() != 'Non Pertukaran') {
                data.CPLMatakuliahID = $('#mataKuliahAsal').select2('data')[0].idMatkul;
                var string = $('#mataKuliahAsal').select2('data')[0].text.split(' - ');
                data.MatkulAsal = string[1];
                data.MatkulKodeAsal = string[0];
                data.MatkulIDAsal = $('#mataKuliahAsal').val();
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertPendaftaranMK", "PendaftaranMataKuliah")",
                data: data
            }).then(function (response2) {
                if (response2.status == 200) {
                    window.history.back();
                } else {
                    alert(response2.message);
                }
            });
        });
        function loadMataKuliahAsal() {
            $("#mataKuliahAsal").select2({
                placeholder: "-- Pilih Mata Kuliah Asal --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("GetMataKuliahAsal", "PendaftaranMataKuliah")?idMatkul=" + $('#idMatkul').val(),
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Search: params.term || ""
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.KodeMataKuliah + ' - ' + item.NamaMataKuliah, idMatkul: item.IDMataKUliah } })
                        };
                    },
                }
            });
            //var option = $("<option selected='selected'></option>").val(1).text('a - b').attr('idMatkul', '222');
            //$("#mataKuliahAsal").append(option).trigger('change');
        }
        function getJenisKerjasama() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetJenisKerjasamaInternal", "PendaftaranMataKuliah")"
            }).then(function (response) {
                $('#jenisProgramMBKM').html(response.JenisPertukaran);
                $('#jenisKegiatanMBKM').html(response.JenisKerjasama);
            });
        }
    </script>
}