
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery")
    @*<link href="~/Content/select2.min.css" rel="stylesheet" />*@

    <script src="~/Scripts/sweetalert2.all.min.js"></script>

}

    @model MBKM.Entities.Models.MBKM.MasterCapaianPembelajaran
@section modal{
    <div class="modal fade" id="detail-cpl-template" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content data-content-modal">
                <div class="modal-header" style="background-color: #FF8A04; ">
                    <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
                        DETAIL CAPAIAN BELAJAR
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" id="frmSave">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fakultas</label>
                            <div class="col-sm-9">
                                <input type="text" value="" class="form-control input-pendaftaran input-data" disabled="disabled" id="fakultasDetail" name="fakultasDetail">
                                @*@Html.EditorFor(model => model.NamaProdi, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled" } })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Program Studi</label>
                            <div class="col-sm-9">
                                <input type="text" value="" class="form-control input-pendaftaran input-data" disabled="disabled" id="prodiDetail" name="kelompokDetail">
                                @*@Html.EditorFor(model => model.NamaProdi, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled" } })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kelompok</label>
                            <div class="col-sm-9">
                                <input type="text" value="" class="form-control input-pendaftaran input-data" disabled="disabled" id="kelompokDetail" name="kelompokDetail">

                                @*@Html.EditorFor(model => model.Kelompok, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled" } })*@

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="kodeDetail" class="col-sm-3 control-label">Kode CPL</label>
                            <div class="col-sm-9">
                                <input type="text" value="" class="form-control input-pendaftaran input-data" disabled="disabled" id="kodeDetail" name="kodeDetail">
                                @*@Html.EditorFor(model => model.Kode, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled" } })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtdCPL" class="col-sm-3 control-label">Capaian Pembelajaran</label>
                            <div class="col-sm-9">
                                @*<input type="text" class="form-control input-pendaftaran input-data" id="txtCPL" name="txtCPL" placeholder="Input Deskripsi Capaian Pembelajaran">*@
                                <textarea class="form-control input-pendaftaran summernote input-data" name="txtdCPL" rows="5" id="cplDetail" disabled></textarea>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inp_status" class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                <label id="aktif" class="radio-inline input-pendaftaran ">
                                    <input type="text" name="inpStatus1" id="inp_status1" value="1" disabled> Aktif
                                </label>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="TambahCPL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #FF8A04; ">
                    <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
                        TAMBAH CAPAIAN BELAJAR
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="formRegistrasi">
                        @*<form id="formRegistrasi">*@
                        <div class="container" style="width: 100%;">
                            <div class="form-group ">
                                <label for="jenjang" class="col-sm-3 control-label">Jenjang Studi</label>
                                <div class="col-sm-9">

                                    <select name="jenjang" id="jenjang" class="form-control input-pendaftaran input-data"></select>
                                </div>

                            </div>
                            <div class="form-group ">


                                <label for="fakultas" class="col-sm-3 control-label">Fakultas</label>
                                <div class="col-sm-9">
                                    <select name="fakultas" id="fakultas" class="form-control input-pendaftaran input-data"></select>
                                    @*@Html.DropDownListFor(model => model.Nama, ViewBag.listProdi as SelectList, "--Pilih Prodi/unit--", new { @class = "form-control input-pendaftaran input-data", @id = "txtProdi", @name = "txtProdi" })*@
                                </div>

                            </div>
                            <div class="form-group ">
                                <label for="prodi" class="col-sm-3 control-label">Program Studi</label>
                                <div class="col-sm-9">

                                    <select name="prodi" id="prodi" class="form-control input-pendaftaran input-data"></select>
                                </div>

                            </div>
                            <div class="form-group ">
                                <label for="lokasi" class="col-sm-3 control-label">Lokasi</label>
                                <div class="col-sm-9">

                                    <select name="lokasi" id="lokasi" class="form-control input-md input-pendaftaran input-data"></select>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="kelompok" class="col-sm-3 control-label">Kelompok</label>
                                <div class="col-sm-9">
                                    <select class="form-control input-pendaftaran input-data" id="kelompok" name="kelompok" placeholder="Pilih Kelompok">
                                        <option value="value">-</option>
                                        <option value="value">text</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="kode" class="col-sm-3 control-label">Kode CPL</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-pendaftaran input-data" id="kode" name="kode" placeholder="Input Kode CPL">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCPL" class="col-sm-3 control-label">Capaian Pembelajaran</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control input-pendaftaran input-data" id="txtCPL" name="txtCPL" placeholder="Input Deskripsi Capaian Pembelajaran">*@
                                    <textarea class="form-control input-pendaftaran summernote input-data" name="txtCPL" rows="5" id="txtCPL" placeholder="Input Deskripsi Capaian Pembelajaran"></textarea>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inp_status" class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline input-pendaftaran">
                                        <input type="radio" name="inpStatus" id="inp_status" value="1"> Aktif
                                    </label>
                                    <label class="radio-inline input-pendaftaran">
                                        <input type="radio" name="inpStatus" id="inp_status" value="0"> Tidak Aktif
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-md-offset-10">
                                    <button type="button" onclick="PostCreate3()" class="btn btn-warning">SIMPAN</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @* UPDATE  *@
    <div class="modal fade" id="EditCPL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #FF8A04; ">
                    <input type="hidden" id="id_cpl" value="" />
                    <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
                        EDIT CAPAIAN BELAJAR
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="formRegistrasi">
                        @*<form id="formRegistrasi">*@
                        <div class="container" style="width: 100%;">
                            <div class="form-group ">
                                <label  class="col-sm-3 control-label">Jenjang Studi</label>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.JenjangStudi, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "jenjangEdit" } })
                                    @*<select name="jenjang" id="jenjangEdit" class="form-control input-pendaftaran input-data"></select>*@
                                </div>

                            </div>
                            <div class="form-group ">


                                <label for="fakultas" class="col-sm-3 control-label">Fakultas</label>
                                <!--<div class="col-sm-9" id="fakultasEdit1"hidden>
                                    <select name="fakultasEdit" id="fakultasEdit" class="form-control input-pendaftaran input-data" hidden></select>-->
                                    @*@Html.DropDownListFor(model => model.Nama, ViewBag.listProdi as SelectList, "--Pilih Prodi/unit--", new { @class = "form-control input-pendaftaran input-data", @id = "txtProdi", @name = "txtProdi" })*@
                                <!--</div>-->
                                <div class="col-sm-9" id="fakultasEdit2">
                                    @*<select name="noKJ" id="noKJ" disabled="disabled" class="form-control input-md" hidden required></select>*@

                                    @Html.EditorFor(model => model.NamaFakultas, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "fakultasEdits"} })
                                   @* @Html.EditorFor(model => model.FakultasID, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "fakultasEditsID"} })*@
                                </div>

                            </div>
                            <div class="form-group ">


                                <label for="fakultas" class="col-sm-3 control-label">Program Studi</label>
                                <!--<div class="col-sm-9" id="prodiEdit1"hidden >
                                    <select name="prodiEdit" id="prodiEdit" class="form-control input-pendaftaran input-data"></select>-->
                                    @*@Html.DropDownListFor(model => model.Nama, ViewBag.listProdi as SelectList, "--Pilih Prodi/unit--", new { @class = "form-control input-pendaftaran input-data", @id = "txtProdi", @name = "txtProdi" })*@
                                <!--</div>-->
                                <div class="col-sm-9" id="prodiEdit2">
                                    @*<select name="noKJ" id="noKJ" disabled="disabled" class="form-control input-md" hidden required></select>*@

                                    @Html.EditorFor(model => model.NamaProdi, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "prodiEdits" } })
                                    @*@Html.EditorFor(model => model.ProdiID, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "prodiEditsID" } })*@
                                </div>

                            </div>
                            <div class="form-group ">
                                <label for="lokasi" class="col-sm-3 control-label">Lokasi</label>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Lokasi, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "lokasiEdit" } })
                                    @*<select name="lokasiEdit" id="lokasiEdit" class="form-control input-md input-pendaftaran input-data"></select>*@
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="kelompok" class="col-sm-3 control-label">Kelompok</label>
                                <div class="col-sm-9">
                                    <select class="form-control input-pendaftaran input-data" id="kelompokEdit" name="kelompokEdit" placeholder="Pilih Kelompok">
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="kode" class="col-sm-3 control-label">Kode CPL</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-pendaftaran input-data" id="kodeEdit" name="kodeEdit" placeholder="Input Kode CPL">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCPL" class="col-sm-3 control-label">Capaian Pembelajaran</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control input-pendaftaran input-data" id="txtCPL" name="txtCPL" placeholder="Input Deskripsi Capaian Pembelajaran">*@
                                    <textarea class="form-control input-pendaftaran summernote input-data" name="cplEdit" rows="5" id="cplEdit" placeholder="Input Deskripsi Capaian Pembelajaran"></textarea>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inp_status" class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline input-pendaftaran">
                                        <input type="radio" name="inpStatus" id="inp_statusEdit" value="1"> Aktif
                                    </label>
                                    <label class="radio-inline input-pendaftaran">
                                        <input type="radio" name="inpStatus" id="inp_statusEdit" value="0"> Tidak Aktif
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-md-offset-10">
                                    <button type="button" onclick="PostUpdateCPL()" class="btn btn-warning">SIMPAN</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@*<div class="container-fluid" style="margin-left:40px; margin-right:40px;margin-bottom:100px;">*@
<div class="container-fluid" style="padding: 0px">
    <div class="card center-block" style="background-color: white; width: 100%">
        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                MANAGE CAPAIAN PEMBELAJARAN
            </h4>
            <hr />
            @*<div class="container" style="width: 100%;">*@
        <div class="container" style="width: 100%">
            @*<button class="btn btn-success" data-toggle="modal" onclick="AddUserTemplate()" data-target="#TambahUser" data-backdrop="true"><i class="fas fa-plus-circle"></i> TAMBAH USER</button>*@
            @*<button class="btn btn-success" onclick="AddCPLTemplate()"><i class="fas fa-plus-circle"></i> TAMBAH CPL</button>*@
            @*<a data-toggle="modal" data-target="#TambahCPL" style="color: #FF8A04;">Tambah CPL</a>*@
            <button data-toggle="modal" data-target="#TambahCPL" class="btn btn-success"><i class="fas fa-plus-circle"></i> Tambah CPL</button>
            <br />
            <br />
            @*<table id="TableList" class="table row-border hover dt-responsive responsive" style="border-spacing: 0 15px; border:0">*@
            <table id="TableList" class="table table-bordered table-striped hover dt-responsive responsive">
                <thead class="text-center">
                    <tr style="background-color: #FF8A04; border: 0 ">
                        <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Action</th>
                        <th class="zero-padding no-border vertical-center sorting" style="text-align:center">No.</th>
                        <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Kode</th>
                        <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Kelompok</th>
                        <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Capaian Pembelajaran</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

@section scripts{

    @*<script src="~/Scripts/Admin/MasterCPL/main.js"></script>
        <script src="~/Scripts/Admin/MasterCPL/crud.js"></script>*@
    <script src="~/Scripts/loading/loadingoverlay.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        function clearValueOnForm() {
            $("#prodi").val('');
            $("#fakultas").val('');
            $("#jenjang").val('');
            $('input[name=inp_status]').prop('checked', false);
        }
        $(document).ready(function () {
            loadFakultas();
            //loadFakultasEdit();
            loadFromLookup("JenjangStudi", "jenjang", "JenjangStudi");
            //loadFromLookup("JenjangStudi", "jenjangEdit", "JenjangStudi");
            loadFromLookup("Kelompok", "kelompok", "Kelompok");
            loadFromLookup("Kelompok", "kelompokEdit", "Kelompok");
            $("#prodi").select2({
                //dropdownParent: $("#TambahCPL"),
                placeholder: "-- Pilih Program Studi --"
            });
            $("#lokasi").select2({
                //dropdownParent: $("#TambahCPL"),
                placeholder: "-- Pilih Lokasi --"
            });
            $("#prodiEdit").select2({
                //dropdownParent: $("#TambahCPL"),
                placeholder: "-- Pilih Program Studi --"
            });
            //$("#lokasiEdit").select2({
            //    //dropdownParent: $("#TambahCPL"),
            //    placeholder: "-- Pilih Lokasi --"
            //});
        });
        function loadFakultas() {
            $("#prodi").prop("disabled", true);
            $("#lokasi").prop("disabled", true);
            $("#fakultas").prop("disabled", true);

           // $('#fakultas').val(null).trigger('change');
            $("#fakultas").select2({
                //dropdownParent: $("#TambahCPL"),
                multiple: false,
                placeholder: "-- Pilih Fakultas --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("GetFakultas", "MasterCPL")",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Search: params.term || "",
                            Jenjang: $('#jenjang').val()
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                        };
                    },
                }
            });
            $('#fakultas').on('select2:select', function (e) {
                console.log(e.params.data.text);
            });
            $("#jenjang").change(function () {
                $("#fakultas").empty();
                $("#fakultas").prop("disabled",false);
                $("#lokasi").empty();
                $("#prodi").empty();
                $("#prodi").prop("disabled", true);
                //$("#lokasi").prop("disabled", true);
            });
            $("#fakultas").change(function () {
                //$('#fakultas').val(null).trigger('change');
                var latest_value = $("option:selected:first", this).text();
                //alert(latest_value);
                $("#prodi").empty();
                $("#prodi").prop("disabled", false);
                $("#lokasi").prop("disabled", true);
                $("#lokasi").empty();
                $("#prodi").select2({
                    multiple: false,
                    placeholder: "-- Pilih Program Studi --",
                    width: "100%",
                    ajax: {
                        url: "@Url.Action("GetProdiByFakultas", "MasterCPL")",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                Search: params.term || "",
                                IDFakultas: $('#fakultas').val(),
                                Jenjang: $('#jenjang').val()
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })

                            };
                        },
                    }
                });
                $("#prodi").change(function () {
                    $("#lokasi").empty();


                    $("#lokasi").prop("disabled",false);

                    $("#lokasi").select2({
                        placeholder: "-- Pilih Lokasi --",
                        width: "100%",
                        ajax: {
                            url: "@Url.Action("GetLokasiByProdi", "MasterCPL")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    NamaProdi: $('#prodi').val(),
                                    Jenjang: $('#jenjang').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Kampus } })
                                };
                            },
                        }
                    });
                    
                });
                $('#lokasi').on('select2:select', function (e) {
                    console.log(e.params.data.id);
                    //alert(e.params.data.id)
                });
            });
        }
        //SETTING UPDATE-=-=======================================================================================
        @*function loadFakultasEdit() {
            $("#prodiEdit").prop("disabled", true);
            $("#lokasiEdit").prop("disabled", true);
            $("#fakultasEdit").prop("disabled", true);
            $("#jenjangEdit").prop("disabled", true);

           // $('#fakultas').val(null).trigger('change');
            $("#fakultasEdit").select2({
                //dropdownParent: $("#TambahCPL"),
                multiple: false,
                placeholder: "-- Pilih Fakultas --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("GetFakultas", "MasterCPL")",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Search: params.term || "",
                            Jenjang: $('#jenjangEdit').val()
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                        };
                    },
                }
            });
            $('#fakultasEdit').on('select2:select', function (e) {
                console.log(e.params.data.text);
            });
            $("#jenjangEdit").change(function () {
                $("#fakultasEdit").empty();
                $("#fakultasEdit").prop("disabled",false);
                $("#lokasiEdit").empty();
                $("#prodiEdit").empty();
                $("#prodiEdit").prop("disabled", true);
                $("#lokasiEdit").prop("disabled", true);
            });
            $("#fakultasEdit").change(function () {
                //$('#fakultas').val(null).trigger('change');
                var latest_value = $("option:selected:first", this).text();
                //alert(latest_value);
                $("#prodiEdit").empty();
                $("#prodiEdit").prop("disabled", false);
                $("#lokasiEdit").prop("disabled", true);
                $("#lokasiEdit").empty();
                $("#prodiEdit").select2({
                    multiple: false,
                    placeholder: "-- Pilih Program Studi --",
                    width: "100%",
                    ajax: {
                        url: "@Url.Action("GetProdiByFakultas", "MasterCPL")",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                Search: params.term || "",
                                IDFakultas: $('#fakultasEdit').val(),
                                Jenjang: $('#jenjangEdit').val()
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })

                            };
                        },
                    }
                });
                $("#prodiEdit").change(function () {
                    $("#lokasiEdit").empty();


                    $("#lokasiEdit").prop("disabled",false);

                    $("#lokasiEdit").select2({
                        placeholder: "-- Pilih Lokasi --",
                        width: "100%",
                        ajax: {
                            url: "@Url.Action("GetLokasiByProdi", "MasterCPL")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    IDProdi: $('#prodiEdit').val(),
                                    Jenjang: $('#jenjangEdit').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Kampus } })
                                };
                            },
                        }
                    });
                });
            });
        }*@
        //batas crud detail
        function DetailMasterCPL(id) {
            $.LoadingOverlay("show");
            $.ajax({
                url: "@Url.Action("ModalDetailMasterCpl", "MasterCPL")/"+id,
                type: 'get',
                datatype: 'html',
                success: function (data) {
                    $.LoadingOverlay("hide");
                    console.log(data);
                    //if ($('.data-content-modal').length) {
                    //    $('.data-content-modal').remove();
                    //}
                    //$('#modal-inner').append(e);
                    $('#fakultasDetail').val(data.NamaFakultas);
                    $('#kodeDetail').val(data.Kode);
                    $('#prodiDetail').val(data.NamaProdi);
                    $('#kelompokDetail').val(data.Kelompok);
                    $('#cplDetail').val(data.Capaian);
                    if (data.IsActive == true) {
                        $('#aktif').text("Aktif");


                    }
                    else  {
                        $('#aktif').text("Tidak Aktif");
                    }
                    //$('#inp_status').checked(data.IsActive);
                    $('#detail-cpl-template').modal('show');


                }, error: function (e) {
                    $.LoadingOverlay("hide");
                    Swal.fire({
                        title: 'Oppss',
                        icon: 'error',
                        html: 'Coba Reload Page',
                        showCloseButton: true,
                        showCancelButton: false,
                        focusConfirm: false,
                        confirmButtonText: 'OK'
                    })
                    $('.modal').modal('hide');
                }
            })

        }
        //create
        function PostCreate3() {
            //getValueOnForm();
            var formInputUser = new Object();
           // var latest_valueJenjang = $("option:selected:first", "#jenjang").text();
            var latest_valueFakultas = $("option:selected:first", "#fakultas").text();
            //var latest_valueFakultas = $("option:selected:first", "#fakultas").val();
            var latest_valueProdi = $("option:selected:first", "#prodi").text();
            var latest_valueLokasi = $("option:selected:first", "#lokasi").text();
            //var latest_valueLokasi = $("option:selected:first", "#lokasi").text();
            //var latest_valueProdiId = $("option:selected:first", "#lokasi").id();
            //alert(latest_value);
            //var namaProdi = document.getElementById("idProdi");
            //var selectedProdi = namaProdi.options[namaProdi.selectedIndex].text;
            //var namaProdi = selectedProdi.substring(selectedProdi.indexOf('-') + 1);
            //$('#fakultas').on('select2:select', function (e) {
            //    console.log(e.params.data.text);
            //});
            formInputUser.FakultasID = $('#fakultas').val();
            //var asd = $('#fakultas').on('select2:select');
            formInputUser.NamaFakultas = latest_valueFakultas;
            //$('#select2').on('select2:select', function (e: any) {
            //    console.log(e.params.data.id);
            //});
            formInputUser.ProdiID = $('#lokasi').val();
            formInputUser.NamaProdi = latest_valueProdi;
            formInputUser.JenjangStudi = $('#jenjang').text();
            formInputUser.Lokasi = latest_valueLokasi;
            formInputUser.Kelompok = $('#kelompok').val();
            formInputUser.Kode = $('#kode').val();

            formInputUser.Capaian = $('textarea[name=txtCPL]').val();


            var cekAktif = $('input[id=inp_status]:checked').val();
            if (cekAktif == 1) {
                formInputUser.IsActive = "true";
            }
            else { formInputUser.IsActive = "false"; }
           // console.log(formInputUser);
            console.log(formInputUser);
            if ((($('#jenjang').text()) && (latest_valueProdi) && (latest_valueFakultas) && (latest_valueLokasi) && ($('#kode').val()) && (formInputUser.Kelompok = $('#kelompok').val()) && ($('textarea[name=txtCPL]').val()) != null)) {

                var base_url = window.location.origin;
                $.ajax({
                    url: base_url + '/Admin/MasterCPL/PostDataCPL',
                    type: 'post',
                    datatype: 'json',
                    data: JSON.stringify(formInputUser),

                    //contentType: 'application/json'
                    contentType: 'application/json',
                }).then(function (response) {
                    if (response.status == 400) {
                        Swal.fire({
                            title: 'Gagal!',
                            icon: 'error',
                            html: 'EMAIL atau NIP telah terdaftar!',
                            showCloseButton: true,
                            showCancelButton: false,
                            focusConfirm: false,
                            confirmButtonText: 'OK'
                        })
                        tableUser.ajax.reload(null, false);
                        $('.modal').modal('hide');

                        //$('#TambahUser')[0].reset();
                    }
                    else
                        if (response.status == 200) {

                            Swal.fire({
                                title: 'Berhasil',
                                icon: 'success',
                                html: 'CPL Baru Berhasil Ditambahkan',
                                showCloseButton: true,
                                showCancelButton: false,
                                focusConfirm: false,
                                confirmButtonText: 'OK'
                            })
                            tableUser.ajax.reload(null, false);
                            $('.modal').modal('hide');
                            $("#fakultas").empty();
                            $("#prodi").empty();
                            $("#jenjang").empty();
                            $("#lokasi").empty();
                            //$("#formRegistrasi").trigger("reset");
                            //clearValueOnForm();
                            //$('#TambahUser')[0].reset();

                        }

                });
            }
            else { alert("Lengkapi Data!");}
            


        }
        //UPDATE
        function UpdateMasterCPL(id) {
            $.LoadingOverlay("show");
            $.ajax({
                url: '/Admin/MasterCPL/ModalEditMasterCpl/' + id,
                type: 'get',
                datatype: 'html',
                success: function (data) {
                    $.LoadingOverlay("hide");
                    var formEdit = new Object();

                    /*console.log(e);*/
                    //if ($('.data-content-modal').length) {
                    //    $('.data-content-modal').remove();
                    //}
                    //$('#modal-inner').append(e);
                    console.log(data);
                    //console.log(data.NamaProdi);
                    //alert(data.NamaFakultas);

                    //select$('#fakultasEdit').val(data.NamaFakultas);
                    $('#jenjangEdit').val(data.JenjangStudi);
                    $('#lokasiEdit').val(data.Lokasi);
                    $('#fakultasEdits').val(data.NamaFakultas);
                    $('#fakultasEditsID').val(data.FakultasID);
                    $('#prodiEditsID').val(data.ProdiID);
                    $('#prodiEdits').val(data.NamaProdi);
                    $('#kodeEdit').val(data.Kode);
                    $('#id_cpl').val(data.ID);
                    //$('#kelompokEdit').val(data.Kelompok);
                    //$("#kelompokEdit").select2('data', { id: "elementID", text: "Hello!" });
                    //$('#kelompokEdit').val(100).trigger('change');
                    //$('#kelompokEdit').select2(data.Kelompok);
                    $('#cplEdit').val(data.Capaian);
                    //if (data.IsActive == true) {
                    //    $('input[id=inp_statusEdit1]:checked')
                    //}
                    //else
                    //{
                    //    $('input[id=inp_statusEdit0]:checked')
                    //}
                    //var cekAktif = $('input[id=inp_statusEdit]:checked').val();
                    //if (cekAktif == 1) {
                    //    formInputUser.IsActive = "true";
                    //}
                    //else { formInputUser.IsActive = "false"; }
                    //formEdit.Kelompok = $('#kelompok').val();
                    //formEdit.Kode = $('#kode').val();

                    //formEdit.Capaian = $('textarea[name=txtCPL]').val();
                    $('#EditCPL').modal('show');
                }, error: function (e) {
                    $.LoadingOverlay("hide");
                    Swal.fire({
                        title: 'Oppss',
                        icon: 'error',
                        html: 'Coba Reload Page',
                        showCloseButton: true,
                        showCancelButton: false,
                        focusConfirm: false,
                        confirmButtonText: 'OK'
                    })
                    $('.modal').modal('hide');
                }
            })

        }
        function PostUpdateCPL() {
            //getValueOnForm();
            //alert($('textarea[name=cplEdit]').val());
            //alert($('#kelompokEdit').val());
            if (($('#kelompokEdit').val()) && ($('#kodeEdit').val()) != null && ($('textarea[name=cplEdit]').val())!=("")) {
                var formEdit = new Object();

                formEdit.ID = $('#id_cpl').val();
                formEdit.Kelompok = $('#kelompokEdit').val();
                formEdit.Kode = $('#kodeEdit').val();

                formEdit.Capaian = $('textarea[name=cplEdit]').val();


                var cekAktif = $('input[id=inp_statusEdit]:checked').val();
                if (cekAktif == 1) {
                    formEdit.IsActive = "true";
                }
                else { formEdit.IsActive = "false"; }
                // console.log(formInputUser);
                console.log(formEdit);
                var base_url = window.location.origin;
                $.ajax({
                    url: base_url + '/Admin/MasterCPL/PostUpdateCPL',
                    type: 'post',
                    datatype: 'json',
                    data: JSON.stringify(formEdit),

                    //contentType: 'application/json'
                    contentType: 'application/json',
                }).then(function (response) {
                    
                        if (response.status == 200) {

                            Swal.fire({
                                title: 'Berhasil',
                                icon: 'success',
                                html: 'CPL Berhasil DiUpdate',
                                showCloseButton: true,
                                showCancelButton: false,
                                focusConfirm: false,
                                confirmButtonText: 'OK'
                            })
                            tableUser.ajax.reload(null, false);
                            $('.modal').modal('hide');
                            //$("#fakultas").empty();
                            //$("#prodi").empty();
                            //$("#jenjang").empty();
                            //$("#lokasi").empty();
                            //$("#formRegistrasi").trigger("reset");
                            //clearValueOnForm();
                            //$('#TambahUser')[0].reset();

                        }

                });
            }
            else { alert("mohon lengkapi data!") }
            


        }

        //batas main
        var tableUser = $('#TableList').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "paging": false,
                "targets": 0,
                //"visible": false, 'targets': [4, 6]
            }],
            //"order": [[1, 'asc']],
            "proccessing": true,
            "serverSide": true,
            "order": [[1, 'asc']],
            //"aaSorting": [[0, "asc"]],
            "ajax": {
                url: '/Admin/MasterCPL/GetList',
                //dataSrc: ''
                type: 'POST'
            },
            "language": {
                "emptyTable": "No record found.",
                "processing":
                    '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> ',
                "search": "Search:",
                "searchPlaceholder": ""
            },
            "columns": [
                {
                    "title": "Action",
                    "data": "ID",
                    "render": function (data, type, row, meta) {
                        return `<div class="row justify-content-center">
                            <div class="col" style="text-align:center">

                               <a href="javascript:void(0)" style="color:black" onclick="UpdateMasterCPL('${data}')"> <i class="fas fa-edit coral" ></i></a>

                                <a href="javascript:void(0)" style="color:black" onclick="DetailMasterCPL('${data}')"data-bs-target="#detail-cpl-template"> <i class="fas fa-file-search coral"></i></a>
                                <a type="button"  id="btnDel"> <i class="fas fa-trash-alt coral"></i> </button >



                            </div>
                        </div>`;//<a href="javascript:void(0)" style="color:black" onclick="DeleteUserGetID('${data}')">  <i class="fas fa-trash-alt coral"></i></a>
                                //<a href="javascript:void(0)" style="color:black" onclick="DetailMasterCPL('${data}')"> <i class="fas fa-file-search coral"></i></a>
                    }
                },
                {
                    //"title": "No",
                    "data": null,
                    "render": function (data, type, full, meta) {
                        return meta.row + 1;
                    }
                },
                {
                    //"title": "Nomor Induk Pegawai",
                    "data": "Kode",
                    "name": "Kode",
                    "render": function (data, type, row, meta) {
                        return '<div class="center">' + data + '</div>';
                    }
                },
                {
                    //"title": "Nama",
                    "data": "Kelompok",
                    "name": "Kelompok",
                    "render": function (data, type, row, meta) {
                        return '<div class="center">' + data + '</div>';
                    }
                },
                {
                    //"title": "Email",
                    "data": "Capaian",
                    "name": "Capaian",
                    "render": function (data, type, row, meta) {
                        return '<div class="center">' + data + '</div>';
                    }
                },




            ],
            "createdRow": function (row, data, index) {
                $('td', row).css({
                    'border': '1px solid coral',
                    'border-collapse': 'collapse',
                    'vertical-align': 'center',
                });

            }//,
            //'columnDefs': [
            //    //hide the second & fourth column
            //    { 'visible': false, 'targets': [5] }
            //]
        });

        //lookup kelompok
        function loadFromLookup(tipe, id, nama) {

            $("#" + id).select2({
                placeholder: "-- Pilih " + nama + " --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("getLookupByTipe", "MasterCPL")",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Tipe: tipe
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                        };
                    },
                }
            });
        }
    </script>
    <script src="~/Scripts/Admin/MasterCPL/crud.js"></script>
}

