
@{
    ViewBag.Title = "MANAGE CAPAIAN PEMBELAJARAN - SIMBKM";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery")
    @*<link href="~/Content/select2.min.css" rel="stylesheet" />*@

    <script src="~/Scripts/sweetalert2.all.min.js"></script>

}

    @model MBKM.Entities.Models.MBKM.MasterCapaianPembelajaran
@section modal{
    <div class="modal fade" id="detail-cpl-template" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content data-content-modal">
                <div class="modal-header" style="background-color: #FF8A04; ">
                    <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black; text-align: center;">
                        DETAIL CAPAIAN BELAJAR
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" id="frmSave">
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Jenjang Studi</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.JenjangStudi, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "jenjangDetail" } })
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fakultas</label>
                            <div class="col-sm-9">
                                <input type="text" value="" class="form-control input-pendaftaran input-data" disabled="disabled" id="fakultasDetail" name="fakultasDetail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Program Studi</label>
                            <div class="col-sm-9">
                                <input type="text" value="" class="form-control input-pendaftaran input-data" disabled="disabled" id="prodiDetail" name="kelompokDetail">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="lokasi" class="col-sm-3 control-label">Lokasi</label>
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.Lokasi, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "lokasiDetail" } })
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kelompok</label>
                            <div class="col-sm-9">
                                <input type="text" value="" class="form-control input-pendaftaran input-data" disabled="disabled" id="kelompokDetail" name="kelompokDetail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="kodeDetail" class="col-sm-3 control-label">Kode CPL</label>
                            <div class="col-sm-9">
                                <input type="text" value="" class="form-control input-pendaftaran input-data" disabled="disabled" id="kodeDetail" name="kodeDetail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtdCPL" class="col-sm-3 control-label">Capaian Pembelajaran</label>
                            <div class="col-sm-9">
                                <textarea class="form-control input-pendaftaran summernote input-data" name="txtdCPL" rows="5" id="cplDetail" disabled></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inp_status" class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                <label id="aktif" class="radio-inline input-pendaftaran ">
                                    <input type="text" name="inpStatus1" id="inp_status1" value="1" disabled> Aktif
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="TambahCPL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #FF8A04; ">
                    <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black; text-align: center;">
                        TAMBAH CAPAIAN BELAJAR
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="formRegistrasi">
                        <div class="container" style="width: 100%;">
                            <div class="form-group ">
                                <label for="jenjang" class="col-sm-3 control-label">Jenjang Studi</label>
                                <div class="col-sm-9">
                                    <select name="jenjang" id="jenjang" class="form-control input-pendaftaran input-data"></select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="fakultas" class="col-sm-3 control-label">Fakultas</label>
                                <div class="col-sm-9">
                                    <select name="fakultas" id="fakultas" class="form-control input-pendaftaran input-data"></select>
                                </div>
                            </div>
                            <div class="form-group "hidden>
                                <label for="prodi" class="col-sm-3 control-label">Program Studi</label>
                                <div class="col-sm-9">
                                    <select name="prodi" id="prodi" class="form-control input-pendaftaran input-data"></select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="prodi" class="col-sm-3 control-label">Program Studi</label>
                                <div class="col-sm-9">
                                    <select name="prodi2" id="prodi2" class="form-control input-pendaftaran input-data"></select>
                                </div>
                            </div>
                            <div class="form-group "hidden>
                                <label for="lokasi" class="col-sm-3 control-label">Lokasi</label>
                                <div class="col-sm-9">

                                    <select name="lokasi" id="lokasi" class="form-control input-md input-pendaftaran input-data"></select>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="kelompok" class="col-sm-3 control-label">Kelompok</label>
                                <div class="col-sm-9">
                                    <select class="form-control input-pendaftaran input-data" id="kelompok" name="kelompok" placeholder="Pilih Kelompok">
                                        <option value="value">-</option>
                                        <option value="value">text</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="kode" class="col-sm-3 control-label">Kode CPL</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-pendaftaran input-data" id="kode" name="kode" placeholder="Input Kode CPL">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCPL" class="col-sm-3 control-label">Capaian Pembelajaran</label>
                                <div class="col-sm-9">
                                    @*<input type="text" class="form-control input-pendaftaran input-data" id="txtCPL" name="txtCPL" placeholder="Input Deskripsi Capaian Pembelajaran">*@
                                    <textarea class="form-control input-pendaftaran summernote input-data" name="txtCPL" rows="5" id="txtCPL" placeholder="Input Deskripsi Capaian Pembelajaran"></textarea>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inp_status" class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-9">
                                    <label class="radio-inline input-pendaftaran">
                                        <input type="radio" name="inpStatus" id="inp_status" value="1" checked> Aktif
                                    </label>
                                    <label class="radio-inline input-pendaftaran">
                                        <input type="radio" name="inpStatus" id="inp_status" value="0"> Tidak Aktif
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-md-offset-10">
                                    <button type="button" onclick="PostCreate3()" class="btn btn-warning">SIMPAN</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @* UPDATE  *@
    <div class="modal fade" id="EditCPL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #FF8A04; ">
                    <input type="hidden" id="id_cpl" value="" />
                    <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black; text-align: center;">
                        EDIT CAPAIAN BELAJAR
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="formRegistrasi">
                        <div class="container" style="width: 100%;">
                            <div class="form-group ">
                                <label class="col-sm-3 control-label">Jenjang Studi</label>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.JenjangStudi, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "jenjangEdit" } })
                                </div>

                            </div>
                            <div class="form-group ">
                                <label for="fakultas" class="col-sm-3 control-label">Fakultas</label>
                                <div class="col-sm-9" id="fakultasEdit2">
                                    @Html.EditorFor(model => model.NamaFakultas, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "fakultasEdits" } })
                                </div>

                            </div>
                            <div class="form-group ">
                                <label for="fakultas" class="col-sm-3 control-label">Program Studi</label>
                                <div class="col-sm-9" id="prodiEdit2">
                                    @Html.EditorFor(model => model.NamaProdi, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "prodiEdits" } })
                                </div>

                            </div>
                            <div class="form-group ">
                                <label for="lokasi" class="col-sm-3 control-label">Lokasi</label>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Lokasi, new { htmlAttributes = new { @class = "form-control input-pendaftaran input-data", maxlength = 100, disabled = "disabled", @id = "lokasiEdit" } })
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="kelompok" class="col-sm-3 control-label">Kelompok</label>
                                <div class="col-sm-9">
                                    <select class="form-control input-pendaftaran input-data" id="kelompokEdit" name="kelompokEdit" placeholder="Pilih Kelompok">
                                        <option value="3620194" selected="selected">select2/select2</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="kode" class="col-sm-3 control-label">Kode CPL</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-pendaftaran input-data" id="kodeEdit" name="kodeEdit" placeholder="Input Kode CPL">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCPL" class="col-sm-3 control-label">Capaian Pembelajaran</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control input-pendaftaran summernote input-data" name="cplEdit" rows="5" id="cplEdit" placeholder="Input Deskripsi Capaian Pembelajaran"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inp_statuss" class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-9" id="cektrue">
                                    <label class="radio-inline input-pendaftaran">
                                        <input type="radio" name="inpStatus1" id="inp_statusEdit1" value="1"> Aktif
                                    </label>
                                    <label class="radio-inline input-pendaftaran">
                                        <input type="radio" name="inpStatus1" id="inp_statusEdit0" value="0"> Tidak Aktif
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-md-offset-10">
                                    <button type="button" onclick="PostUpdateCPL()" class="btn btn-warning">SIMPAN</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<div class="container-fluid" style="padding: 0px">
    <div class="card center-block" style="background-color: white; width: 100%">
        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                MANAGE CAPAIAN PEMBELAJARAN
            </h4>
            <hr />
            <div class="container" style="width: 100%">
                <div class="col-md-12">
                    <form class="form-horizontal col-md-7">

                        <div class="form-group">
                            <label for="inp_jenjang" class="col-sm-3 control-label">Jenjang Studi</label>
                            <div class="col-sm-7">
                                <select name="inp_jenjang" id="inp_jenjang" class="form-control input-md input-data">
                                    <option value="" selected disabled>-- Pilih Jenjang Studi --</option>
                                    @{
                                        foreach (var d in ViewData["Jenjang"] as IEnumerable<MBKM.Entities.ViewModel.VMLookup>)
                                        {
                                            <option value="@d.Nilai">@d.Nama</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inp_fakultas" class="col-sm-3 control-label">Fakultas</label>
                            <div class="col-sm-7">
                                <select name="inp_fakultas" id="inp_fakultas" class="form-control input-md input-data">
                                    <option value="" selected disabled>-- Pilih Fakultas --</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="inp_prodi" class="col-sm-3 control-label">Prodi</label>
                            <div class="col-sm-7">
                                <select name="inp_prodi" id="inp_prodi" class="form-control input-md input-data">
                                    <option value="" selected disabled>-- Pilih Prodi --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2 col-md-offset-8">
                                <button type="button" id="cari" class="btn btn-warning" style="float: right;" onclick="GenerateTable()"><span class="fa fa-search"></span> Cari</button>
                            </div>
                        </div>
                    </form>
                </div>

                <button data-toggle="modal" data-target="#TambahCPL" class="btn btn-success"><i class="fas fa-plus-circle"></i> Tambah CPL</button>
                <br />
                <br />
                <table id="TableList" class="table table-bordered table-striped hover dt-responsive responsive">
                    <thead class="text-center">
                        <tr style="background-color: #FF8A04; border: 0 ">
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Action</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">No.</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Kode</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Kelompok</th>
                            <th class="zero-padding no-border vertical-center sorting" style="text-align:center">Capaian Pembelajaran</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/loading/loadingoverlay.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        var tableUser = null;
        function clearValueOnForm() {
            $("#prodi").val('');
            $("#fakultas").val('');
            $("#jenjang").val('');
            $('input[name=inp_status]').prop('checked', false);
        }
        $(document).ready(function () {
            loadFakultas();
            //loadFakultasEdit();
            loadFromLookup("JenjangStudi", "jenjang", "JenjangStudi");
            //loadFromLookup("JenjangStudi", "jenjangEdit", "JenjangStudi");
            loadFromLookup("Kelompok", "kelompok", "Kelompok");
            /*loadFromLookup("Kelompok", "abc", "Kelompok");*/
            tableUser = $('#TableList').DataTable({});
            
            $("#prodi").select2({
                //dropdownParent: $("#TambahCPL"),
                placeholder: "-- Pilih Program Studi --"
            });
            $("#lokasi").select2({
                //dropdownParent: $("#TambahCPL"),
                placeholder: "-- Pilih Lokasi --"
            });


            $('#inp_jenjang').change(function () {
                $("#inp_fakultas").prop('selectedIndex', 0);
                $("#inp_prodi").prop('selectedIndex', 0);
            })

            $('#inp_jenjang').change(function () {
                $("#inp_fakultas").select2({
                    placeholder: "-- Pilih Fakultas --",
                    width: "100%",
                    ajax: {
                        url: "/Admin/MasterCPL/GetFakultas",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                search: params.term || "",
                                jenjang: $('#inp_jenjang :selected').val(),
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                            };
                        },
                    }
                });
            })
            $('#inp_fakultas').change(function () {
                $("#inp_prodi").select2({
                    placeholder: "-- Pilih Prodi --",
                    width: "100%",
                    ajax: {
                        url: "/Admin/MasterCPL/GetProdiByFakultas",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                search: params.term || "",
                                idFakultas: $('#inp_fakultas :selected').val(),
                                jenjang: $('#inp_jenjang :selected').val(),
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                            };
                        },
                    }
                });
            })

        });
        function loadFakultas() {
            $("#prodi").prop("disabled", true);
            $("#prodi2").prop("disabled", true);
            $("#lokasi").prop("disabled", true);
            $("#fakultas").prop("disabled", true);

            $("#fakultas").select2({
                multiple: false,
                placeholder: "-- Pilih Fakultas --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("GetFakultas", "MasterCPL")",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Search: params.term || "",
                            Jenjang: $('#jenjang').val()
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                        };
                    },
                }
            });
            $('#fakultas').on('select2:select', function (e) {
                console.log(e.params.data.text);
            });
            $("#jenjang").change(function () {
                $("#fakultas").empty();
                $("#fakultas").prop("disabled",false);
                $("#lokasi").empty();
                $("#lokasi").prop("disabled", true);
                $("#prodi").empty();
                $("#prodi2").empty();
                $("#prodi").prop("disabled", true);
                $("#prodi2").prop("disabled", true);
                //$("#lokasi").prop("disabled", true);
            });
            $("#fakultas").change(function () {
                //$('#fakultas').val(null).trigger('change');
                var latest_value = $("option:selected:first", this).text();
                //alert(latest_value);
                $("#prodi2").empty();
                $("#prodi").empty();
                $("#prodi2").prop("disabled", false);
                $("#prodi").prop("disabled", false);
                $("#lokasi").prop("disabled", true);
                $("#lokasi").empty();
                //-----------------------------------------------------------------------------
                $("#prodi2").select2({
                    placeholder: "-- Pilih Program Studi --",
                    width: "100%",
                    ajax: {
                        url: "/Admin/MasterCPL/GetProdiLocByFakultas",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                Search: params.term || "",
                                //JenjangStudi: $('#' + id + "Cari").val(),
                                JenjangStudi: $('#jenjang').val(),
                                IdFakultas: $('#fakultas').val()
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.IDProdi, value: item.NamProdi, text: item.NamProdi + '-' + item.Lokasi, lokasi: item.Lokasi } })
                            };
                        },
                    }
                });
                //============================================================================================
                $("#prodi").select2({
                    multiple: false,
                    placeholder: "-- Pilih Program Studi --",
                    width: "100%",
                    ajax: {
                        url: "@Url.Action("GetProdiByFakultas", "MasterCPL")",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                Search: params.term || "",
                                IDFakultas: $('#fakultas').val(),
                                Jenjang: $('#jenjang').val()
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })

                            };
                        },
                    }
                });
                $("#prodi").change(function () {
                    $("#lokasi").empty();


                    $("#lokasi").prop("disabled",false);

                    $("#lokasi").select2({
                        placeholder: "-- Pilih Lokasi --",
                        width: "100%",
                        ajax: {
                            url: "@Url.Action("GetLokasiByProdi", "MasterCPL")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    NamaProdi: $('#prodi').val(),
                                    Jenjang: $('#jenjang').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Kampus } })
                                };
                            },
                        }
                    });
                    
                });
                $('#lokasi').on('select2:select', function (e) {
                    console.log(e.params.data.id);
                    //alert(e.params.data.id)
                });
            });
        }

        //batas crud detail
        function DetailMasterCPL(id) {
            $.LoadingOverlay("show");
            $.ajax({
                url: "@Url.Action("ModalDetailMasterCpl", "MasterCPL")/"+id,
                type: 'get',
                datatype: 'html',
                success: function (data) {
                    $.LoadingOverlay("hide");
                    console.log(data);

                    $('#jenjangDetail').val(data.JenjangStudi);
                    $('#fakultasDetail').val(data.NamaFakultas);
                    $('#kodeDetail').val(data.Kode);
                    $('#prodiDetail').val(data.NamaProdi);
                    $('#lokasiDetail').val(data.Lokasi);
                    $('#kelompokDetail').val(data.Kelompok);
                    $('#cplDetail').val(data.Capaian);
                    if (data.IsActive == true) {
                        $('#aktif').text("Aktif");


                    }
                    else  {
                        $('#aktif').text("Tidak Aktif");
                    }
                    //$('#inp_status').checked(data.IsActive);
                    $('#detail-cpl-template').modal('show');


                }, error: function (e) {
                    $.LoadingOverlay("hide");
                    Swal.fire({
                        title: 'Oppss',
                        icon: 'error',
                        html: 'Coba Reload Page',
                        showCloseButton: true,
                        showCancelButton: false,
                        focusConfirm: false,
                        confirmButtonText: 'OK'
                    })
                    $('.modal').modal('hide');
                }
            })

        }
        //create
        function PostCreate3() {
            var formInputUser = new Object();
            var latest_valueFakultas = $("option:selected:first", "#fakultas").text();
            var latest_valueJenjang = $("option:selected:first", "#jenjang").text();
            var latest_valueProdi2 = $("option:selected:first", "#prodi2").val(); //idprodi
            var latest_valueProdi3 = ($("option:selected:first", "#prodi2").text()); //concated prodi-lokasi
            var getNamaProd = latest_valueProdi3.substring(0, latest_valueProdi3.indexOf("-"));
            var getLok = latest_valueProdi3.substring(latest_valueProdi3.indexOf('-') + 1) //split concated item //note kurang nama prodi

            formInputUser.FakultasID = $('#fakultas').val();
            formInputUser.NamaFakultas = latest_valueFakultas;
            formInputUser.ProdiID = latest_valueProdi2;
            formInputUser.NamaProdi = getNamaProd;
            formInputUser.JenjangStudi = latest_valueJenjang;
            formInputUser.Lokasi = getLok;
            formInputUser.Kelompok = $('#kelompok').val();
            formInputUser.Kode = $('#kode').val();

            formInputUser.Capaian = $('textarea[name=txtCPL]').val();


            var cekAktif = $('input[id=inp_status]:checked').val();
            if (cekAktif == 1) {
                formInputUser.IsActive = "true";
            }
            else { formInputUser.IsActive = "false"; }
           // console.log(formInputUser);
            console.log(formInputUser);
            if ((($('#jenjang').text()) && (latest_valueProdi2) && (latest_valueFakultas) && (getLok) && ($('#kode').val()) && (formInputUser.Kelompok = $('#kelompok').val()) && ($('textarea[name=txtCPL]').val()) != null)) {

                var base_url = window.location.origin;
                $.ajax({
                    url: base_url + '/Admin/MasterCPL/PostDataCPL',
                    type: 'post',
                    datatype: 'json',
                    data: JSON.stringify(formInputUser),

                    //contentType: 'application/json'
                    contentType: 'application/json',
                }).then(function (response) {
                    if (response.status == 400) {
                        Swal.fire({
                            title: 'Gagal!',
                            icon: 'error',
                            html: 'EMAIL atau NIP telah terdaftar!',
                            showCloseButton: true,
                            showCancelButton: false,
                            focusConfirm: false,
                            confirmButtonText: 'OK'
                        })
                        
                        $('.modal').modal('hide');

                        //$('#TambahUser')[0].reset();
                    }
                    else
                        if (response.status == 200) {

                            Swal.fire({
                                title: 'Berhasil',
                                icon: 'success',
                                html: 'CPL Baru Berhasil Ditambahkan, Silahkan Melakukan Filtering Ulang',
                                showCloseButton: true,
                                showCancelButton: false,
                                focusConfirm: false,
                                confirmButtonText: 'OK'
                            })
                            
                            $('.modal').modal('hide');
                            $("#fakultas").empty();
                            $("#fakultas").prop("disabled",true);
                            $("#prodi").empty();
                            $("#prodi2").empty();
                            $("#prodi").prop("disabled", true);
                            $("#prodi2").prop("disabled", true);
                            $("#jenjang").empty();
                            $("#lokasi").empty();
                            $("#lokasi").prop("disabled", true);
                            $("#kelompok").empty();
                            $("#kode").val("");
                            $('textarea[name=txtCPL]').val("");
                        }

                });
            }
            else { alert("Lengkapi Data!");}
            


        }
        //UPDATE
        function UpdateMasterCPL(id) {
            $.LoadingOverlay("show");
            $.ajax({
                url: '/Admin/MasterCPL/ModalEditMasterCpl/' + id,
                type: 'get',
                datatype: 'html',
                success: function (data) {
                    $.LoadingOverlay("hide");
                    console.log(data);
                    console.log(data.Kelompok);
                    $('#lookKelompok').prop("hidden", false)
                    $('#modelKelompok').prop("hidden", true)
                    document.getElementsByName('kelompokEdit')[0].options[0].innerHTML = data.Kelompok;
                    loadFromLookup("Kelompok", "kelompokEdit", "Kelompok");
                    $('#jenjangEdit').val(data.JenjangStudi);
                    $('#lokasiEdit').val(data.Lokasi);
                    $('#fakultasEdits').val(data.NamaFakultas);
                    $('#fakultasEditsID').val(data.FakultasID);
                    $('#prodiEditsID').val(data.ProdiID);
                    $('#prodiEdits').val(data.NamaProdi);
                    $('#kodeEdit').val(data.Kode);
                    $('#id_cpl').val(data.ID);
                    if (data.IsActive == true) {
                        
                        $('input[id=inp_statusEdit1]').prop('checked',true);

                    }
                    else {
                      
                        $('input[id=inp_statusEdit0]').prop('checked', true);
                    }
                    
                    $('#cplEdit').val(data.Capaian);
                    
                    $('#EditCPL').modal('show');
                    $('#EditCPL').on('hide.bs.modal', function () {
                        document.getElementsByName('kelompokEdit')[0].options[0].selected = true.innerHTML = data.Kelompok;
                        var latest_valueKelompok = $("option:selected:first", "#kelompokEdit").text();
                        $(this).off('hide.bs.modal');
                    })
                    
                   
                }, error: function (e) {
                    $.LoadingOverlay("hide");
                    Swal.fire({
                        title: 'Oppss',
                        icon: 'error',
                        html: 'Coba Reload Page',
                        showCloseButton: true,
                        showCancelButton: false,
                        focusConfirm: false,
                        confirmButtonText: 'OK'
                    })
                    $('.modal').modal('hide');
                }
            })

        }

        function PostUpdateCPL() {
            if (($('#kelompokEdit').val()) && ($('#kodeEdit').val()) != null && ($('textarea[name=cplEdit]').val())!=("")) {
                var formEdit = new Object();
                var latest_valueKelompok = $("option:selected:first", "#kelompokEdit").text();
                formEdit.ID = $('#id_cpl').val();
                formEdit.Kelompok = latest_valueKelompok;
                formEdit.Kode = $('#kodeEdit').val();

                formEdit.Capaian = $('textarea[name=cplEdit]').val();


                var cekAktif = $('input[id=inp_statusEdit1]:checked').val();
                if (cekAktif == 1) {
                    formEdit.IsActive = "true";
                }
                else { formEdit.IsActive = "false"; } //else return undefined, so yeah its 0 which is fine
                console.log(formEdit);
                var base_url = window.location.origin;
                $.ajax({
                    url: base_url + '/Admin/MasterCPL/PostUpdateCPL',
                    type: 'post',
                    datatype: 'json',
                    data: JSON.stringify(formEdit),

                    //contentType: 'application/json'
                    contentType: 'application/json',
                }).then(function (response) {
                    
                        if (response.status == 200) {

                            Swal.fire({
                                title: 'Berhasil',
                                icon: 'success',
                                html: 'CPL Berhasil DiUpdate',
                                showCloseButton: true,
                                showCancelButton: false,
                                focusConfirm: false,
                                confirmButtonText: 'OK'
                            })
                            tableUser.ajax.reload(null, false);
                            $('#EditCPL').modal('hide');
                        }

                });
            }
            else { alert("mohon lengkapi data!") }
            


        }
        //===============================DELETE=====================
        function DeleteCPL(idCPL) {

            Swal.fire({
                title: "Apakah anda yakin?",
                icon: "warning",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }).then((result) => {
                if (result.isConfirmed) {
                    $.LoadingOverlay("show");
                    $.ajax({
                        url: '/Admin/MasterCPL/PostDeleteCPL',
                        type: "POST",
                        data: { id: idCPL }
                        ,
                        dataType: "json",
                    }).then(function (response) {
                            $.LoadingOverlay("hide");
                        if (response.status == 200) {
                            Swal.fire({
                                title: 'Berhasil',
                                icon: 'success',
                                html: 'Data Berhasil Dihapus',
                                showCloseButton: true,
                                showCancelButton: false,
                                focusConfirm: false,
                                confirmButtonText: 'OK'
                            })
                            tableUser.ajax.reload(null, false);
                        }
                        else {
                            Swal.fire({
                                title: 'Oppss',
                                icon: 'error',
                                html: 'Coba Reload Page',
                                showCloseButton: true,
                                showCancelButton: false,
                                focusConfirm: false,
                                confirmButtonText: 'OK'
                            })
                        }

                    });
                }

            })


        }

        //batas main
        function CustomValidation() {
            var isValid;
            $(".input-data :selected").each(function () {
                var element = $(this);
                if (element.val() == "") {
                    return isValid = false;
                } else {
                    return isValid = true;
                }
            });
            return isValid;
        }

        function GenerateTable() {
            if (!CustomValidation()) {
                $.LoadingOverlay("hide");
                Swal.fire({
                    title: 'Oppss',
                    icon: 'warning',
                    html: 'Masukkan Fiter Pencarian',
                    showCloseButton: true,
                    showCancelButton: false,
                    focusConfirm: false,
                    confirmButtonText: 'OK'
                })
            } else {

                var dataFilter = {};
                dataFilter.jenjangStudi = $('#inp_jenjang :selected').val();
                dataFilter.fakultas = $('#inp_fakultas :selected').val();
                dataFilter.prodi = $('#inp_prodi :selected').val();
                tableUser.destroy();
                tableUser = $('#TableList').DataTable({
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "paging": false,
                        "targets": 0,
                    }],
                    "proccessing": true,
                    "serverSide": true,
                    "order": [[1, 'asc']],
                    "ajax": {
                        url: '/Admin/MasterCPL/GetList',
                        data: {
                            jenjang: $('#inp_jenjang :selected').val(),
                            fakultas: $('#inp_fakultas :selected').val(),
                            prodi: $('#inp_prodi :selected').val()
                        },
                        //dataSrc: ''
                        type: 'POST'
                    },
                    "language": {
                        "emptyTable": "No record found.",
                        "processing":
                            '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> ',
                        "search": "Search:",
                        "searchPlaceholder": ""
                    },
                    "columns": [
                        {
                            "title": "Action",
                            "data": "ID",
                            "render": function (data, type, row, meta) {
                                return `<div class="row justify-content-center">
                            <div class="col" style="text-align:center">

                               <a href="javascript:void(0)" style="color:black" onclick="UpdateMasterCPL('${data}')"> <i class="fas fa-edit coral" ></i></a>

                                <a href="javascript:void(0)" style="color:black" onclick="DetailMasterCPL('${data}')"data-bs-target="#detail-cpl-template"> <i class="fas fa-file-search coral"></i></a>
                                <a href="javascript:void(0)" style="color:black" onclick="DeleteCPL('${data}')">  <i class="fas fa-trash-alt coral"></i></a>



                            </div>
                        </div>`;
                            }
                        },
                        {
                            "orderable": false,
                            "data": null,
                            "render": function (data, type, full, meta) {
                                return '<div class="center">' + (meta.row + meta.settings._iDisplayStart + 1) + '</div>';
                            }
                        },
                        {
                            //"title": "Nomor Induk Pegawai",
                            "data": "Kode",
                            "name": "Kode",
                            "render": function (data, type, row, meta) {
                                return '<div class="center">' + data + '</div>';
                            }
                        },
                        {
                            //"title": "Nama",
                            "data": "Kelompok",
                            "name": "Kelompok",
                            "render": function (data, type, row, meta) {
                                return '<div class="center">' + data + '</div>';
                            }
                        },
                        {
                            //"title": "Email",
                            "data": "Capaian",
                            "name": "Capaian",
                            "render": function (data, type, row, meta) {
                                return '<div class="center">' + data + '</div>';
                            }
                        },




                    ],
                    "createdRow": function (row, data, index) {
                        $('td', row).css({
                            'border': '1px solid coral',
                            'border-collapse': 'collapse',
                            'vertical-align': 'center',
                        });

                    }
                });
            }
        }

        //lookup kelompok
        function loadFromLookup(tipe, id, nama) {

            $("#" + id).select2({
                placeholder: "-- Pilih " + nama + " --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("getLookupByTipe", "MasterCPL")",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Tipe: tipe
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                        };
                    },
                }
            });
        }

    </script>
    @*<script src="~/Scripts/Admin/MasterCPL/crud.js"></script>*@
}

