
@{
    ViewBag.Title = "LINK FASILITAS PERKULIAHAN - SIMBKM";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
}
@section modal{
    <div class="modal fade" id="TambahMasterMapingCapaianPembelajaran" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="modal-inner">

        </div>
    </div>
}

<div class="container-fluid" style="padding: 0px">
    <div class="card center-block" style="background-color: white; width: 100%; padding: 0px">
        <div class="card-body responsive-content" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 3px solid coral; padding: 0px">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                INPUT LINK FASILITAS PERKULIAHAN<br />
                <small class="describe">Input Link Fasilitas Perkuliahan untuk setiap kelas dan jadwal perkuliahan</small>
            </h4>
            <hr />
            <div class="container" style="width: 100%;">

                <div class="col-md-12">
                    <form class="form-horizontal col-md-7">
                        <div class="form-group">
                            <label for="inp_tahunAjaran" class="col-sm-3 control-label">Tahun Semester</label>
                            <div class="col-sm-9">
                                <select name="tahunAjaranCari" id="tahunAjaranCari" class="form-control input-md">
                                    <option value="@Model.Nilai"  selected>@Model.Nama</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inp_jenjang" class="col-sm-3 control-label">Jenjang Studi</label>
                            <div class="col-sm-9">
                                <select name="jenjangCari" id="jenjangCari" class="form-control input-md">
                                    @*<option value="" selected disabled>-- Pilih Authority Approval --</option>*@
                                    @*@{
                                        if (ViewData["role"].ToString() == "Kepala Program Studi" || ViewData["role"].ToString() == "Dosen")
                                        {
                                            <option value="@ViewData["jenjangs"]" selected>@ViewData["jenjangs"]</option>
                                        }
                                    }*@
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inp_fakultas" class="col-sm-3 control-label">Fakultas</label>
                            <div class="col-sm-9">
                                <select name="fakultasCari" id="fakultasCari" class="form-control input-md">
                                    @{
                                        if (ViewData["role"].ToString() == "Kepala Program Studi" || ViewData["role"].ToString() == "Dosen")
                                        {
                                            <option value="@ViewData["KodeFakultas"]" selected >@ViewData["NamaFakultas"]</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inp_prodi" class="col-sm-3 control-label">Program Studi</label>
                            <div class="col-sm-9">
                                <select name="prodiCari" id="prodiCari" class="form-control input-md">
                                    @{
                                        if (ViewData["role"].ToString() == "Kepala Program Studi" || ViewData["role"].ToString() == "Dosen")
                                        {
                                            <option value="@ViewData["NamaProdi"]" selected>@ViewData["NamaProdi"]</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inp_lokasi" class="col-sm-3 control-label">Lokasi</label>
                            <div class="col-sm-9">
                                <select name="lokasiCari" id="lokasiCari" class="form-control input-md"></select>
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <label for="inp_prodiId" class="col-sm-3 control-label">Kampus</label>
                            <div class="col-sm-9">
                                <input name="kampusCari" id="kampusCari" class="form-control input-md" disabled>
                            </div>
                        </div>


                        <div class="form-group" hidden>
                            <label for="inp_prodiId" class="col-sm-3 control-label">Prodi ID</label>
                            <div class="col-sm-9">
                                <input name="prodiIdCari" id="prodiIdCari" class="form-control input-md" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inp_matakuliah" class="col-sm-3 control-label">Mata Kuliah</label>
                            <div class="col-sm-9">
                                <select name="matakuliahCari" id="matakuliahCari" class="form-control input-md">
                                </select>
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            <label for="inp_matakuliahId" class="col-sm-3 control-label">Nama Mata Kuliah</label>
                            <div class="col-sm-9">
                                <input name="matakuliahNamaCari" id="matakuliahNamaCari" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <label for="inp_matakuliahKode" class="col-sm-3 control-label">Kode Mata Kuliah</label>
                            <div class="col-sm-9">
                                <input name="matakuliahKodeCari" id="matakuliahKodeCari" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <label for="inp_matakuliahId" class="col-sm-3 control-label">Id Mata Kuliah</label>
                            <div class="col-sm-9">
                                <input name="matakuliahIdCari" id="matakuliahIdCari" class="form-control input-md">
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label for="seksi" class="col-sm-3 control-label">Seksi</label>
                                <div class="col-sm-9">
                                    <select name="matakuliahCari" id="seksi" class="form-control input-md">
                                    </select>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label for="inp_matakuliah" class="col-sm-3 control-label">Seksi (Optional)</label>
                            <div class="col-sm-9">
                                <select name="seksiCari" id="seksiCari" class="form-control input-md">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-md-offset-10">
                                <button type="button" id="cari" class="btn btn-warning" style="float: right;" title="Mohon untuk melengkapi form pencarian terlebih dahulu!" disabled><span class="fa fa-search"></span> Cari</button>
                            </div>
                        </div>
                    </form>
                </div>


                <label class=" control-label" style="font-weight: bold; font-size: 17px;">Jadwal Perkuliahan</label>
                @*<button id="add" class="btn btn-success" onclick="IndexCreateMasterMapingCapaianPembelajaran()" title="Mohon untuk melengkapi form pencarian terlebih dahulu!" disabled><i class="fas fa-plus-circle"></i> Tambah Master Maping</button>*@

                <!--table-responsive-->
                <table id="table-data-master-mapping-cpl" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                    <thead>
                        <tr>
                            <th class="zero-padding no-border vertical-center sorting">Action</th>
                            <th class="zero-padding no-border vertical-center sorting">No.</th>
                            <th class="zero-padding no-border vertical-center sorting">Kode Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">Nama Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">SKS</th>
                            <th class="zero-padding no-border vertical-center sorting">Seksi</th>
                            <th class="zero-padding no-border vertical-center sorting">Hari</th>
                            <th class="zero-padding no-border vertical-center sorting">Waktu</th>
                            <th class="zero-padding no-border vertical-center sorting">Ruang Kelas</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Admin/MasterMapingCapaianPembelajaran/main.js"></script>
    <script src="~/Scripts/Admin/LinkFasilitasAdmin/crud.js"></script>
    <script src="~/Scripts/loading/loadingoverlay.min.js"></script>



    <script>
        var datatable = null;
        $(document).ready(function () {
             var roleNames = @Html.Raw(Json.Encode(ViewData["role"]));
            if (roleNames != "Kepala Program Studi" && roleNames != "Dosen") {
                $("#fakultasCari").prop("disabled", true);
                $("#prodiCari").prop("disabled", true);
                $("#lokasiCari").prop("disabled", true);
                $("#matakuliahCari").prop("disabled", true);
                $("#seksiCari").prop("disabled", true);

                $('#tahunAjaranCari').select2({

                    placeholder: "-- Pilih Tahun Ajaran --",
                    "proccessing": true,
                    "serverSide": true,
                    //multiple: true,
                    width: "100%",
                    ajax: {
                        url: "/Admin/LinkFasilitasAdmin/GetSemesterAll",
                        type: 'POST',
                        dataType: 'json',
                        //quietMillis: 50,
                        data: function (params) {

                            return {

                                take: 10,
                                search: params.term || "",
                                skip: (params.page - 1) * 10 || 0,
                                // searchBy: params.term,

                            };
                        },
                        processResults: function (data, params) {

                            var page = params.page - 1 || 1;
                            return {
                                results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } }),
                                pagination: {
                                    more: (page * 10) <= data.length
                                }
                            }

                        },
                    }
                });
                $("#tahunAjaranCari").change(function () {
                    $("#jenjangCari").prop("disabled", false);
                    loadJenjangStudi("JenjangStudi", "jenjang", "Jenjang Studi");

                    /*$("#fakultasCari").prop("disabled", true);*/
                    $("#fakultasCari").prop("disabled", true);
                    $("#prodiCari").prop("disabled", true);
                    $("#lokasiCari").prop("disabled", true);
                    $("#matakuliahCari").prop("disabled", true);
                    $("#seksiCari").prop("disabled", true);

                    $("#jenjangCari").empty();
                    $("#fakultasCari").empty();
                    $("#prodiCari").empty();
                    $("#prodiIdCari").val('');
                    $("#lokasiCari").empty();
                    $("#matakuliahCari").empty();
                    $("#seksiCari").empty();



                });

                $("#jenjangCari").select2({
                    placeholder: "-- Pilih Jenjang Studi --"
                });

                $("#fakultasCari").select2({
                    placeholder: "-- Pilih Fakultas --"
                });
                $("#prodiCari").select2({
                    placeholder: "-- Pilih Program Studi --"
                });
                $("#lokasiCari").select2({
                    placeholder: "-- Pilih Lokasi --"
                });

                $("#matakuliahCari").select2({
                    placeholder: "-- Pilih Mata Kuliah --"
                });
                $("#seksiCari").select2({
                    placeholder: "-- Pilih Seksi --"
                });

                loadJenjangStudi("JenjangStudi", "jenjang", "Jenjang Studi");

                datatable = $('#table-data-master-mapping-cpl').DataTable();
                $("#table-data-master-mapping-cpl_filter").hide();
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetInformasiKampusByProdi", "LinkFasilitasAdmin")"
                }).then(function (response) {
                    var option = $("<option selected='selected'></option>").val(response.JenjangStudi).text(response.JenjangStudi);
                    $("#jenjangCari").append(option).trigger('change');
                    $("#jenjangCari").prop("disabled", true);
                    //option = $("<option selected='selected'></option>").val(response.Fakultas).text(response.Fakultas);
                    //$("#fakultasCari").append(option).trigger('change');
                    //$("#fakultasCari").prop("disabled", true);
                    //option = $("<option selected='selected'></option>").val(response.Prodi).text(response.Prodi);
                    //$("#prodiCari").append(option).trigger('change');
                    //$("#prodiCari").prop("disabled", true);
                    //option = $("<option selected='selected'></option>").val(response.Lokasi).text(response.Lokasi);
                    //$("#lokasiCari").append(option).trigger('change');
                    //$("#lokasiCari").prop("disabled", true);
                });
                $("#jenjangCari").prop("disabled", true);
                $("#fakultasCari").prop("disabled", true);
                $("#prodiCari").prop("disabled", true);
                $("#lokasiCari").prop("disabled", false);
                $("#matakuliahCari").prop("disabled", true);
                $("#seksiCari").prop("disabled", true);
                $("#matakuliahCari").select2({
                    placeholder: "-- Pilih Mata Kuliah --"
                });
                $("#seksiCari").select2({
                    placeholder: "-- Pilih Seksi --"
                });

                $('#tahunAjaranCari').select2({

                    placeholder: "-- Pilih Tahun Ajaran --",
                    "proccessing": true,
                    "serverSide": true,
                    //multiple: true,
                    width: "100%",
                    ajax: {
                        url: "/Admin/LinkFasilitasAdmin/GetSemesterAll",
                        type: 'POST',
                        dataType: 'json',
                        //quietMillis: 50,
                        data: function (params) {

                            return {

                                take: 10,
                                search: params.term || "",
                                skip: (params.page - 1) * 10 || 0,
                                // searchBy: params.term,

                            };
                        },
                        processResults: function (data, params) {

                            var page = params.page - 1 || 1;
                            return {
                                results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } }),
                                pagination: {
                                    more: (page * 10) <= data.length
                                }
                            }

                        },
                    }
                });
                $("#tahunAjaranCari").change(function () {
                   // $("#jenjangCari").prop("disabled", false);
                    loadJenjangStudi("JenjangStudi", "jenjang", "Jenjang Studi");

                    ///*$("#fakultasCari").prop("disabled", true);*/
                    //$("#fakultasCari").prop("disabled", true);
                    //$("#prodiCari").prop("disabled", true);
                    $("#lokasiCari").prop("disabled", false);
                    $("#matakuliahCari").prop("disabled", true);
                    $("#seksiCari").prop("disabled", true);

                    //$("#jenjangCari").empty();
                    //$("#fakultasCari").empty();
                    //$("#prodiCari").empty();
                    //$("#prodiIdCari").val('');
                    $("#lokasiCari").empty();
                    $("#matakuliahCari").empty();
                    $("#seksiCari").empty();



                });

                $("#lokasiCari").select2({
                    placeholder: "-- Pilih Lokasi --"
                });

                $("#lokasiCari").select2({
                    placeholder: "-- Pilih Lokasi --",
                    width: "100%",
                    ajax: {
                        url: "/Admin/LinkFasilitasAdmin/GetLokasiByProdi",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                Search: params.term || "",
                                NamaProdi: $('#prodiCari').val(),
                                JenjangStudi: $('#jenjangCari').val()
                            };
                        },
                        processResults: function (data, params) {

                            //console.log(data);
                            return {
                                results: $.map(data, function (item) { return { id: item.ID, value: item.Kampus, text: item.Kampus } })
                            };
                        },
                    }
                });
                $("#lokasiCari").change(function () {
                    //console.log("select2");
                    //clearValueOnForm();
                    buttonHandler("close");
                    //$("#lokasiCari").empty();
                    //$("#prodiIdCari").val('');
                    $("#matakuliahCari").empty();
                    $("#seksiCari").empty();
                    $("#matakuliahCari").prop("disabled", true);

                    //$("#lokasiCari").prop("disabled", false);

                    //$("#kampusCari").val('');

                    //clearValueOnForm();
                    //$("#prodiIdCari").val($("#lokasiCari").val());

                    //$("#kampusCari").removeAttr('value');
                    //var kampus = $(this).find(":selected").text();
                    //console.log(kampus);
                    //$("#kampusCari").val(kampus);

                    buttonHandler("close");
                    $("#matakuliahCari").empty();
                    $("#matakuliahCari").prop("disabled", false);
                    $("#seksiCari").prop("disabled", true);
                    //$("#matakuliahNamaCari").val('');

                    //getLocationByPodiID();

                    //var start = 0;
                    //var end = 0;
                    var pageLength = 0;
                    $('#matakuliahCari').select2({
                        placeholder: "-- Pilih Mata Kuliah --",
                        "proccessing": true,
                        "serverSide": true,
                        //multiple: true,
                        width: "100%",
                        ajax: {
                            //url: "/Admin/DaftarHadirUjian/GetMataKuliah",
                            url: "/Admin/LinkFasilitasAdmin/GetMataKuliahFlag",
                            type: 'POST',
                            dataType: 'json',

                            data: function (params) {
                                // console.log('page : ' + params.page);
                                // console.log('p number : ' + (params.page - 1) * 10);

                                return {
                                    take: 10,
                                    searchBy: params.term || "",
                                    skip: params.page || 0,
                                    //idProdi: $('#lokasiCari').select2('data')[0].id,
                                    idProdi: $('#prodiCari').val(),
                                    idProdi: $('#lokasiCari').select2('data')[0].id,
                                    idFakultas: $('#fakultasCari').val(),
                                    jenjangStudi: $('#jenjangCari').val(),
                                    strm: $('#tahunAjaranCari').val(),
                                    lokasi: $('#lokasiCari').select2('data')[0].value
                                };
                            },

                            processResults: function (data, params) {

                                var page = params.page - 1 || 1;
                                pageLength = pageLength + data.length;



                                return {
                                    results: $.map(data, function (item) { return { id: item.MataKuliahID, value: item.MataKuliahID, text: item.KodeMataKuliah + ' - ' + item.NamaMataKuliah, name: item.NamaMataKuliah, kode: item.KodeMataKuliah } }),
                                    pagination: {
                                        more: data.length > 0 && data.length == 10
                                    }
                                }
                            },


                        }
                    });



                    $("#matakuliahCari").change(function () {
                        $("#seksiCari").prop("disabled", false);
                        /*
                            dataParam.NamaProdi = $('#prodiCari').val();
                            dataParam.lokasi = $('#lokasiCari').val();
                            dataParam.MataKuliahID = $('#matakuliahCari').val();
                        */

                        $("#matakuliahNamaCari").removeAttr('value');
                        var matakuliah = $(this).select2('data')[0].name;
                        var matakuliahkode = $(this).select2('data')[0].kode;
                        $("#matakuliahNamaCari").val(matakuliah);





                        $("#matakuliahKodeCari").val(matakuliahkode);
                        $("#matakuliahIdCari").val($(this).val());


                        buttonHandler("open");

                        $('#seksiCari').select2({

                            placeholder: "-- Pilih Seksi --",
                            "proccessing": true,
                            "serverSide": true,
                            //multiple: true,
                            width: "100%",
                            ajax: {
                                url: "/Admin/LinkFasilitasAdmin/GetSection",
                                type: 'POST',
                                dataType: 'json',
                                //quietMillis: 50,
                                data: function (params) {

                                },
                                processResults: function (data, params) {

                                    return {
                                        results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                    };

                                },
                            }
                        });
                        $("#seksiCari").change(function () {
                            buttonHandler("open");
                            //$("#matakuliahCari").empty();
                            //$("#jenjangCari").prop("disabled", false);
                            //loadJenjangStudi("JenjangStudi", "jenjang", "Jenjang Studi");


                        });

                    });


                });

                datatable = $('#table-data-master-mapping-cpl').DataTable();
                $("#table-data-master-mapping-cpl_filter").hide();
            }


        });
        function buttonHandler(param) {

            if (param == "open") {
                $('#cari, #add').removeAttr("disabled");
                $('#cari, #add').removeAttr("title");
            } else if (param == "close") {
                $('#cari, #add').attr("disabled", "disabled");
                $('#cari').attr("title", "Mohon untuk melengkapi form pencarian terlebih dahulu!");
                $('#add').attr("title", "Mohon untuk melengkapi form pencarian terlebih dahulu!");
            } else {
                console.log("error : access");
            }

        }

        $('#cari').click(function () {
            reloadDatatable();
        });
        function convertMilisecondToDate(value) {
            var num = parseInt(value.match(/\d+/), 10)
            var date = new Date(num);
            var result = ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + date.getFullYear()
            return result;

        }

        function reloadDatatable() {
            var seksi = $('#seksiCari').val();
            if (!$('#seksiCari').val()) {
                seksi = '';
            }
            var variable =
                'idProdi=' + $('#lokasiCari').select2('data')[0].id +
                '&lokasi=' + $('#lokasiCari').select2('data')[0].value +
                '&idFakultas=' + $('#fakultasCari').val() +
                '&jenjangStudi=' + $('#jenjangCari').val() +
                '&idMatakuliah=' + $('#matakuliahCari').val() +
                '&seksi=' + seksi +
                '&strm=' + $('#tahunAjaranCari').val();
            console.log(variable);
            //var variable =
            //    'idProdi=' + '500' +
            //    '&lokasi=' + 'Semanggi' +
            //    '&idFakultas=' + '5' +
            //    '&jenjangStudi=' + 'S1' +
            //    '&idMatakuliah=' + '003398' +
            //    '&seksi=' + 'Z';
            //console.log($('#ClassSection').val());

            datatable.destroy();
            datatable = $('#table-data-master-mapping-cpl').DataTable({
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "paging": false,
                    "targets": 0,
                    //"visible": false, 'targets': [4, 6]
                }],
                //"order": [[1, 'asc']],
                //"proccessing": true,
                //"serverSide": true,
                "order": [[1, 'asc']],
                //"aaSorting": [[0, "asc"]],
                "ajax": {
                    url: '/Admin/LinkFasilitasAdmin/SearchList?' + variable,
                    dataSrc: ''
                    //type: 'POST'
                },
                "language": {
                    "emptyTable": "No record found.",
                    "processing":
                        '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> ',
                    "search": "Search:",
                    "searchPlaceholder": ""
                },
                "columns": [
                    {
                        "title": "Action",
                        "data": "ID",
                        "render": function (data, type, row, meta) {
                            return `<div class="row justify-content-center">
                            <div class="col" style="text-align:center">

                                <a href="javascript:void(0)" style="color:black" onclick="IndexUpdateLinkFasilitas('${data}')"> <i class="fas fa-edit coral" ></i></a>




                            </div>
                        </div>`;//<a href="javascript:void(0)" style="color:black" onclick="DeleteUserGetID('${data}')">  <i class="fas fa-trash-alt coral"></i></a>
                            //<a href="javascript:void(0)" style="color:black" onclick="DetailMasterCPL('${data}')"> <i class="fas fa-file-search coral"></i></a>
                        }
                    },
                    {
                        //"title": "No",
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        //"title": "Nomor Induk Pegawai",
                        "data": "KodeMataKuliah",
                        "name": "KodeMataKuliah",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        //"title": "Nama",
                        "data": "NamaMataKuliah",
                        "name": "NamaMataKuliah",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        //"title": "Nama",
                        "data": "SKS",
                        "name": "SKS",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        //"title": "Nomor Induk Pegawai",
                        "data": "ClassSection",
                        "name": "ClassSection",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        //"title": "Nama",
                        "data": "Hari",
                        "name": "Hari",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        //"title": "Email",
                        "data": "JamMasuk",
                        "name": "JamMasuk",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + ' - ' + row.JamSelesai + '</div>';
                        }
                    },
                    {
                        //"title": "Email",
                        "data": "RuangKelas",
                        "name": "RuangKelas",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },




                ],
                "createdRow": function (row, data, index) {
                    $('td', row).css({
                        'border': '1px solid coral',
                        'border-collapse': 'collapse',
                        'vertical-align': 'center',
                    });

                }
            });


            $("#table-data-master-mapping-cpl_filter").hide();
        }


        @* search *@




function loadJenjangStudi(tipe, id, nama) {
    $("#" + id + "Cari").select2({
        placeholder: "-- Pilih " + nama + " --",
        width: "100%",
        ajax: {
            url: "/Admin/LinkFasilitasAdmin/getLookupByTipe",
            dataType: 'json',
            method: "POST",
            delay: 250,
            cache: false,
            data: function (params) {
                return {
                    Search: params.term || "",
                    Tipe: tipe
                };
            },
            processResults: function (data, params) {
                return {
                    results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                };
            },
        }
    });
    $("#" + id + "Cari").change(function () {
        //clearValueOnForm();
        buttonHandler("close");
        $("#fakultasCari").empty();
        $("#prodiCari").empty();
        $("#prodiIdCari").val('');
        $("#lokasiCari").empty();
        $("#matakuliahCari").empty();
        $("#seksiCari").empty();
        $("#prodiCari").prop("disabled", true);
        $("#lokasiCari").prop("disabled", true);
        $("#matakuliahCari").prop("disabled", true);
        $("#seksiCari").prop("disabled", true);
        $("#fakultasCari").prop("disabled", false);
        $("#fakultasCari").select2({
            placeholder: "-- Pilih Fakultas --",
            width: "100%",
            ajax: {
                url: "/Admin/LinkFasilitasAdmin/GetFakultas",
                dataType: 'json',
                method: "POST",
                delay: 250,
                cache: false,
                data: function (params) {
                    return {
                        Search: params.term || "",
                        JenjangStudi: $('#' + id + "Cari").val(),
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                    };
                },
            }
        });
        $("#fakultasCari").change(function () {
            //clearValueOnForm();
            buttonHandler("close");
            $("#prodiCari").empty();
            $("#prodiIdCari").val('');
            $("#lokasiCari").empty();
            $("#matakuliahCari").empty();
            $("#seksiCari").empty();
            $("#lokasiCari").prop("disabled", true);
            $("#matakuliahCari").prop("disabled", true);
            $("#seksiCari").prop("disabled", true);

            $("#prodiCari").prop("disabled", false);
            /*$("#prodiCari").select2({
                placeholder: "-- Pilih Program Studi --",
                width: "100%",
                ajax: {
                    url: "s",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Search: params.term || "",
                            JenjangStudi: $('#' + id + "Cari").val(),
                            IdFakultas: $('#fakultasCari').val()
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.IDProdi, value: item.NamProdi, text: item.NamProdi + ' - ' + item.Lokasi, lokasi: item.Lokasi } })
                        };
                    },
                }
            });*/

            $("#prodiCari").select2({
                placeholder: "-- Pilih Program Studi --",
                width: "100%",
                ajax: {
                    url: "/Admin/linkfasilitasadmin/GetProdiByFakultas",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Search: params.term || "",
                            JenjangStudi: $('#' + id + "Cari").val(),
                            IDFakultas: $('#fakultasCari').val()
                        };
                    },
                    processResults: function (data, params) {
                        console.log(data);
                        return {
                            results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                        };
                    },
                }
            });

            $("#prodiCari").change(function () {
                //console.log("select2");

                buttonHandler("close");
                $("#lokasiCari").empty();
                $("#prodiIdCari").val('');
                $("#matakuliahCari").empty();
                $("#matakuliahCari").prop("disabled", true);

                $("#lokasiCari").prop("disabled", false);

                //$("#tahunAjaranCari").empty();
                //$("#tahunAjaranCari").prop("disabled", true);

                //$("#kampusCari").val('');
                $("#lokasiCari").select2({
                    placeholder: "-- Pilih Lokasi --",
                    width: "100%",
                    ajax: {
                        url: "/Admin/LinkFasilitasAdmin/GetLokasiByProdi",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                Search: params.term || "",
                                NamaProdi: $('#prodiCari').val(),
                                JenjangStudi: $('#' + id + "Cari").val()
                            };
                        },
                        processResults: function (data, params) {

                            //console.log(data);
                            return {
                                results: $.map(data, function (item) { return { id: item.ID, value: item.Kampus, text: item.Kampus } })
                            };
                        },
                    }
                });



                $("#lokasiCari").change(function () {
                    //console.log("select2");
                    //clearValueOnForm();
                    buttonHandler("close");
                    //$("#lokasiCari").empty();
                    //$("#prodiIdCari").val('');
                    $("#matakuliahCari").empty();
                    $("#seksiCari").empty();
                    $("#matakuliahCari").prop("disabled", true);

                    //$("#lokasiCari").prop("disabled", false);

                    //$("#kampusCari").val('');

                    //clearValueOnForm();
                    //$("#prodiIdCari").val($("#lokasiCari").val());

                    //$("#kampusCari").removeAttr('value');
                    //var kampus = $(this).find(":selected").text();
                    //console.log(kampus);
                    //$("#kampusCari").val(kampus);

                    buttonHandler("close");
                    $("#matakuliahCari").empty();
                    $("#matakuliahCari").prop("disabled", false);
                    $("#seksiCari").prop("disabled", true);
                    //$("#matakuliahNamaCari").val('');

                    //getLocationByPodiID();

                    //var start = 0;
                    //var end = 0;
                    var pageLength = 0;
                    $('#matakuliahCari').select2({
                        placeholder: "-- Pilih Mata Kuliah --",
                        "proccessing": true,
                        "serverSide": true,
                        //multiple: true,
                        width: "100%",
                        ajax: {
                            //url: "/Admin/DaftarHadirUjian/GetMataKuliah",
                            url: "/Admin/LinkFasilitasAdmin/GetMataKuliahFlag",
                            type: 'POST',
                            dataType: 'json',

                            data: function (params) {
                                // console.log('page : ' + params.page);
                                // console.log('p number : ' + (params.page - 1) * 10);

                                return {
                                    take: 10,
                                    searchBy: params.term || "",
                                    skip: params.page || 0,
                                    //idProdi: $('#lokasiCari').select2('data')[0].id,
                                    idProdi: $('#prodiCari').val(),
                                    idProdi: $('#lokasiCari').select2('data')[0].id,
                                    idFakultas: $('#fakultasCari').val(),
                                    jenjangStudi: $('#jenjangCari').val(),
                                    strm: $('#tahunAjaranCari').val(),
                                    lokasi: $('#lokasiCari').select2('data')[0].value
                                };
                            },

                            processResults: function (data, params) {

                                var page = params.page - 1 || 1;
                                pageLength = pageLength + data.length;



                                return {
                                    results: $.map(data, function (item) { return { id: item.MataKuliahID, value: item.MataKuliahID, text: item.KodeMataKuliah + ' - ' + item.NamaMataKuliah, name: item.NamaMataKuliah, kode: item.KodeMataKuliah } }),
                                    pagination: {
                                        more: data.length > 0 && data.length == 10
                                    }
                                }
                            },

                            /*
                               data: function (params) {


                                params.length = 10;
                                if (params.page > 1) {
                                    params.skip = params.page * params.length - (params.length - 1);
                                    start = params.skip - 1;
                                    end = params.skip - 1 + params.length;
                                } else {
                                    start = 0;
                                    end = 10;
                                }

                                return {

                                    //search: params.term,
                                    //instansi: $('#namaUniversitas').val(),
                                    //length: params.length || 10,
                                    //skip: params.skip || 0


                                     page: params.page || 0,
                                     skip: params.skip || 10,
                                     take: params.length || 10,
                                     searchBy: params.term,
                                     idProdi: $('#prodiIdCari').val(),
                                     idFakultas: $('#fakultasCari').val()

                                };
                            },
                            processResults: function (data, page) {


                                //console.log(data);
                                //console.log(data[0]);
                                //console.log(data.slice(start, end));
                                //console.log("st"+start);
                                //console.log("ed"+end);
                                //console.log(data.slice(start, end));

                                return {
                                    results: $.map(data.slice(start, end), function (item) { return { id: item.id, value: item.id, text: item.text, title: item.kode } }),
                                    pagination: {
                                        more: true
                                    }
                                }

                            },*/
                        }
                    });



                    $("#matakuliahCari").change(function () {
                        $("#seksiCari").prop("disabled", false);
                        /*
                            dataParam.NamaProdi = $('#prodiCari').val();
                            dataParam.lokasi = $('#lokasiCari').val();
                            dataParam.MataKuliahID = $('#matakuliahCari').val();
                        */

                        $("#matakuliahNamaCari").removeAttr('value');
                        var matakuliah = $(this).select2('data')[0].name;
                        var matakuliahkode = $(this).select2('data')[0].kode;
                        $("#matakuliahNamaCari").val(matakuliah);





                        $("#matakuliahKodeCari").val(matakuliahkode);
                        $("#matakuliahIdCari").val($(this).val());


                        buttonHandler("open");

                        $('#seksiCari').select2({

                            placeholder: "-- Pilih Seksi --",
                            "proccessing": true,
                            "serverSide": true,
                            //multiple: true,
                            width: "100%",
                            ajax: {
                                url: "/Admin/LinkFasilitasAdmin/GetSection",
                                type: 'POST',
                                dataType: 'json',
                                //quietMillis: 50,
                                data: function (params) {

                                },
                                processResults: function (data, params) {

                                    return {
                                        results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                    };

                                },
                            }
                        });
                        $("#seksiCari").change(function () {
                            buttonHandler("open");
                            //$("#matakuliahCari").empty();
                            //$("#jenjangCari").prop("disabled", false);
                            //loadJenjangStudi("JenjangStudi", "jenjang", "Jenjang Studi");


                        });

                    });


                });

            });



        });
    });
}


        function getLocationByPodiID() {
            //console.log("ajax");
            var dataParam = {};
            dataParam.NamaProdi = $('#prodiCari').val();
            dataParam.JenjangStudi = $('#jenjangCari').val();
            dataParam.Search = "";

            //console.log(dataParam);

            $.ajax({
                url: "/Admin/LinkFasilitasAdmin/GetLokasiByProdi",
                dataType: 'json',
                method: "POST",
                //delay: 250,
                //cache: false,
                contentType: 'application/json',
                data: JSON.stringify(dataParam),
                success: function (e) {
                    //console.log(e[0]);
                    $("#prodiIdCari").val(e[0].ID);
                    //console.log("Lokasi");
                }
            });
        }

        $(document).ready(function () {
            isZooming();
        });


        $(window).resize(function () {
            isZooming();
        });


        function isZooming() {
            var defaultH = 700;
            var square = $('.responsive-content');
            var screenH = $(document).height();
            //console.log("dfH :"+defaultH);
            //console.log("wnH :"+screenH);


            if (defaultH < screenH) {

                var footer = 39;
                var header = 105;
                var contentHeight = screenH - header - footer;

                if (defaultH < contentHeight) {
                    square.css('min-height', contentHeight);
                } else {
                    square.css('min-height', defaultH);
                }


            } else {
                square.css('min-height', defaultH);
            }
        }


    </script>

}
