
@{
    Layout = null;
}
@model MBKM.Entities.Models.MBKM.PendaftaranMataKuliah

<div class="modal-content data-content-modal" id="detail-pendaftaran-matakuliah">
    <div class="modal-header" style="background-color: #FF8A04; ">
        <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
            DETAIL TRACKING PENDAFTARAN MATA KULIAH
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body">
        <div class="container" style="width: 100%; padding-bottom: 15px;">
            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">MATA KULIAH TUJUAN</h5>
                <input type="hidden" value="@ViewData["disabled"].ToString()" id="statusDisable" disabled />
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Fakultas &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.JadwalKuliahs.NamaFakultas</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Program Studi &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.JadwalKuliahs.NamaProdi</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Lokasi &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.JadwalKuliahs.Lokasi</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Kode Mata Kuliah &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.JadwalKuliahs.KodeMataKuliah</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Nama Mata Kuliah &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.JadwalKuliahs.NamaMataKuliah</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>SKS &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.JadwalKuliahs.SKS</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Seksi &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.JadwalKuliahs.ClassSection</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Hari &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.JadwalKuliahs.Hari</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Waktu &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.JadwalKuliahs.JamMasuk - @Model.JadwalKuliahs.JamSelesai</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Nama Dosen &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.JadwalKuliahs.NamaDosen</h4>
                        </div>
                    </div>
                    <br />
                </form>
            </div>
            <br />
            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">MATA KULIAH ASAL</h5>
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Mata Kuliah &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>@Model.MatkulAsal</h4>
                        </div>
                    </div>
                    <br />
                </form>
            </div>
            <br />
            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">STATUS PENDAFTARAN</h5>
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Status Pendaftaran &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <div class="col-md-11">
                                <input type="text" name="kewarganegaraan" value="@Model.StatusPendaftaran" id="kewarganegaraan" class="form-control input-md input-data" disabled />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4 text-right">
                            <h4>Status &nbsp:</h4>
                        </div>
                        <div class="col-sm-8">
                            <a id="linkDetail" onclick="redirectToDetail('@Model.ID')" href="javascript:void();"><button type="button" class="btn btn-warning btn-sm onOff">Lihat</button></a>
                        </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>
