
@{
    ViewBag.Title = "IndexDetailPendaftaran";
    Layout = "~/Areas/Portal/Views/Shared/_LayoutHome.cshtml";
}
@model MBKM.Entities.Models.MBKM.CPLMKPendaftaran

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/AdminCostumeBS4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Portal/TrackingStatus/main.css">
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
}

<div class="container-fluid" style="margin-bottom:100px;">
    <div class="card center-block" style="background-color: white; width: 100%; margin-top: 30px; margin-bottom: 50px;">
        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                TRACKING STATUS PENDAFTARAN MATA KULIAH
            </h4>
            <hr />
            <div class="container-fluid">
                <div class="container" style="width: 100%; padding-bottom: 15px;">
                    <form class="form-horizontal">
                        <input type="hidden" value="@Model.ID" id="inp_ID" disabled />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>Nomor Induk Mahasiswa &nbsp:</h4>
                            </div>
                            <div class="col-sm-8">
                                <h4>@Model.PendaftaranMataKuliahs.mahasiswas.NIMAsal</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>Nama Mahasiswa &nbsp:</h4>
                            </div>
                            <div class="col-sm-8">
                                <h4>@Model.PendaftaranMataKuliahs.mahasiswas.Nama</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>Program Studi Asal &nbsp:</h4>
                            </div>
                            <div class="col-sm-8">
                                <h4>@Model.PendaftaranMataKuliahs.mahasiswas.ProdiAsal</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>Universitas Asal &nbsp:</h4>
                            </div>
                            <div class="col-sm-8">
                                <h4>@Model.PendaftaranMataKuliahs.mahasiswas.NamaUniversitas</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>Semester &nbsp:</h4>
                            </div>
                            <div class="col-sm-8">
                                <h4>@Model.PendaftaranMataKuliahs.mahasiswas.Semester</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>Jenis Program MBKM &nbsp:</h4>
                            </div>
                            <div class="col-sm-8">
                                <h4>@ViewData["jenisProgram"]</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>Jenis Kegiatan MBKM &nbsp:</h4>
                            </div>
                            <div class="col-sm-8">
                                <h4>@ViewData["jenisKegiatan"]</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>No. Kerjasama &nbsp:</h4>
                            </div>
                            @{
                                if (Model.PendaftaranMataKuliahs.mahasiswas.NoKerjasama == null || Model.PendaftaranMataKuliahs.mahasiswas.NoKerjasama == "")
                                {
                                    <div class="col-sm-8">
                                        <h4>-</h4>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-8">
                                        <h4>@Model.PendaftaranMataKuliahs.mahasiswas.NoKerjasama</h4>
                                    </div>
                                }
                            }
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>Kesenjangan  &nbsp</h4>
                            </div>
                            <div class="col-sm-5">
                                <textarea class="form-control input-data summernote" name="inp_bodyEmail" rows="3" id="inp_bodyEmail" placeholder="Input Body Email" disabled>@Model.PendaftaranMataKuliahs.Kesenjangan</textarea>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>Hasil  &nbsp</h4>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" name="kewarganegaraan" value="@Model.PendaftaranMataKuliahs.Hasil" id="kewarganegaraan" class="form-control input-md input-data" disabled />
                            </div>
                        </div>
                        <br />
                        @{
                            if (ViewData["jenisKegiatan"] != "Eksternal")
                            {
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        <h4>Konversi  &nbsp</h4>
                                    </div>
                                    <div class="col-sm-5">
                                        <select name="jenjangStudi" id="jenjangStudi" class="form-control input-data" required disabled>
                                            <option value="" selected disabled>@Model.PendaftaranMataKuliahs.Konversi</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                            }
                        }
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                <h4>Catatan  &nbsp</h4>
                            </div>
                            <div class="col-sm-5">
                                <textarea class="form-control input-data summernote" name="inp_bodyEmail" rows="3" id="inp_bodyEmail" placeholder="Input Body Email" disabled>@Model.PendaftaranMataKuliahs.mahasiswas.Catatan</textarea>
                            </div>
                        </div>
                        <br />
                        @{
                            if (ViewData["jenisKegiatan"] == "Internal" && ViewData["jenisProgram"] != "Pertukaran")
                            {
                                <div class="row">
                                    <div class="col-sm-3 text-right">
                                        <h4>Dosen Pembimbing  &nbsp</h4>
                                    </div>
                                    <div class="col-sm-5">
                                        <select name="jenjangStudi" id="jenjangStudi" class="form-control input-data" required disabled>
                                            <option value="" selected disabled>@Model.PendaftaranMataKuliahs.DosenPembimbing</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                            }
                        }
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-6" style="padding-left:50px">
                                <button type="button" onclick="RejectCPLPendaftaran()" class="btn btn-danger">REJECT</button>
                                <button type="button" onclick="AcceptedCPLPendaftaran()" class="btn btn-warning">ACCEPT</button>
                            </div>
                        </div>
                        <br />
                    </form>
                    <br />
                    @{
                        if (ViewData["jenisProgram"] == "Pertukaran")
                        {
                            <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
                                <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">DETAIL CAPAIAN PEMBELAJARAN PROGRAM STUDI ASAL</h5>
                                <form class="form-horizontal">
                                    @{
                                        if (ViewData["jenisKegiatan"] == "Internal")
                                        {
                                            <div class="row">
                                                <div class="col-sm-3 text-right">
                                                    <h4>Kode Mata Kuliah &nbsp :</h4>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h4>@Model.CPLMatakuliahs.KodeMataKuliah</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3 text-right">
                                                    <h4>Nama Mata Kuliah &nbsp :</h4>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h4>@Model.CPLMatakuliahs.NamaMataKuliah</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3 text-right">
                                                    <h4>Capaian Pembelajaran &nbsp:</h4>
                                                </div>
                                                <div class="col-sm-8">
                                                    @{
                                                        if (ViewData["countCPAsal"].Equals(0))
                                                        {
                                                            <div class="row" style="padding-bottom:10px">
                                                                <div class="col-sm-12" style="border: 1px solid coral; border-spacing: 100px; border-collapse: separate;">
                                                                    <h4>Tidak Ada Capaian</h4>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            foreach (var dat in ViewData["capaianAsal"] as IList<MBKM.Entities.Models.MBKM.CPLMatakuliah>)
                                                            {
                                                                <div class="row" style="padding-bottom:10px">
                                                                    <div class="col-sm-12" style="border: 1px solid coral; border-spacing: 100px; border-collapse: separate;">
                                                                        <h4>@dat.MasterCapaianPembelajarans.Capaian</h4>
                                                                    </div>
                                                                </div>
                                                            }

                                                        }

                                                    }
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-sm-3 text-right">
                                                    <h4>Kode Mata Kuliah &nbsp :</h4>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h4>-</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3 text-right">
                                                    <h4>Nama Mata Kuliah &nbsp :</h4>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h4>@Model.PendaftaranMataKuliahs.MatkulAsal</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3 text-right">
                                                    <h4>Capaian Pembelajaran &nbsp:</h4>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="row" style="padding-bottom:10px">
                                                        <div class="col-sm-12" style="border: 1px solid coral; border-spacing: 100px; border-collapse: separate;">
                                                            <h4>@Model.CPLAsal</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    <br />
                                </form>
                            </div>
                            <br />
                        }
                    }
                    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border:3px solid coral">
                        <h5 class="card-title" style="background-color: #FF8A04; padding: 15px; font-weight: bold; font-size: 24px; color: black;">DETAIL CAPAIAN PEMBELAJARAN PROGRAM STUDI YANG DITUJU</h5>
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <h4>Kode Mata Kuliah &nbsp :</h4>
                                </div>
                                <div class="col-sm-8">
                                    <h4>@Model.PendaftaranMataKuliahs.JadwalKuliahs.KodeMataKuliah</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <h4>Nama Mata Kuliah &nbsp :</h4>
                                </div>
                                <div class="col-sm-8">
                                    <h4>@Model.PendaftaranMataKuliahs.JadwalKuliahs.NamaMataKuliah</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    <h4>Capaian Pembelajaran &nbsp:</h4>
                                </div>
                                <div class="col-sm-8">

                                    @{
                                        if (ViewData["countCPTujuan"].Equals(0))
                                        {
                                            <div class="row" style="padding-bottom:10px">
                                                <div class="col-sm-12" style="border: 1px solid coral; border-spacing: 100px; border-collapse: separate;">
                                                    <h4>Tidak Ada Capaian</h4>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            foreach (var dat in ViewData["capaianTujuan"] as IList<MBKM.Entities.Models.MBKM.CPLMatakuliah>)
                                            {
                                                <div class="row" style="padding-bottom:10px">
                                                    <div class="col-sm-12" style="border: 1px solid coral; border-spacing: 100px; border-collapse: separate;">
                                                        <h4>@dat.MasterCapaianPembelajarans.Capaian</h4>
                                                    </div>
                                                </div>
                                            }

                                        }

                                    }
                                </div>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Portal/TrackingStatus/trackingDetail.js"></script>
    <script src="~/Scripts/loading/loadingoverlay.min.js"></script>

}


