
@{
    Layout = "~/Areas/Portal/Views/shared/_LayoutHome.cshtml";
    ViewBag.Title = "MBKM";
}


<style>
    .coral {
        color: coral;
    }

    .center {
        align-content: center;
        align-items: center;
        vertical-align: unset;
        align-self: center;
        text-align: center
    }

    .zero-padding {
        padding: 10px 15px !important;
    }

    .vertical-center {
        vertical-align: middle !important;
    }

    .no-border {
        border: 0px !important;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    table.dataTable.no-footer {
        border: none;
    }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 70%;
        left: 50%;
        width: 30%;
        height: 40px;
        margin-left: -20%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background: none;
    }

    thead tr {
        background-color: #FF8A04;
        border: 0;
    }

    .table-spacing {
        border-spacing: 0px 0.5rem !important;
    }

    .body-content {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
    }
</style>

<form action="@Url.Action("FormPendaftaran","PendaftaranMataKuliah")" method="post" id="daftarMatkul">
    <input type="hidden" id="idMatkul" name="idMatkul" />
</form>

<div class="card center-block" style="background-color: white; margin: 15px;">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
        <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; padding-left: 15px; font-weight: bold; font-size: 20px; color: black; ">
            DAFTAR KEHADIRAN MATA KULIAH<br />
            <p style="font-weight: normal; font-size: 15px; color: #c1baba;" id="subtitle"></p>
        </h5>
        <hr />
        <p style=" padding-right: 15px; padding-left: 15px; font-size: 18px; font-weight: bold; color: black; " >DETAIL MATA KULIAH</p>
        <div class="container" style="width: 100%; padding-bottom: 15px;">
            <table class="table table-borderless" style="width: auto;">
                <tr>
                    <td style="text-align: right;">Fakultas</td>
                    <td style="text-align: center;">:</td>
                    <td id="fakultas"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Program Studi</td>
                    <td style="text-align: center;">:</td>
                    <td id="prodi"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Kode Mata Kuliah</td>
                    <td style="text-align: center;">:</td>
                    <td id="kodeMataKuliah"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Nama Mata Kuliah</td>
                    <td style="text-align: center;">:</td>
                    <td id="namaMataKuliah"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Seksi</td>
                    <td style="text-align: center;">:</td>
                    <td id="seksi"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Lokasi</td>
                    <td style="text-align: center;">:</td>
                    <td id="lokasi"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Hari</td>
                    <td style="text-align: center;">:</td>
                    <td id="hari"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Waktu</td>
                    <td style="text-align: center;">:</td>
                    <td id="waktu"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Ruang Kelas</td>
                    <td style="text-align: center;">:</td>
                    <td id="ruangKelas"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Nama Dosen</td>
                    <td style="text-align: center;">:</td>
                    <td id="namaDosen"></td>
                </tr>
            </table>
            <hr />
            <div style="overflow-x: auto;">
                <table id="dataAbsen" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                    <thead>
                        <tr>
                            <th class="zero-padding no-border vertical-center sorting">Action</th>
                            <th class="zero-padding no-border vertical-center sorting">No.</th>
                            <th class="zero-padding no-border vertical-center sorting">Tanggal</th>
                            <th class="zero-padding no-border vertical-center sorting">Waktu</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var mataKuliah = null;
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetJadwalKuliahById", "PresensiKelas")?id=" + @Model
            }).then(function (response) {
                mataKuliah = response;
                $('#subtitle').html('Isi daftar kehadiran mata kuliah ' + response.JadwalKuliahs.NamaMataKuliah.toUpperCase() + ' sesuai dengan jadwal yang tersedia')
                $('#fakultas').html(response.JadwalKuliahs.NamaFakultas);
                $('#prodi').html(response.JadwalKuliahs.NamaProdi);
                $('#kodeMataKuliah').html(response.JadwalKuliahs.KodeMataKuliah);
                $('#namaMataKuliah').html(response.JadwalKuliahs.NamaMataKuliah);
                $('#seksi').html(response.JadwalKuliahs.ClassSection);
                $('#lokasi').html(response.JadwalKuliahs.Lokasi);
                $('#hari').html(response.JadwalKuliahs.Hari);
                $('#waktu').html(response.JadwalKuliahs.JamMasuk + ' - ' + response.JadwalKuliahs.JamSelesai);
                $('#ruangKelas').html(response.JadwalKuliahs.RuangKelas);
                $('#namaDosen').html(response.JadwalKuliahs.NamaDosen);
                loadTable(response.ID);
            });
        });

        function loadTable(id) {
            $('#jadwalKuliah').DataTable({
                ajax: {
                    url: '@Url.Action("GetAbsensi", "PresensiKelas")?jadwalKuliahId=' + id,
                    dataSrc: ''
                },
                "columns": [
                    {
                        "data": "ID",
                        "render": function (data, type, row, meta) {
                            return `<div class="col" style="text-align:center"><a href="javascript:void(0)" style="color:black" onclick="javascript:$('#idMatkul').val(${data}); $('#daftarMatkul').submit();"><i class="fas fa-edit"></i></a></div>`;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return '<div style="text-align:center; vertical-align: middle;">' + (meta.row + 1) + '</div>';
                        }
                    },
                    {
                        "data": "TanggalAbsen",
                        "render": function (data, type, row, meta) {
                            return '<div style="text-align:center; vertical-align: middle;">' + semesters[data] + '</div>';
                        }
                    },
                    {
                        "data": "JadwalKuliahs.NamaFakultas",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    }
                ]
            });
        }
        function submitRegistrasi() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("registerExternal", "Home")",
                data: mahasiswa
            }).then(function (response) {
                alert(response.message);
                if (response.status == 200) {
                    location.reload();
                }
            });
        }
        function loadNamaUniversitas() {
            $("#namaUniversitas").select2({
                placeholder: "-- Pilih Universitas --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("GetNamaInstansi", "Home")",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Length: "10",
                            Search: params.term || "",
                            Skip: (params.page - 1) * 10 || 0,
                        };
                    },
                    processResults: function (data, params) {
                        var page = params.page - 1 || 1;
                        return {
                            results: $.map(data, function (item) { return { id: item.NoKerjasama, value: item.NoKerjasama, nama: item.NamaInstansi, text: item.NamaInstansi } }),
                            pagination: {
                                more: (page * 10) <= data.length
                            }
                        };
                    },
                }
            });
        }
    </script>
}