
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        body{
            padding:0px
        }
        .logo {
            width: 65px
        }
        h1 {
            margin: 3px 0px
        }
        .Title{
            margin:26px 0
        }

        .Header {
            margin: 15px 0 0 0
        }
        .pd0{
            padding:0px;
        }
        .pd5 {
            padding: 5px 0
        }

        .documentStyle{
            border:solid 1px #222
        }

        .describe {
            font-size: 18px!important;
        }


            th.mhsList.start, td.mhsList.start {
                border-left: solid 1px;
            }

            th.mhsList {
                border-bottom: solid 1px;
                border-right: solid 1px;
                border-top: solid 1px;
                @*display: inline-block;*@
                padding: 10px;
            }

            td.mhsList {
                border: solid 1px;
                @*display: inline-block;*@
                padding: 7px 10px;
            }

    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="col-md-12 Header">
        <div class="col-md-1 pd0">
            <img class="logo" src="~/Asset/Lambang_Atma_Jaya.png" />
        </div>
        <div class="col-md-7 Title pd0">
            <b>
                <span> UNIVERSITAS KATOLIK INDONESIA</span>
                <h1>ATMA JAYA</h1>
            </b>
        </div>
        @*<div class="col-md-4 Title pd0">
            <center>
                <label>Kode Dokumen :</label> <br />
                <b class="describe">
                    FR-UAJ-02-92/R1
                </b>
            </center>


        </div>*@
    </div>
    <div class="container-fluid" style="width: 80vw; margin-left:auto; margin-right:auto; margin-top:70px">
        <div style="margin :20px 20px 20px 20px">
            <h3>REKAP NILAI MAHASISWA MBKM INTERNAL KELUAR ATMA JAYA - @ViewData["jenisSemester"].ToString() @ViewData["TahunSemester"].ToString()</h3>
            <table id="table-data-rekap-mahasiswa" class="table table-bordered">
                <thead style="background-color: lightgray; display: table-header-group;">
                    <tr>
                        <th rowspan="2" class="zero-padding2 small-text vertical-center center ">No</th>
                        <th rowspan="2" class="zero-padding2 small-text vertical-center center ">Tahun Semester</th>
                        <th rowspan="2" class="zero-padding2 small-text vertical-center center ">Jenjang Studi</th>
                        <th rowspan="2" class="zero-padding2 small-text vertical-center center ">NIM</th>
                        <th rowspan="2" class="zero-padding2 small-text vertical-center center ">Nama Mahasiswa</th>
                        <th rowspan="2" class="zero-padding2 small-text vertical-center center ">Program Studi</th>
                        <th colspan="8" class="zero-padding2 small-text vertical-center center ">Nilai Transfer</th>
                    </tr>
                    <tr>
                        <th class="zero-padding2 small-text vertical-center center ">Kampus Tempat MBKM</th>
                        <th class="zero-padding2 small-text vertical-center center ">Nama Mata Kuliah Asal </th>
                        <th class="zero-padding2 small-text vertical-center center ">SKS</th>
                        <th class="zero-padding2 small-text vertical-center center ">Nilai Huruf Asal</th>
                        <th class="zero-padding2 small-text vertical-center center ">Kode Mata kuliah Diakui</th>
                        <th class="zero-padding2 small-text vertical-center center ">Nama Mata Kuliah Diakui</th>
                        <th class="zero-padding2 small-text vertical-center center ">Nilai Huruf Diakui</th>
                        <th class="zero-padding2 small-text vertical-center center ">Bobot Nilai</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 1;
                        foreach (var d in ViewData["datas"] as List<String[]>)
                        {
                            <tr style="page-break-inside: avoid;">
                                <td class="zero-padding2 small-text  vertical-center center sorting">@i</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[0]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[1]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[2]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[3]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[4]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[5]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[6]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[7]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[8]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[9]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[10]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[11]</td>
                                <td class="zero-padding2 small-text  vertical-center center sorting">@d[12]</td>
                            </tr>
                            i = i + 1;
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
