<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIMBKM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/AdminCostumeBS4.css">
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    @RenderSection("css", required: false)
</head>
<style>
    body {
        padding-top: 105px;
    }

    a:hover {
        cursor: pointer;
    }

    input {
        max-width: 100%;
    }

    select {
        max-width: 100%;
    }

    .split {
        height: 96%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 105px;
    }
    /* Control the left side */
    .left {
        left: 0;
        width: 20%;
    }
    /* Control the right side */
    .right {
        right: 0;
        width: 80%;
        /*background-color: #c1baba;*/
    }

    li {
        border: solid;
        border-color: #FF8A04;
        border-radius: 5px;
        margin: 10px;
        border-width: 1px;
    }

        li a {
            color: #FF8A04;
        }

            li a:focus {
                color: #FF8A04;
            }

            li a:hover {
                color: #FF8A04;
            }

    textarea {
        max-width: 100%;
    }
</style>
<body>

    @RenderSection("modal", required: false)

    <div class="body-content split right">
        <nav>
            <ul class="nav split left">
                <li>
                    <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false"><i class="fas fa-hands-helping"></i> Manage Perjanjian Kerjasama</a>
                    <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                        <li><a href="@Url.Action("Index","PerjanjianKerjasama")">Daftar Perjanjian Kerjasama</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu2" aria-expanded="false"><i class="fas fa-hands-helping"></i> Perkuliahan MBKM</a>
                    <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-1">
                        <li><a href="@Url.Action("Index","VerifikasiMahasiswa")">Jadwal Perkuliahan MBKM</a></li>
                        <li><a href="@Url.Action("Index","JadwalUjian")">Jadwal Ujian MBKM</a></li>
                        <li><a href="@Url.Action("Index","ApprovalPendaftaranMatakuliah")">Link Fasilitas Perkuliahan</a></li>
                        <li><a href="@Url.Action("Index","ApprovalPendaftaranMatakuliah")">Presensi Kelas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu2" aria-expanded="false"><i class="fas fa-hands-helping"></i> Manage Mahasiswa</a>
                    <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-1">
                        <li><a href="@Url.Action("Index","VerifikasiMahasiswa")">Verifikasi Mahasiswa</a></li>
                        <li><a href="@Url.Action("Index","DaftarSeluruhMahasiswa")">Daftar Seluruh Mahasiswa</a></li>
                        <li><a href="@Url.Action("Index","ApprovalPendaftaranMatakuliah")">Approval Pendaftaran</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu4" aria-expanded="false"><i class="fas fa-hands-helping"></i> Output MBKM</a>
                    <ul class="nav collapse" id="submenu4" role="menu" aria-labelledby="btn-1">
                        <li><a href="@Url.Action("Index","MasterCPL")">Master CPL</a></li>
                        <li><a href="@Url.Action("Index","MasterMapingCapaianPembelajaran")">Mapping CPL Per Mata Kuliah</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu5" aria-expanded="false"><i class="fas fa-hands-helping"></i> Administrasi MBKM</a>
                    <ul class="nav collapse" id="submenu5" role="menu" aria-labelledby="btn-1">
                        <li><a href="@Url.Action("Index","MasterCPL")">Manage Mata Kuliah MBKM</a></li>
                        <li><a href="@Url.Action("Index","ManageJadwalUjian")">Manage Ujian MBKM</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu3" aria-expanded="false"><i class="fas fa-hands-helping"></i> Roles Management</a>
                    <ul class="nav collapse" id="submenu3" role="menu" aria-labelledby="btn-1">
                        <li><a href="@Url.Action("Index","UserManage")">Manage Login User</a></li>
                        <li><a href="@Url.Action("Index","MasterLookup")">Manage Master Lookup</a></li>
                        <li><a href="@Url.Action("Index","TemplateEmail")">Manage Template Email</a></li>
                        <li><a href="@Url.Action("Index","RegisMhsByAdmin")">Registrasi Mahasiswa MBKM</a></li>
                        <li><a href="@Url.Action("Index","Role")">Manage Role</a></li>
                        <li><a href="@Url.Action("Index","Menu")">Manage Menu</a></li>
                        <li><a href="@Url.Action("Index","MenuRole")">Manage Menu Role</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        @RenderBody()
        <div class="navbar navbar-fixed-top" style="background-color: #FF8A04;">
            <img src="~/Asset/Lambang_Unika_Atma_Jaya.png" style="max-height: 75px; margin: 15px 25px;" /><!-- Avatar -->
            <div class="dropdown" style="float: right; margin: 27.5px; ">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="img-rounded" height="50" alt="" />
                    <asd style="color: black; font-weight: bold; font-size: 16px;">@HttpContext.Current.Session["username"].ToString()</asd>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="@Url.Action("Logout", "AdminLogin")">Logout</a>
                    </li>
                </ul>
            </div>
            <footer style="height: 3%; background-color: white; vertical-align: central; position: fixed; left: 0; bottom: 0; width: 100%; text-align: center; font-size: auto">
                <p> &copy; Copyright 2021 Universitas Katolik Indonesia Atma Jaya - All Right Reserved</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/select2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>