﻿
@{ ViewBag.Title = "KHS";
     }

@*@model MBKM.Entities.ViewModel.VMKHS*@
<style>
    .box {
        border: solid 1px coral;
        padding: 15px 25px;
        margin: 15px 0px;
    }

    .footnote {
        margin: 0 20%;
    }

    table.footer tr td {
        text-align: center;
    }

    th {
        background: #fff;
        padding: 15px 0px;
        font-size: 13px;
    }
</style>

<div class="container-fluid" style="padding: 0px">
    <div class="card center-block" style="background-color: white; width: 100%; padding: 0px">
        <div class="card-body responsive-content" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 3px solid coral; padding: 0px">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                KHS<br />
            </h4>
            <hr />

            <div class="container" style="width: 100%;">
                
                @*<div class="col" style="text-align:center"><a target="_blank" href="javascript:void(0)" style="color:black" onclick="KHSPage()"><span class="fa fa-download"></span></a></div>*@

                <br />
                <br />

                <div class="box col-md-6">
                    <table hidden class="table" style="width: auto;">
                        <tr>
                            <td style="text-align: right">Tahun Semester</td>
                            <td style="width: 400px;">
                                <select name="tahunSemester" id="tahunSemester" class="form-control input-md"></select>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>SEMESTER</td>
                            <td style="padding:5px"> : </td>
                            <td id="semester"></td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>NIM</td>
                            <td style="padding:5px"> : </td>
                            <td id="nim"></td>
                        </tr>
                        <tr>
                            <td>NAMA</td>
                            <td style="padding:5px"> : </td>
                            <td id="name"></td>
                        </tr>
                        <tr>
                            <td>UNIVERSITAS ASAL</td>
                            <td style="padding:5px"> : </td>
                            <td id="univ"></td>
                        </tr>
                    </table>






                </div>
                <div class=" col-md-2">
                </div>

                <div class="box col-md-4">
                    <table>




                        <tr>
                            <td>A</td>
                            <td style="padding:3px"> = </td>
                            <td id="nA">4.00</td>
                            <td style="padding-left: 60px"> M = MUNDUR (WITHDRAWN)</td>


                        </tr>

                        <tr>
                            <td>A-</td>
                            <td style="padding:3px;padding-right:5px"> = </td>
                            <td id="nAm">3.70</td>
                            @*<td style="padding-left: 100px; padding-top: -10px"> WITHDRAWn</td>*@
                        </tr>
                        <tr>
                            <td>B+</td>
                            <td style="padding:3px"> = </td>
                            <td id="nBp">3.30</td>
                            <td style="padding-left:60px"> R = CEKAL (BARRED)</td>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td style="padding:3px"> = </td>
                            <td id="nB">3.00</td>
                            @*<td style="padding-left:100px"> BARRED</td>*@
                        </tr>
                        <tr>
                            <td>B-</td>
                            <td style="padding:3px"> = </td>
                            <td id="nBm">2.70</td>
                            <td style="padding-left:60px"> S = SAKIT (SICK)</td>
                        </tr>
                        <tr>
                            <td>C+</td>
                            <td style="padding:3px"> = </td>
                            <td id="nCp">2.30</td>
                            @*<td style="padding-left:100px"> SICK</td>*@
                        </tr>
                        <tr>
                            <td>C</td>
                            <td style="padding:3px"> = </td>
                            <td id="nC">2.00</td>
                            <td style="padding-left:60px"> T = TUNDA (POSTPONED)</td>
                        </tr>
                        <tr>
                            <td>D</td>
                            <td style="padding:3px"> = </td>
                            <td id="nD">1.00</td>
                            @*<td style="padding-left:100px"> POSTPONED</td>*@
                        </tr>
                        <tr>
                            <td>E</td>
                            <td style="padding:3px"> = </td>
                            <td id="nE">0</td>
                        </tr>

                    </table>
                </div>
                <div>

                </div>
                <table width="100%" class="table table-bordered table-striped hover dt-responsive responsive">
                    <thead>
                        <tr>
                            @*<th width="10%">NO</th>*@
                            <th width="20%">KODE MATA KULIAH</th>
                            <th width="40%">NAMA MATA KULIAH</th>
                            <th width="10%">SEKSI</th>
                            <th width="10%">SKS(K)</th>
                            <th width="10%">NILAI(N)</th>
                            <th width="10%">HASIL(N X K)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in (IEnumerable<MBKM.Entities.ViewModel.VMKHS>)ViewData["EmployeeList2"])
                        {
                            <tr>
                                <td>@employee.KodeMataKuliah</td>
                                <td>@employee.NamaMatakuliah</td>
                                <td>@employee.Seksi</td>
                                <td>@employee.SKS</td>
                                <td>@employee.Nilai</td>
                                <td>@employee.Hasil</td>
                                
                            </tr>
                        }

                    </tbody>
                </table>
                @*<div style="overflow-x: auto;">*@
                


            </div>



        </div>
    </div>
</div>





@section scripts{
    <script>
         $(document).ready(function () {
             $('#name').html("@ViewData["nama"].ToString()");
             $('#nim').html("@ViewData["nim"].ToString()");
             $('#univ').html("@ViewData["univ"].ToString()");
             $('#semester').html("@ViewData["semester"].ToString()");
            // console.log(@Model);
        });

    </script>

}