
@{
    ViewBag.Title = "Master Maping Capaian Pembelajaran Per-Mata Kuliah - SIMBKM";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

@section css{

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
}
@section modal{
    <div class="modal fade" id="TambahMasterMapingCapaianPembelajaran" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="modal-inner">

        </div>
    </div>
}

<div class="container-fluid" style="padding: 0px">
    <div class="card center-block" style="background-color: white; width: 100%; padding: 0px">
        <div class="card-body responsive-content" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 3px solid coral; padding: 0px">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                MASTER MAPING CAPAIAN PEMBELAJARAN PER-MATA KULIAH<br />
                <small class="describe">Berikut Table Mapping Capaian Pembelajaran dengan Mata Kuliah</small>
            </h4>
            <hr />
            <div class="container" style="width: 100%;">

                <div class="col-md-12">
                    <form class="form-horizontal col-md-7">
                        <div class="form-group">
                            <label for="inp_jenjang" class="col-sm-3 control-label">Jenjang Studi</label>
                            <div class="col-sm-9">
                                <select name="jenjangCari" id="jenjangCari" class="form-control input-md">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inp_fakultas" class="col-sm-3 control-label">Fakultas</label>
                            <div class="col-sm-9">
                                <select name="fakultasCari" id="fakultasCari" class="form-control input-md" disabled>
                                    @{
                                        if (ViewData["KodeFakultas"] != null)
                                        {
                                            <option value="@ViewData["KodeFakultas"]" selected>@ViewData["NamaFakultas"]</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inp_prodi" class="col-sm-3 control-label">Program Studi</label>
                            <div class="col-sm-9">
                                <select name="prodiCari" id="prodiCari" class="form-control input-md" disabled>
                                    @{
                                        if (ViewData["KodeProdi"] != null)
                                        {
                                            <option id="@ViewData["KodeProdi"]" value="@ViewData["NamaProdi"]" selected>@ViewData["NamaProdi"]</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label for="inp_lokasi" class="col-sm-3 control-label">Lokasi</label>
                            <div class="col-sm-9">
                                <select name="lokasiCari" id="lokasiCari" class="form-control input-md"></select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="inp_prodiId" class="col-sm-3 control-label">Kampus</label>
                            <div class="col-sm-9">
                                <input name="kampusCari" id="kampusCari" class="form-control input-md" disabled>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for="inp_prodiId" class="col-sm-3 control-label">Prodi ID</label>
                            <div class="col-sm-9">
                                <input name="prodiIdCari" id="prodiIdCari" class="form-control input-md" disabled>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="inp_matakuliah" class="col-sm-3 control-label">Mata Kuliah</label>
                            <div class="col-sm-9">
                                <select name="matakuliahCari" id="matakuliahCari" class="form-control input-md">
                                </select>
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            <label for="inp_matakuliahId" class="col-sm-3 control-label">Nama Mata Kuliah</label>
                            <div class="col-sm-9">
                                <input name="matakuliahNamaCari" id="matakuliahNamaCari" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <label for="inp_matakuliahKode" class="col-sm-3 control-label">Kode Mata Kuliah</label>
                            <div class="col-sm-9">
                                <input name="matakuliahKodeCari" id="matakuliahKodeCari" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <label for="inp_matakuliahId" class="col-sm-3 control-label">Id Mata Kuliah</label>
                            <div class="col-sm-9">
                                <input name="matakuliahIdCari" id="matakuliahIdCari" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-md-offset-10">
                                <button type="button" id="cari" class="btn btn-warning" style="float: right;" title="Mohon untuk melengkapi form pencarian terlebih dahulu!" disabled><span class="fa fa-search"></span> Cari</button>
                            </div>
                        </div>
                    </form>
                </div>



                <button id="add" class="btn btn-success" onclick="IndexCreateMasterMapingCapaianPembelajaran()" title="Mohon untuk melengkapi form pencarian terlebih dahulu!" disabled><i class="fas fa-plus-circle"></i> Tambah Master Maping</button>
                <br />
                <br />
                <!--table-responsive-->
                <!--<div id="table-data-master-mapping-cpl-overflow">-->
                <table id="table-data-master-mapping-cpl" class="table table-bordered table-spacing dataTable table-responsive display nowrap">
                    <thead>
                        <tr>
                            <th class="zero-padding no-border vertical-center sorting">Action</th>
                            <th class="zero-padding no-border vertical-center sorting">No.</th>
                            <th class="zero-padding no-border vertical-center sorting">Kode Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">Nama Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">Kode CPL</th>
                            <th class="zero-padding no-border vertical-center sorting">Kelompok</th>
                            <th class="zero-padding no-border vertical-center sorting">Status</th>
                            <th class="zero-padding no-border vertical-center sorting" style="width: 100%;">Capaian Pembelajaran</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            <!--</div>-->
            </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Admin/MasterMapingCapaianPembelajaran/main.js"></script>
    <script src="~/Scripts/Admin/MasterMapingCapaianPembelajaran/crud.js"></script>
    <script src="~/Scripts/loading/loadingoverlay.min.js"></script>

}

