
@{
    ViewBag.Title = "MASTER MAPING CAPAIAN PEMBELAJARAN PER-MATA KULIAH";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

@section css{

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
}
@section modal{
    <div class="modal fade" id="TambahMasterMapingCapaianPembelajaran" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="modal-inner">

        </div>
    </div>
}

<div class="container-fluid" style="padding: 0px">
    <div class="card center-block" style="background-color: white; width: 100%; padding: 0px">
        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border: 3px solid coral; padding: 0px">
            <h4 class="card-title" style="padding-top: 30px; padding-right: 20px; padding-left: 30px; font-weight: bold; font-size: 30px; color: black;">
                MASTER MAPING CAPAIAN PEMBELAJARAN PER-MATA KULIAH<br />
                <small class="describe">Berikut Table Mapping Capian Pembelajaran dengan Mata Kuliah</small>
            </h4>
            <hr />
            <div class="container" style="width: 100%;">

                <div class="col-md-12">
                    <form class="form-horizontal col-md-7">
                        <div class="form-group">
                            <label for="inp_jenjang" class="col-sm-3 control-label">Jenjang Studi</label>
                            <div class="col-sm-9">
                                <select class="form-control input-data" name="jenjang" id="jenjang">
                                    @*<option value="" selected disabled>-- Pilih Authority Approval --</option>*@
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inp_fakultas" class="col-sm-3 control-label">Fakultas</label>
                            <div class="col-sm-9">
                                <select name="fakultas" id="fakultas" class="form-control input-md"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inp_email" class="col-sm-3 control-label">Program Studi</label>
                            <div class="col-sm-9">
                                <select name="prodi" id="prodi" class="form-control input-md"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inp_bodyEmail" class="col-sm-3 control-label">Mata Kuliah</label>
                            <div class="col-sm-9">
                                <select class="form-control input-pendaftaran input-data">
                                    <option value="value">-</option>
                                    <option value="value">hallo</option>
                                    <option value="value">hallo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-md-offset-10">
                                <button type="button" onclick="SearchMasterLookup()" class="btn btn-warning">Cari</button>
                            </div>
                        </div>
                    </form>
                </div>



                <button class="btn btn-success" onclick="IndexCreateMasterMapingCapaianPembelajaran()"><i class="fas fa-plus-circle"></i> Tambah Master Maping</button>
                <br />
                <br />
                <!--table-responsive-->
                <table id="table-data-master-mapping-cpl" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                    <thead>
                        <tr>
                            <th class="zero-padding no-border vertical-center sorting">Action</th>
                            <th class="zero-padding no-border vertical-center sorting">No.</th>
                            <th class="zero-padding no-border vertical-center sorting">Kode Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">Nama Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">Kode CPL</th>
                            <th class="zero-padding no-border vertical-center sorting">Kelompok</th>
                            <th class="zero-padding no-border vertical-center sorting">Capaian Pembelajaran</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Admin/MasterMapingCapaianPembelajaran/main.js"></script>
    <script src="~/Scripts/Admin/MasterMapingCapaianPembelajaran/crud.js"></script>
    <script src="~/Scripts/loading/loadingoverlay.min.js"></script>



    <script>
        var datatable = null;
        $(document).ready(function () {

            loadFromLookup("JenjangStudi", "jenjang", "Jenjang Studi");

            @*loadFakultas();*@
            @*$("#prodi").select2({
                placeholder: "-- Pilih Program Studi --"
            });
            $("#lokasi").select2({
                placeholder: "-- Pilih Lokasi --"
            });
            datatable = $('#hasilPencarian').DataTable({
            });*@
        });
        $('#cari').click(function () {
            datatable.destroy();
            datatable = $('#hasilPencarian').DataTable({
                ajax: {
                    url: '@Url.Action("GetMataKuliahByProdi","PendaftaranMataKuliah")?idProdi=' + $('#prodi').val(),
                    dataSrc: ''
                },
                "columns": [
                    {
                        "data": "ID",
                        "render": function (data, type, row, meta) {
                            return `<div class="row justify-content-center">
                            <div class="col" style="text-align:center">
                                <a href="javascript:void(0)" style="color:black" onclick="javascript:alert('${data}')"> tes</i></a>
                            </div>
                        </div>`;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    }
                ]
            });
        });
        function convertMilisecondToDate(value) {
            var num = parseInt(value.match(/\d+/), 10)
            // console.log(value);

            // var time = value; // get your number
            var date = new Date(num); // create Date object
            // var date = new Date(1324339200000);
            // console.log(date.toString());
            var result = ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + date.getFullYear()
            return result;

        }

@*        function loadFakultas() {


            $("#fakultas").select2({
                placeholder: "-- Pilih Fakultas --",
                width: "100%",
                ajax: {
                    url: "/Admin/MasterMapingCapaianPembelajaran/GetFakultas",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        console.log(params);

                        return {
                            Tipe: tipe
                        };
                        return {
                            Search: params.term || "",
                            jenjang: $("#jenjang").val()
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                        };
                    },
                }
            });
            $("#fakultas").change(function () {
                $("#prodi").select2({
                    placeholder: "-- Pilih Program Studi --",
                    width: "100%",
                    ajax: {
                        url: "/Admin/MasterMapingCapaianPembelajaran/GetProdiByFakultas",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                Search: params.term || "",
                                IDFakultas: $('#fakultas').val()
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                            };
                        },
                    }
                });
                $("#prodi").change(function () {
                    $("#lokasi").select2({
                        placeholder: "-- Pilih Lokasi --",
                        width: "100%",
                        ajax: {
                            url: "@Url.Action("GetLokasiByProdi", "PendaftaranMataKuliah")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    IDProdi: $('#prodi').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Kampus } })
                                };
                            },
                        }
                    });
                });
            });
        }
*@
@*        function loadFromLookup(tipe, id, nama) {
            $("#" + id).select2({
                placeholder: "-- Pilih " + nama + " --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("getLookupByTipe", "MasterMapingCapaianPembelajaran")",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Tipe: tipe
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                        };
                    },
                }
            });
        }
*@

        function loadFromLookup(tipe, id, nama) {
            $("#" + id).select2({
                placeholder: "-- Pilih " + nama + " --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("getLookupByTipe", "MasterMapingCapaianPembelajaran")",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    data: function (params) {
                        return {
                            Tipe: tipe
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                        };
                    },
                }
            });
            $("#" + id).change(function () {
                $("#fakultas").select2({
                    placeholder: "-- Fakultas --",
                    width: "100%",
                    ajax: {
                        url: "/Admin/MasterMapingCapaianPembelajaran/GetFakultas",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                Search: params.term || "",
                                JenjangStudi: $('#'+id).val()
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                            };
                        },
                    }
                });
                $("#fakultas").change(function () {
                    $("#prodi").select2({
                        placeholder: "-- Pilih Program Studi --",
                        width: "100%",
                        ajax: {
                            url: "/Admin/MasterMapingCapaianPembelajaran/GetProdiByFakultas",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    JenjangStudi: $('#' + id).val(),
                                    IDFakultas: $('#fakultas').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                                };
                            },
                        }
                    });
                    $("#prodi").change(function () {
                        $("#matakuliah").select2({
                            placeholder: "-- Pilih Program Studi --",
                            width: "100%",
                            ajax: {
                                url: "/Admin/MasterMapingCapaianPembelajaran/GetMataKuliahByProdi",
                                dataType: 'json',
                                method: "POST",
                                delay: 250,
                                cache: false,
                                data: function (params) {
                                    return {
                                        Search: params.term || "",
                                        JenjangStudi: $('#' + id).val(),
                                        IDFakultas: $('#fakultas').val()
                                    };
                                },
                                processResults: function (data, params) {
                                    return {
                                        results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Nama } })
                                    };
                                },
                            }
                        });
                        $("#matakuliah").change(function () {
                            $("#lokasi").select2({
                                placeholder: "-- Pilih Lokasi --",
                                width: "100%",
                                ajax: {
                                    url: "@Url.Action("GetMataKuliahByProdi", "MasterMapingCapaianPembelajaran")",
                                    dataType: 'json',
                                    method: "POST",
                                    delay: 250,
                                    cache: false,
                                    data: function (params) {
                                        return {
                                            Search: params.term || "",
                                            IDProdi: $('#prodi').val(),
                                        };
                                    },
                                    processResults: function (data, params) {
                                        return {
                                            results: $.map(data, function (item) { return { id: item.ID, value: item.ID, text: item.Kampus } })
                                        };
                                    },
                                }
                            });
                        });
                    });
                });
            });
        }




    </script>

}

