@{
    Layout = null;
}

@model MBKM.Entities.Models.User

<div class="modal-content data-content-modal" id="created-email-template">
    <div class="modal-header" style="background-color: #FF8A04; ">
        <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
            DETAIL LOGIN USER
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="frmEdit">
            <div class="form-group">
                <label for="nomorindukpegawai" class="col-sm-3 control-label">Nomor Induk Pegawai</label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.NoPegawai, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group">
                <label for="inp_email" class="col-sm-3 control-label">Nama</label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group">
                <label for="inp_bodyEmail" class="col-sm-3 control-label">Alamat Email</label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled" } })
                </div>
            </div>
            @*<div class="form-group">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled" } })
                </div>
            </div>*@
            <div class="form-group">
                <label for="jabatan" class="col-sm-3 control-label">Jabatan</label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Roles.RoleName, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group">
                <label for="prodi" class="col-sm-3 control-label">Prodi</label>
                <div class="col-sm-9">
                    @*@Html.EditorFor(model => model.KodeProdi,new { @class = "form-control input-pendaftaran input-data", @id = "idProdi", @name = "idProdi", disabled = "disabled" })*@
                    @Html.DropDownListFor(model => model.KodeProdi, ViewBag.listProdi as SelectList, "--Pilih Prodi/unit--", new { @class = "form-control input-pendaftaran input-data", @id = "idProdi", @name = "idProdi", disabled = "disabled" })

                    @*@Html.EditorFor(model => model.NamaProdi, new { htmlAttributes = new { @class = "form-control input-pendaftaran", maxlength = 100, disabled = "disabled" } })*@
                </div>
            </div>
            <div class="form-group">
                <label for="inp_status" class="col-sm-3 control-label">Status</label>
                <div class="col-sm-9">
                    @{
                        if (Model.IsActive)
                        {
                            <input type="email" class="form-control input-pendaftaran" value="Aktif" name="inp_email" id="inp_email" placeholder="Input Subject Email" disabled>
                        }
                        else
                        {
                            <input type="email" class="form-control input-pendaftaran" value="Tidak Aktif" name="inp_email" id="inp_email" placeholder="Input Subject Email" disabled>
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-md-offset-10">
                    <button type="button" onclick="$('.modal').modal('hide')" class="btn btn-warning">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

