@{
    Layout = null;
}

@model MBKM.Entities.Models.User

<div class="modal-content data-content-modal" id="update-user-template">
    <div class="modal-header" style="background-color: #FF8A04; ">
        <input type="hidden" id="id_userTemplate" value="@Model.ID" />
        <h5 class="card-title" style="font-weight: bold; font-size: 30px; color: black;">
            EDIT USER
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" id="frmEdit">
            <div class="form-group">
                <label for="nomorindukpegawai" class="col-sm-3 control-label">Nomor Induk Pegawai</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control input-pendaftaran asd" value="@Model.NoPegawai" id="txtnomorindukpegawai" placeholder="Input Induk Pegawai">
                </div>
            </div>
            <div class="form-group">
                <label for="inp_email" class="col-sm-3 control-label">Nama</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control input-pendaftaran asd" value="@Model.UserName" id="txtnama" placeholder="Input Nama">
                </div>
            </div>
            <div class="form-group">
                <label for="inp_bodyEmail" class="col-sm-3 control-label">Alamat Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control input-pendaftaran asd" value="@Model.Email" id="txtemail" placeholder="Input Alamat Email">
                </div>
            </div>
            <div class="form-group" hidden="hidden">
                <label for="password" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control input-pendaftaran asd" value="@Model.Password" id="txtpassword" hidden="hidden" disabled="disabled" placeholder="Input Password">
                </div>
            </div>
            <div class="form-group row">
                @if (ViewBag.listJabatan != null)
                {
                    <label for="IdRole" class="col-sm-3 control-label">Jabatan</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.RoleID, ViewBag.listJabatan as SelectList, new { @class = "form-control input-pendaftaran asd", @id = "idRole", @name = "idRole" })
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="inp_email" class="col-sm-3 control-label">Fakultas</label>
                <div class="col-sm-9">
                    <select class="form-control input-md asd" name="inp_fakukltas" id="inp_fakultas" placeholder="Pilih Kelompok">
                        <option value="@Model.NamaFakultas" selected>@Model.NamaFakultas</option>
                    </select>
                    <!--<input type="text" >-->
                </div>
            </div>
            <div id="divSpecialRole" class="form-group row" hidden>
                <label class="col-sm-3 control-label">HiddenIfNotKaprodi</label>
                <div class="col-sm-9">
                    <input type="text" value="" class="form-control input-pendaftaran input-data" disabled="disabled" id="specialRole" name="specialRole">

                </div>
            </div>
            <div id="divProdi" class="form-group row">
                @if (ViewBag.listProdi != null)
                {
                    <label for="idProdi" class="col-sm-3 control-label">Prodi</label>
                    <div class="col-sm-9">
                        @* @Html.DropDownList("IDProdiAndNamaProdi", ViewBag.listProdi as SelectList, "First Option", new { name = "Name", id = "id" })*@
                        @Html.DropDownListFor(model => model.KodeProdi, ViewBag.listProdi as SelectList, "--Pilih Prodi/unit--", new { @class = "form-control input-pendaftaran asd", @id = "idProdi", @name = "idProdi" })
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="inp_email" class="col-sm-3 control-label">KPTSNIDN</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control input-pendaftaran asd" value="@Model.KPTSDIN" id="txtKPTSDIN" placeholder="Input KPTSNIDN">
                </div>
            </div>
            <div class="form-group">
                <label for="inp_status" class="col-sm-3 control-label">Status</label>

                @if (Model.IsActive == true)
                {


                    <div class="col-sm-9">

                        <label class="radio-inline input-pendaftaran">
                            <input type="radio" name="inpStatus" id="inp_status" value="1" checked> Aktif
                        </label>
                        <label class="radio-inline input-pendaftaran">
                            <input type="radio" name="inpStatus" id="inp_status" value="0"> Tidak Aktif
                        </label>
                    </div>

                }
                @if (Model.IsActive == false)
                {
                    <div class="col-sm-9">

                        <label class="radio-inline input-pendaftaran">
                            <input type="radio" name="inpStatus" id="inp_status" value="1"> Aktif
                        </label>
                        <label class="radio-inline input-pendaftaran">
                            <input type="radio" name="inpStatus" id="inp_status" value="0" checked> Tidak Aktif
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-md-offset-10">
                    <button type="button" onclick="PostUpdateUser()" class="btn btn-warning">Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>
