
@{
    ViewBag.Title = "Presensi Kelas";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

@section css{

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
}

<style>

    .coral {
        color: coral;
    }

    .center {
        align-content: center;
        align-items: center;
        vertical-align: unset;
        align-self: center;
        text-align: center
    }

    .zero-padding {
        padding: 10px 15px !important;
    }

    .vertical-center {
        vertical-align: middle !important;
    }

    .no-border {
        border: 0px !important;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    table.dataTable.no-footer {
        border: none;
    }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 70%;
        left: 50%;
        width: 30%;
        height: 40px;
        margin-left: -20%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background: none;
    }

    thead tr {
        background-color: #FF8A04;
        border: 0;
    }

    .table-spacing {
        border-spacing: 0px 0.5rem !important;
    }

    .body-content {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>
<form action="@Url.Action("DetailPresensi","PresensiKelas")" method="post" id="detailPresensi">
    <input type="hidden" id="idJadwal" name="idJadwal" />
    <input type="hidden" id="tanggalAbsen" name="tanggalAbsen" />
    @*<input type="hidden" id="dateString" name="dateString" type="date" />*@
    <input type="hidden" id="strm" name="strm" />
    <input type="hidden" id="kodeMatkul" name="kodeMatkul" />
    @*<input type="hidden" id="ruangKelas" name="ruangKelas" />*@
    <input type="hidden" id="section" name="section" />
    @*<input type="hidden" id="jamMasuk" name="jamMasuk" />
        <input type="hidden" id="jamKeluar" name="jamKeluar" />*@
    <input type="hidden" id="detailPresensi" name="detailPresensi" />
</form>

<div class="card center-block" style="background-color: white; margin: 15px;">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
        <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; padding-left: 15px; font-weight: bold; font-size: 20px; color: black; ">
            PRESENSI KELAS <br />
            <p style="font-weight: normal; font-size: 15px; color: #c1baba;">Berikut daftar pertemuan untuk presensi kelas</p>
        </h5>
        <hr />
        <div class="container" style="width: 100%; padding-bottom: 15px;">
            <div class="col-md-12">
                <form class="form-horizontal col-md-7">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tahun Semester</label>
                        <div class="col-sm-9">
                            <select name="tahunSemester" id="tahunSemester" class="form-control input-md"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_jenjang" class="col-sm-3 control-label">Jenjang Studi</label>
                        <div class="col-sm-9">
                            <select name="jenjangStudi" id="jenjangStudi" class="form-control input-md"></select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_fakultas" class="col-sm-3 control-label">Fakultas</label>
                        <div class="col-sm-9">
                            <select name="fakultas" id="fakultas" class="form-control input-md"></select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_prodi" class="col-sm-3 control-label">Program Studi</label>

                        <div class="col-sm-9">
                            <select name="prodi" id="prodi" class="form-control input-md"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_lokasi" class="col-sm-3 control-label">Lokasi</label>
                        <div class="col-sm-9">
                            <select name="lokasi" id="lokasi" class="form-control input-md"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_matakuliah" class="col-sm-3 control-label">Mata Kuliah</label>
                        <div class="col-sm-9">
                            <select name="mataKuliah" id="mataKuliah" class="form-control input-md"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_seksi" class="col-sm-3 control-label">Seksi (Optional)</label>
                        <div class="col-sm-9">
                            <select name="seksi" id="seksi" class="form-control input-md"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-md-offset-10">
                            <button id="cari" name="cari" class="btn" style="float: right; background-color: #FF8A04; color: white; padding: 2px 30px; font-weight: bold; font-size: 16px;" type="button">CARI</button>
                        </div>
                    </div>
                </form>

            </div>

            <br />
            <br />

            <div style="overflow-x: auto;" class="col-md-12">
                <h5 class="card-title" style="padding-top: 15px; padding-right: 15px; font-weight: bold; font-size: 18px; color: black; ">
                    DAFTAR PERTEMUAN
                </h5>
                <table id="hasilPencarian" class="table table-bordered table-spacing js-basic-example dataTable display nowrap">
                    <thead>
                        <tr>
                            <th class="zero-padding no-border vertical-center sorting">Kehadiran</th>
                            <th class="zero-padding no-border vertical-center sorting">No.</th>
                            <th class="zero-padding no-border vertical-center sorting">Tanggal</th>
                            <th class="zero-padding no-border vertical-center sorting">Waktu</th>
                            <th class="zero-padding no-border vertical-center sorting">Kode Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">Nama Mata Kuliah</th>
                            <th class="zero-padding no-border vertical-center sorting">Seksi</th>
                            <th class="zero-padding no-border vertical-center sorting">Ruang Kelas</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var datatable;
        var role = 0;
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        $(document).ready(function () {
            loadJenjangStudi();
            $("#jenjangStudi").select2({
                placeholder: "-- Pilih Jenjang Studi --"
            });
            $("#fakultas").select2({
                placeholder: "-- Pilih Fakultas --"
            });
            $("#prodi").select2({
                placeholder: "-- Pilih Program Studi --"
            });
            $("#lokasi").select2({
                placeholder: "-- Pilih Lokasi --"
            });
            $("#mataKuliah").select2({
                placeholder: "-- Pilih Mata Kuliah --"
            });
            $("#seksi").select2({
                placeholder: "-- Pilih Seksi --"
            });
            datatable = $('#hasilPencarian').DataTable();
        });


        //--<> Helper
@*        function convertDate(getDate) {



            var date = getDate.split("T")[0];

            console.log(date);
            var parts = date.split('-');
            var createdate = new Date(parts[0], parts[1] - 1, parts[2]);

            var result = weekday[createdate.getFullYear() + '-' + month[createdate.getMonth()] + '-' + createdate.getDate();

            return result;
        }
*@
        $('#cari').click(function () {
            if (!$('#tahunSemester').val() || !$('#jenjangStudi').val() || !$('#fakultas').val() || !$('#mataKuliah').val() || !$('#prodi').val() || !$('#lokasi').val()) {
                alert('Tolong lengkapi data pencarian!');
                return;
            }
            var seksi = $('#seksi').val();
            if (!$('#seksi').val()) {
                seksi = '';
            }
            datatable.destroy();
            datatable = $('#hasilPencarian').DataTable({
                ajax: {
                    'type': 'POST',
                    'url': '@Url.Action("GetPresensi", "PresensiKelas")',
                    'data': {
                        strm: $('#tahunSemester').val(),
                        jenjangStudi: $('#jenjangStudi').val(),
                        fakultas: $('#fakultas').val(),
                        lokasi: $('#lokasi').val(),
                        prodi : $('#prodi').val(),
                        matkul : $('#mataKuliah').val(),
                        seksi:seksi


                        // etc..
                    },
                    @*url: '@Url.Action("GetPresensi", "PresensiKelas")?strm=' + $('#tahunSemester').val() + '&jenjangStudi=' + $('#jenjangStudi').val() + '&fakultas=' + $('#fakultas').val() + '&lokasi=' + $('#lokasi').val() + '&prodi=' + $('#prodi').val() + '&matkul=' + $('#mataKuliah').val() + '&seksi=' + seksi,*@
                    dataSrc: ''
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 1
                }],
                "order": [
                    [1, 'asc']
                ],
                "columns": [
                    {
                        "data": "IDJadwalKuliah",
                        "render": function (data, type, row, meta) {
                            var date = new Date(row.TanggalAbsen);
                            //var now = new Date();
                            //if (date.getDate() == now.getDate() && date.getMonth() == now.getMonth() && date.getFullYear() == now.getFullYear()) {

                            console.log(row.TanggalAbsen);

                            var tanggal = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
                            //var dateString = convertDate(row.TanggalAbsen);
                            //var newdate = new Date(dateString);
                                //return '<div class="col" style="text-align:center"><a href="javascript:void(0)" style="color:black" onclick="javascript:$(\'#idJadwal\').val(\'' + data + '\'); $(\'#tanggalAbsen\').val(\'' + tanggal + '\'); $(\'#detailPresensi\').submit();"><i class="fas fa-edit"></i></a></div>';
                            //}
                            //$(\'#dateString\').val(\'' + row.TanggalAbsen + '\');
                            //return `<div class="col" style="text-align:center"><a href="javascript:void(0)" style="color:black" onclick="javascript:alert('DATA ABSEN HANYA BISA DIAKSES PADA TANGGAL ABSEN!');"><i class="fas fa-edit"></i></a></div>`;
                            // $(\'#jamMasuk\').val(\''+row.JamMasuk+'\');$(\'#jamKeluar\').val(\''+row.JamKeluar+'\');
                            //;$(\'#ruangKelas\').val(\''+row.RuangKelas+'\')
                            return '<div class="col" style="text-align:center"><a href = "javascript:void(0)" style = "color:black" onclick="javascript:$(\'#tanggalAbsen\').val(\'' + tanggal + '\'); $(\'#strm\').val(\''+$('#tahunSemester').val()+'\');$(\'#kodeMatkul\').val(\''+row.KodeMataKuliah+'\');$(\'#section\').val(\''+row.Seksi+'\');$(\'#detailPresensi\').submit();" > <i class="fas fa-edit"></i></a ></div>';
                        }
                    },
                    {
                        "data": null
                    },
                    {
                        "data": "TanggalAbsen",
                        "render": function (data, type, row, meta) {
                            var data = new Date(data);
                            var string = data.getDate() + '/' + (data.getMonth() + 1) + '/' + data.getFullYear();
                            return '<div style="text-align:center; vertical-align: middle;">' + string + '</div>';
                        }
                    },
                    {
                        "data": "JamMasuk",
                        "render": function (data, type, row, meta) {
                            var jamMasuk = new Date(data);
                            var jamKeluar = new Date(row.JamKeluar);
                            var string1 = appendZero(jamMasuk.getHours() + '', 2) + ':' + appendZero(jamMasuk.getMinutes() + '', 2);
                            var string2 = appendZero(jamKeluar.getHours() + '', 2) + ':' + appendZero(jamKeluar.getMinutes() + '', 2);
                            return '<div style="text-align:center; vertical-align: middle;">' + string1 + ' - ' + string2 + '</div>';
                        }
                    },
                    {
                        "data": "KodeMataKuliah",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "NamaMataKuliah",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "Seksi",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    },
                    {
                        "data": "RuangKelas",
                        "render": function (data, type, row, meta) {
                            return '<div class="center">' + data + '</div>';
                        }
                    }
                ]
            });
            datatable.on('order.dt search.dt', function () {
                datatable.column(1, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
        function loadJenjangStudi() {

            $("#jenjangStudi").prop("disabled", true);
            $("#fakultas").prop("disabled", true);
            $("#lokasi").prop("disabled", true);
            $("#prodi").prop("disabled", true);
            $("#mataKuliah").prop("disabled", true);
            $("#seksi").prop("disabled", true);

            $("#tahunSemester").select2({
                placeholder: "-- Pilih Tahun Semester --",
                width: "100%",
                ajax: {
                    url: "@Url.Action("GetSemesterAll2", "PresensiKelas")",
                    dataType: 'json',
                    method: "POST",
                    delay: 250,
                    cache: false,
                    processResults: function (data, params) {
                        return {
                            results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                        };
                    }
                }
            });
            $("#tahunSemester").change(function () {
                $("#jenjangStudi").prop("disabled", false);
                //console.log(role);
                if (role == 1) {
                    $("#jenjangStudi").select2({
                        placeholder: "-- Pilih Jenjang Studi --",
                        width: "100%",
                        ajax: {
                            url: "@Url.Action("getLookupByTipe", "PresensiKelas")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Tipe: 'JenjangStudi'
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                                };
                            }
                        }
                    });
                    $("#jenjangStudi").change(function () {

                        //$("#fakultas").empty();
                        $("#prodi").empty();
                        $("#lokasi").empty();
                        $("#mataKuliah").empty();
                        $("#seksi").empty();


                        //$("#fakultas").prop("disabled", false);
                        //$("#prodi").prop("disabled", true);
                        $("#lokasi").prop("disabled", true);
                        $("#mataKuliah").prop("disabled", true);
                        $("#seksi").prop("disabled", true);


                        $("#prodi").empty();
                        $("#lokasi").empty();
                        $("#mataKuliah").empty();
                        $("#seksi").empty();

                        $("#prodi").prop("disabled", false);
                        $("#lokasi").prop("disabled", true);
                        $("#mataKuliah").prop("disabled", true);
                        $("#seksi").prop("disabled", true);

                        $("#prodi").select2({
                            placeholder: "-- Pilih Program Studi --",
                            width: "100%",
                            ajax: {
                                url: "@Url.Action("GetProdiByFakultas", "Penilaian")",
                                dataType: 'json',
                                method: "POST",
                                delay: 250,
                                cache: false,
                                data: function (params) {
                                    return {
                                        Search: params.term || "",
                                        Fakultas: $('#fakultas').val(),
                                        JenjangStudi: $('#jenjangStudi').val()
                                    };
                                },
                                processResults: function (data, params) {
                                    return {
                                        results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                    };
                                },
                            }
                        });
                        $("#prodi").change(function () {

                            $("#lokasi").empty();
                            $("#mataKuliah").empty();
                            $("#seksi").empty();

                            $("#lokasi").prop("disabled", false);
                            $("#mataKuliah").prop("disabled", true);
                            $("#seksi").prop("disabled", true);

                            $("#lokasi").select2({
                                placeholder: "-- Pilih Lokasi --",
                                width: "100%",
                                ajax: {
                                    url: "@Url.Action("GetLokasiByProdi", "Penilaian")",
                                    dataType: 'json',
                                    method: "POST",
                                    delay: 250,
                                    cache: false,
                                    data: function (params) {
                                        return {
                                            Search: params.term || "",
                                            Prodi: $('#prodi').val(),
                                            JenjangStudi: $('#jenjangStudi').val()
                                        };
                                    },
                                    processResults: function (data, params) {
                                        return {
                                            results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                        };
                                    },
                                }
                            });
                            $("#lokasi").change(function () {

                                $("#mataKuliah").empty();
                                $("#seksi").empty();

                                $("#mataKuliah").prop("disabled", false);
                                $("#seksi").prop("disabled", true);

                                $("#mataKuliah").select2({
                                    placeholder: "-- Pilih Mata Kuliah --",
                                    width: "100%",
                                    ajax: {
                                        url: "@Url.Action("GetMatkulByLokasi", "Penilaian")",
                                        dataType: 'json',
                                        method: "POST",
                                        delay: 250,
                                        cache: false,
                                        data: function (params) {
                                            return {
                                                Search: params.term || "",
                                                Prodi: $('#prodi').val(),
                                                Lokasi: $('#lokasi').val(),
                                                JenjangStudi: $('#jenjangStudi').val()
                                            };
                                        },
                                        processResults: function (data, params) {
                                            return {
                                                results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                            };
                                        },
                                    }
                                });
                                $("#mataKuliah").change(function () {

                                    $("#seksi").empty();

                                    $("#seksi").prop("disabled", false);

                                    $("#seksi").select2({
                                        placeholder: "-- Pilih Seksi --",
                                        width: "100%",
                                        ajax: {
                                            url: "@Url.Action("GetSeksiByMatkul", "Penilaian")",
                                            dataType: 'json',
                                            method: "POST",
                                            delay: 250,
                                            cache: false,
                                            data: function (params) {
                                                return {
                                                    Search: params.term || "",
                                                    Matkul: $('#mataKuliah').val(),
                                                    Lokasi: $('#lokasi').val(),
                                                    Prodi: $('#prodi').val(),
                                                    JenjangStudi: $('#jenjangStudi').val()
                                                };
                                            },
                                            processResults: function (data, params) {
                                                return {
                                                    results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                                };
                                            },
                                        }
                                    });
                                });
                            });
                        });
                        return;
                    });
                }
                @*if (role == 2) {
                    $("#mataKuliah").empty();
                    $("#seksi").empty();

                    $("#mataKuliah").prop("disabled", false);
                    $("#seksi").prop("disabled", true);

                    $("#mataKuliah").select2({
                        placeholder: "-- Pilih Mata Kuliah --",
                        width: "100%",
                        ajax: {
                            url: "@Url.Action("GetMatkulByLokasi", "Penilaian")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    Prodi: $('#prodi').val(),
                                    Lokasi: $('#lokasi').val(),
                                    JenjangStudi: $('#jenjangStudi').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                };
                            },
                        }
                    });
                    $("#mataKuliah").change(function () {

                        $("#seksi").empty();

                        $("#seksi").prop("disabled", false);

                        $("#seksi").select2({
                            placeholder: "-- Pilih Seksi --",
                            width: "100%",
                            ajax: {
                                url: "@Url.Action("GetSeksiByMatkul", "Penilaian")",
                                dataType: 'json',
                                method: "POST",
                                delay: 250,
                                cache: false,
                                data: function (params) {
                                    return {
                                        Search: params.term || "",
                                        Matkul: $('#mataKuliah').val(),
                                        Lokasi: $('#lokasi').val(),
                                        Prodi: $('#prodi').val(),
                                        JenjangStudi: $('#jenjangStudi').val()
                                    };
                                },
                                processResults: function (data, params) {
                                    return {
                                        results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                    };
                                },
                            }
                        });
                    });
                    return;
                }*@
                else {
                $("#jenjangStudi").empty();
                $("#fakultas").empty();
                $("#prodi").empty();
                $("#lokasi").empty();
                $("#mataKuliah").empty();
                $("#seksi").empty();

                $("#jenjangStudi").prop("disabled", false);
                $("#fakultas").prop("disabled", true);
                $("#prodi").prop("disabled", true);
                $("#lokasi").prop("disabled", true);
                $("#mataKuliah").prop("disabled", true);
                $("#seksi").prop("disabled", true);

                $("#jenjangStudi").select2({
                    placeholder: "-- Pilih Jenjang Studi --",
                    width: "100%",
                    ajax: {
                        url: "@Url.Action("getLookupByTipe", "PresensiKelas")",
                        dataType: 'json',
                        method: "POST",
                        delay: 250,
                        cache: false,
                        data: function (params) {
                            return {
                                Tipe: 'JenjangStudi'
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: $.map(data, function (item) { return { id: item.Nilai, value: item.Nilai, text: item.Nama } })
                            };
                        }
                    }
                });
                $("#jenjangStudi").change(function () {

                    $("#fakultas").empty();
                    $("#prodi").empty();
                    $("#lokasi").empty();
                    $("#mataKuliah").empty();
                    $("#seksi").empty();

                    $("#fakultas").prop("disabled", false);
                    $("#prodi").prop("disabled", true);
                    $("#lokasi").prop("disabled", true);
                    $("#mataKuliah").prop("disabled", true);
                    $("#seksi").prop("disabled", true);

                    $("#fakultas").select2({
                        placeholder: "-- Pilih Fakultas --",
                        width: "100%",
                        ajax: {
                            url: "@Url.Action("GetFakultasByJenjangStudi", "PresensiKelas")",
                            dataType: 'json',
                            method: "POST",
                            delay: 250,
                            cache: false,
                            data: function (params) {
                                return {
                                    Search: params.term || "",
                                    JenjangStudi: $('#jenjangStudi').val()
                                };
                            },
                            processResults: function (data, params) {
                                return {
                                    results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                };
                            },
                        }
                    });
                    $("#fakultas").change(function () {

                        $("#prodi").empty();
                        $("#lokasi").empty();
                        $("#mataKuliah").empty();
                        $("#seksi").empty();

                        $("#prodi").prop("disabled", false);
                        $("#lokasi").prop("disabled", true);
                        $("#mataKuliah").prop("disabled", true);
                        $("#seksi").prop("disabled", true);

                        $("#prodi").select2({
                            placeholder: "-- Pilih Program Studi --",
                            width: "100%",
                            ajax: {
                                url: "@Url.Action("GetProdiByFakultas", "PresensiKelas")",
                                dataType: 'json',
                                method: "POST",
                                delay: 250,
                                cache: false,
                                data: function (params) {
                                    return {
                                        Search: params.term || "",
                                        Fakultas: $('#fakultas').val(),
                                        JenjangStudi: $('#jenjangStudi').val()
                                    };
                                },
                                processResults: function (data, params) {
                                    return {
                                        results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                    };
                                },
                            }
                        });
                        $("#prodi").change(function () {

                            $("#lokasi").empty();
                            $("#mataKuliah").empty();
                            $("#seksi").empty();

                            $("#lokasi").prop("disabled", false);
                            $("#mataKuliah").prop("disabled", true);
                            $("#seksi").prop("disabled", true);

                            $("#lokasi").select2({
                                placeholder: "-- Pilih Lokasi --",
                                width: "100%",
                                ajax: {
                                    url: "@Url.Action("GetLokasiByProdi", "PresensiKelas")",
                                    dataType: 'json',
                                    method: "POST",
                                    delay: 250,
                                    cache: false,
                                    data: function (params) {
                                        return {
                                            Search: params.term || "",
                                            Prodi: $('#prodi').val(),
                                            JenjangStudi: $('#jenjangStudi').val()
                                        };
                                    },
                                    processResults: function (data, params) {
                                        return {
                                            results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                        };
                                    },
                                }
                            });
                            $("#lokasi").change(function () {

                                $("#mataKuliah").empty();
                                $("#seksi").empty();

                                $("#mataKuliah").prop("disabled", false);
                                $("#seksi").prop("disabled", true);

                                $("#mataKuliah").select2({
                                    placeholder: "-- Pilih Mata Kuliah --",
                                    width: "100%",
                                    ajax: {
                                        url: "@Url.Action("GetMatkulByLokasi", "PresensiKelas")",
                                        dataType: 'json',
                                        method: "POST",
                                        delay: 250,
                                        cache: false,
                                        data: function (params) {
                                            return {
                                                Search: params.term || "",
                                                Prodi: $('#prodi').val(),
                                                Lokasi: $('#lokasi').val(),
                                                JenjangStudi: $('#jenjangStudi').val()
                                            };
                                        },
                                        processResults: function (data, params) {
                                            return {
                                                results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                            };
                                        },
                                    }
                                });
                                $("#mataKuliah").change(function () {

                                    $("#seksi").empty();

                                    $("#seksi").prop("disabled", false);

                                    $("#seksi").select2({
                                        placeholder: "-- Pilih Seksi --",
                                        width: "100%",
                                        ajax: {
                                            url: "@Url.Action("GetSeksiByMatkul", "PresensiKelas")",
                                            dataType: 'json',
                                            method: "POST",
                                            delay: 250,
                                            cache: false,
                                            data: function (params) {
                                                return {
                                                    Search: params.term || "",
                                                    Matkul: $('#mataKuliah').val(),
                                                    Lokasi: $('#lokasi').val(),
                                                    Prodi: $('#prodi').val(),
                                                    JenjangStudi: $('#jenjangStudi').val()
                                                };
                                            },
                                            processResults: function (data, params) {
                                                return {
                                                    results: $.map(data, function (item) { return { id: item.Nama, value: item.Nama, text: item.Nama } })
                                                };
                                            },
                                        }
                                    });
                                });
                            });
                        });
                    });
                });
                }

            });
            cekRole();
        }
        function appendZero(string, length) {
            string += "";
            while (string.length < length) {
                string = "0" + string;
            }
            return string;
        }
        function cekRole() {
            if ('@HttpContext.Current.Session["RoleName"].ToString()' == 'Admin Fakultas') {
                role = 1;
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetInformasiKampusByFakultas", "Penilaian")"
                }).then(function (response) {
                    //option = $("<option selected='selected'></option>").val(response.JenjangStudi).text(response.JenjangStudi);
                    //$("#jenjangStudi").append(option).trigger('change');
                    //$("#jenjangStudi").prop("disabled", true);
                    var option = $("<option selected='selected'></option>").val(response.Fakultas).text(response.Fakultas);
                    $("#fakultas").append(option).trigger('change');
                    $("#fakultas").prop("disabled", true);
                });
            } else if ('@HttpContext.Current.Session["RoleName"].ToString()' == 'Kepala Program Studi' || '@HttpContext.Current.Session["RoleName"].ToString()' == 'Dosen') {
                role = 2;
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetInformasiKampusByProdi", "Penilaian")"
                }).then(function (response) {
                    @*option = $("<option selected='selected'></option>").val(response.JenjangStudi).text(response.JenjangStudi);
                    $("#jenjangStudi").append(option).trigger('change');
                    $("#jenjangStudi").prop("disabled", true);*@
                    @*var option = $("<option selected='selected'></option>").val(response.Fakultas).text(response.Fakultas);
                    $("#fakultas").append(option).trigger('change');
                    $("#fakultas").prop("disabled", true);
                    option = $("<option selected='selected'></option>").val(response.Prodi).text(response.Prodi);
                    $("#prodi").append(option).trigger('change');
                    $("#prodi").prop("disabled", true);
                    option = $("<option selected='selected'></option>").val(response.Lokasi).text(response.Lokasi);
                    $("#lokasi").append(option).trigger('change');
                    $("#lokasi").prop("disabled", true);*@
                });
            }
        }
    </script>
}